<div [class.hidden]="!show">
    <div class="spinner" *ngIf="show" id="spinner">
      <mat-spinner class="mauto" mode="indeterminate" [diameter]="100"></mat-spinner>
    </div>
  </div>
<app-header-portfolio #headerPage [isNewPost]='true'></app-header-portfolio>
<div class='content'>
    <div class="menu col-12 col-lg-12">
        <div class='row'>
            <div class='flex div-btns'>
                <div class='row'>
                    <div class='button'>
                        <button type="button" class="btn-save btn-gray" (click)="saveDraft()">
                            <span class='span-save' *ngIf="!draftSaved">Salvar Rascunho</span><span class='span-save' *ngIf="draftSaved">Rascunho Salvo</span> <img class='save-img' src="assets/img/check.svg" *ngIf="draftSaved">
                        </button>
                    </div>
                    <div class='button'>
                        <button type="button" class="btn-save btn-gray" (click)="onPrevia()">
                            <span class='span-save'>Prévia</span>
                        </button>
                    </div>
                    <div class='button'>
                        <button (click)="onSubmitPublication()" class="button btn btn-post">
                            Publicar
                        </button>
                    </div>
                    <div class='div-btn-dots col-1'>
                        <div class='button btn-dots' [ngbPopover]="popContent" placement="bottom" data-toggle="popover">
                        </div>
                    </div>
                    <ng-template #popContent>
                        <div class="edit-settings-popover">
                           
                            <div class="row">
                                <div class='col'>
                                    <button mat-button (click)="openDialog()">Editar Configurações</button>
                                </div>
                            </div>

                            <div class="row">
                                <div class='col'>
                                    <button mat-button (click)="remove()">Deletar</button>
                                </div>
                            </div>

                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="row col-12">
        <div class="div-title col-12 col-sm-8">
            <input id="title" type="text" class="title-new-publication" [(ngModel)]="title"
                placeholder="Adicione um Título" name="title" required>
        </div>
    </div>
    <div cdkDrop class='col-drop' (cdkDropDropped)="dropped($event)">
        <div class=" row col-12 post" *ngFor="let item of post" cdkDrag vsDragScroll >
            <div class='div-content col-12 col-sm-8'>
                <div class="row icons">
                    <img class="grab" src="assets/img/move.svg"
                        matTooltip="Segure e mova para alterar a ordem." matTooltipPosition="right" cdkDragHandle>
                    <img class="right-pos pointer" src="assets/img/trash.svg" matTooltip="Deletar"
                        matTooltipPosition="left" (click)="deleteItem(item)">
                </div>
                <medium-editor *ngIf="item.type == 'text'" [(editorModel)]="item.value" [editorOptions]="{'toolbar': {'buttons':
                         [{
                            name: 'bold',
                            aria: 'Negrito',
                            style: {
                                prop: 'font-weight',
                                value: '900|bold'
                              },
                              
                            contentDefault: '<b>Negrito</b>'
     
                        },{
                            name: 'italic',
                            aria : 'Itálico',
                            contentDefault: '<b><i>Itálico</i></b>'
                        },{
                            name : 'anchor',
                            aria: 'link',
                            placeholderText : 'Insira um link'
                        },{
                            name : 'h1',
                            aria : 'Título Tipo 1',
                            contentDefault: '<b style=\'font-size:16px\'>Grande</b>'
                        },{
                            name : 'h2',
                            aria : 'Título Tipo 2',
                            contentDefault: '<b style=\'font-size:12px\'>Médio</b>'
                        },{
                            name : 'h3',
                            aria : 'Título Tipo 3',
                            contentDefault: '<b style=\'font-size:10px\'>Pequeno</b>'
                        },{
                            
                            name : 'quote',
                            aria : 'Citação'
                        }]}}" [editorPlaceholder]="placeholderVar">
                </medium-editor>
                <div class="postImage" *ngIf="item.type == 'image'">
                    <img [src]="item.html">
                </div>
                <div class='container embed-responsive embed-responsive-16by9'>
                    <div class="postVideo " *ngIf="item.type == 'video'" [innerHtml]="item.html | sanitizeHtml: 'url'">
                    </div>
                </div>
                <div class="postEmbed " *ngIf="item.type == 'embed'">
                    <mat-card class="mat-card ng-star-inserted">
                        <mat-card-content class="cut-text mat-card-content">
                            <div class="row">
                                <div class="img-container ng-star-inserted col-md-2">
                                    <img class="mat-card-image" mat-card-image="" [src]="item.html.image">
                                </div>
                                <a href="{{item.html.url}}" target="_blank" class="col-md-9">
                                    <div class="">
                                        <mat-card-title class="mat-card-title">
                                            {{item.html.title}}
                                        </mat-card-title>
                                        <mat-card-subtitle class="mat-card-subtitle">
                                            {{item.html.description}}
                                        </mat-card-subtitle>
                                    </div>
                                </a>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <input class="hidden" type="file" accept="image/*" #imageInput (change)="getImageBase64(imageInput)" multiple>
        <div class="col-md-12">
            <div class="btns">
                <button class="btn-plus" mat-fab (click)="addComponents()" *ngIf="!showComponent">+</button>
                <button class="btn-component" mat-fab (click)="otherComponents('text')" *ngIf="showComponent">
                    <img class="center-pos" src="assets/img/type.svg">
                    Texto
                </button>
                <button class="btn-component" mat-fab (click)="imageInput.click()" onfocus="if(this.value!=='') this.value='';" *ngIf="showComponent">
                    <img class="center-pos" src="assets/img/image.svg">
                    Imagem
                </button>
                <button class="btn-component" mat-fab (click)="otherComponents('video')" *ngIf="showComponent">
                    <img class="center-pos" src="assets/img/video.svg">
                    Vídeo
                </button>
                <button class="btn-component" mat-fab (click)="otherComponents('embed')" *ngIf="showComponent">
                    <img class="center-pos" src="assets/img/link-2.svg">
                    Incorporar
                </button>
            </div>
        </div>
    </div>
</div>


<!--{
                            name: 'fontsize',
                            action: 'fontSize',
                            contentDefault: '<b>Tamanho da Fonte</b>'
                        },-->