@import '~src/styles/global/colors';
@import '~src/styles/global/helper';

.menu {
    width: 100%;
    margin-top: 40px;
    margin-left: auto;
    display: block;
}

.div-btns {
    margin-left: auto;
    margin-right: 1.5em;
}


.button {
    margin-right: 0.8em
}

.span-save{
    margin-top:auto;
    margin-bottom:auto;
}


.save-img{
    margin-right:0.2em;
    opacity: 0.3;
    margin-top:auto;
    margin-bottom:auto;
    margin-left:auto;
    float:right;
    width:24px;
    height:24px;
}

.btn {
    height: 50px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    overflow: hidden;
    font-style: normal;
    letter-spacing: 0.5px;
}

.btn-save {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 1px solid $border-button;
    color: $font;
    width: 78px;
}

.btn-post {
    width: 85px;
}

.div-title {
    margin: auto;
}

.div-content {
    margin: auto;
}

.menu .btn-dots {
    width: 22px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../assets/img/three-dots-16px.png);
}

.edit-settings-popover {
    height: 100%;
    width: 200px;
    background: $white;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    border: solid 2px $hover-gray;
    margin: 0 auto;
    margin-left: -170px;
}

.edit-settings-popover .mat-button {
    width: 100%;
    height: 50px;
    display: block;
    font-family: Poppins;
    font-size: 12px;
    font-stretch: normal;
    line-height: normal;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: right;
    color: $font;
    border-bottom: 1px solid $hover-gray;
}

.content {
    width: 90%;
}

.post {
    padding-top: 20px;
    padding-bottom: 15px;
}


.title-new-publication {
    width: 100%;
    min-height: 60px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    font-size: 35px;
    font-weight: 300;
    color: $font;
    letter-spacing: normal;
    background-color: white;
    padding-left: 20px;
}

.content .btn-plus {
    width: 42px;
    height: 42px;
    font-family: Poppins;
    font-size: 30px;
    color: $btn-yellow;
    background-color: transparent;
    border: solid 2px $btn-yellow;
    margin-right: 15px;
    margin-top: 10px;
    box-shadow: none;
}

.content .btn-plus:hover {
    color: $bg-gray-light;
    background-color: $btn-yellow;
}

.mat-fab .mat-button-wrapper {
    padding: 0px !important;
}

.btns {
    display: block;
    margin: auto;
    text-align: center;
}

.medium-toolbar-arrow-under:after {
    border-color: #000 transparent transparent transparent;
    top: 40px;
}

.medium-toolbar-arrow-over:before {
    border-color: transparent transparent #000 transparent;
}

.medium-editor-action-bold{
    z-index: 100 !important
    
}

.medium-editor-action-anchor b{
    color : #010101;
    
}


.medium-editor-action-anchor b::after{
    color : #c7c7c7;
    content: 'Link' !important
}

.medium-editor-action-anchor:hover b::after {
    color: #99ccbd;
    content: 'Link' !important
}

.medium-editor-toolbar {
    background-color: #000;
    border: none;
    border-radius: 50px;
}

.medium-editor-toolbar li button {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    color: #ccc;
    height: 40px;
    min-width: 40px;
    padding: 5px 12px;
    -webkit-transition: background-color .2s ease-in, color .2s ease-in;
    transition: background-color .2s ease-in, color .2s ease-in;
}

.medium-editor-toolbar li button:hover {
    background-color: #000;
    color: #a2d7c7;
}

.medium-editor-toolbar li .medium-editor-button-first {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    padding-left: 24px;
}

.medium-editor-toolbar li .medium-editor-button-last {
    border-bottom-right-radius: 50px;
    border-right: none;
    border-top-right-radius: 50px;
    padding-right: 24px;
}

.medium-editor-toolbar li .medium-editor-button-active {
    background-color: #000;
    color: #a2d7c7;
}

.medium-editor-toolbar-form {
    background: #000;
    border-radius: 50px;
    color: #ccc;
    overflow: hidden;
}

.medium-editor-toolbar-form .medium-editor-toolbar-input {
    background: #000;
    box-sizing: border-box;
    color: #ccc;
    height: 40px;
    padding-left: 16px;
    width: 220px;
}

.medium-editor-toolbar-form .medium-editor-toolbar-input::-webkit-input-placeholder {
    color: #f8f5f3;
    color: rgba(248, 245, 243, 0.8);
}

.medium-editor-toolbar-form .medium-editor-toolbar-input:-moz-placeholder {
    /* Firefox 18- */
    color: #f8f5f3;
    color: rgba(248, 245, 243, 0.8);
}

.medium-editor-toolbar-form .medium-editor-toolbar-input::-moz-placeholder {
    /* Firefox 19+ */
    color: #f8f5f3;
    color: rgba(248, 245, 243, 0.8);
}

.medium-editor-toolbar-form .medium-editor-toolbar-input:-ms-input-placeholder {
    color: #f8f5f3;
    color: rgba(248, 245, 243, 0.8);
}

.medium-editor-toolbar-form a {
    color: #ccc;
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}

.medium-editor-toolbar-form .medium-editor-toolbar-close {
    margin-right: 16px;
}

.medium-editor-toolbar-anchor-preview {
    background: #000;
    border-radius: 50px;
    padding: 5px 12px;
}

.medium-editor-anchor-preview a {
    color: #ccc;
    text-decoration: none;
}

.hidden {
    opacity: 0;
}

.postImage img,
.postVideo iframe {
    display: block;
    margin: auto;
    width: 100%;
}

iframe {
    min-width:100px !important;
    width:100% !important; 
    max-height: 300px;
}

.right-pos {
    display: block;
    margin-left: auto;
}

.icons {
    margin: 10px 0px;
}

.content .btn-component {
    width: 70px;
    height: 60px;
    border-radius: 5px;
    border: solid 2px #cccccc;
    background-color: $white;
    color: $font;
    font-size: 10px;
    margin-right: 8px;
    box-shadow: none;
}

.content .btn-component:hover {
    border: solid 2px $btn-yellow;
}

.btn-component img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-top: 10px;
}

.center-pos {
    display: block;
    margin: auto;
}

.mobile-drafts {
    display: none;
}

.img-container {
    margin: auto;
}

.mat-card-title {
    color: $font;
}
.mat-card{transition:box-shadow 280ms cubic-bezier(.4,0,.2,1);display:block;position:relative;padding:16px;border-radius:4px}.mat-card .mat-divider-horizontal{position:absolute;left:0;width:100%}[dir=rtl] .mat-card .mat-divider-horizontal{left:auto;right:0}.mat-card .mat-divider-horizontal.mat-divider-inset{position:static;margin:0}[dir=rtl] .mat-card .mat-divider-horizontal.mat-divider-inset{margin-right:0}@media screen and (-ms-high-contrast:active){.mat-card{outline:solid 1px}}.mat-card-actions,.mat-card-content,.mat-card-subtitle{display:block;margin-bottom:16px}.mat-card-title{display:block;margin-bottom:8px}.mat-card-actions{margin-left:-8px;margin-right:-8px;padding:8px 0}.mat-card-actions-align-end{display:flex;justify-content:flex-end}.mat-card-image{width:calc(100% + 32px);margin:0 -16px 16px -16px}.mat-card-footer{display:block;margin:0 -16px -16px -16px}.mat-card-actions .mat-button,.mat-card-actions .mat-raised-button{margin:0 8px}.mat-card-header{display:flex;flex-direction:row}.mat-card-header .mat-card-title{margin-bottom:12px}.mat-card-header-text{margin:0 16px}.mat-card-avatar{height:40px;width:40px;border-radius:50%;flex-shrink:0;object-fit:cover}.mat-card-title-group{display:flex;justify-content:space-between}.mat-card-sm-image{width:80px;height:80px}.mat-card-md-image{width:112px;height:112px}.mat-card-lg-image{width:152px;height:152px}.mat-card-xl-image{width:240px;height:240px;margin:-8px}.mat-card-title-group>.mat-card-xl-image{margin:-8px 0 8px 0}@media (max-width:599px){.mat-card-title-group{margin:0}.mat-card-xl-image{margin-left:0;margin-right:0}}.mat-card-content>:first-child,.mat-card>:first-child{margin-top:0}.mat-card-content>:last-child:not(.mat-card-footer),.mat-card>:last-child:not(.mat-card-footer){margin-bottom:0}.mat-card-image:first-child{margin-top:-16px;border-top-left-radius:inherit;border-top-right-radius:inherit}.mat-card>.mat-card-actions:last-child{margin-bottom:-8px;padding-bottom:0}.mat-card-actions .mat-button:first-child,.mat-card-actions .mat-raised-button:first-child{margin-left:0;margin-right:0}.mat-card-title{margin-bottom:8px}.mat-card-subtitle:not(:first-child),.mat-card-title:not(:first-child){margin-top:-4px}.mat-card-header .mat-card-subtitle:not(:first-child){margin-top:-8px}.mat-card>.mat-card-xl-image:first-child{margin-top:-8px}.mat-card>.mat-card-xl-image:last-child{margin-bottom:-8px}
@media(max-width: 550px) {
    .mobile-drafts {
        display: block;
    }

    .col-drop{
        margin-left:2em;
        margin-right:2em;
    }

    .mobile {
        display: none
    }

    .title-new-publication {
        font-size: 15px;
        width: 100%;
    }

    .content{
        margin:16px 0px 16px 0px;
        padding-right: 0px;
        padding-left:0px;
        width:100%;
    }

    .div-title{
        padding-right:0px;
    }

    .div-content{
        padding-right:0px;
        padding-left:0px;
        margin-left:0.5em;
    }
    
    .content .row{
        padding-right: 0px;
    }

    .div-btn-dots{
        padding-left:0px;
        padding-right : 0px;
        
    }
    
    .mat-dialog-container{
        padding:0px !important
    }   
}


/*
Style font size
*/

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 13.8px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #f0ffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #f0ffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #f0ffff;
    cursor: pointer;
    height: 8.4px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
  }
  