<div id="mySidenav" class="side-nav" [ngClass]="(this.menuButtonClick) ? 'sidenav' : 'side-nav'">
  <div class="row col-12 close-div">
    <button class="btn-close" type="button" (click)="closeNav()"><img src="assets/img/x.png" srcset="../../../assets/img/x@2x.png 2x,
      ../../../assets/img/x@3x.png 3x" class="x"></button>
  </div>
  <a (click)="moveDestaque()">Destaques</a>
  <div class='h-line'></div>
  <a (click)="moveAbout()">Sobre o Portfólio</a>
  <div class='h-line'></div>
  <a (click)="moveHow()">Como Funciona</a>
  <div class='h-line'></div>
  <a (click)="moveFaq()">Perguntas Frequentes</a>
</div>

<div class="app-bar-bg" #header id="header">
  <div class="container-header">
    <div id="desktop">
      <div class="row">
        <div class="col-2">
          <img src="assets/img/logo-unisinos-branco.png" srcset="../../../assets/img/logo-unisinos-branco@2x.png 2x,
          ../../../assets/img/logo-unisinos-branco@3x.png 3x" class='logo'>
        </div>
        <div class="col-6 middle-flex links">
          <nav mat-tab-nav-bar>
            <a mat-tab-link (click)="moveDestaque()">
              Destaques
            </a>
            <a mat-tab-link (click)="moveAbout()">
              Sobre o Portfólio
            </a>
            <a mat-tab-link (click)="moveHow()">
              Como Funciona
            </a>
            <a mat-tab-link (click)="moveFaq()">
              Perguntas Frequentes
            </a>
          </nav>
        </div>
        <div class="col-4">
          <div class="middle-flex  login-btn">
            <app-popover-login [isOpen]="this.openLoginMenu"
              style="float:right; margin-top:1.3em; z-index: 900 !important;"></app-popover-login>
          </div>
        </div>
      </div>
    </div>
    <div id="mobile">
      <div class="row">
        <div class="col-2 logo-col">
          <img src="assets/img/logo-unisinos-branco.png" srcset="../../../assets/img/logo-unisinos-branco@2x.png 2x,
            ../../../assets/img/logo-unisinos-branco@3x.png 3x" class='logo'>
        </div>

        <div class="col-4 middle-flex links">
        </div>
        <div class="col-5">
          <div class="middle-flex  login-btn" *ngIf="!this.menuButtonClick">
            <app-popover-login style="float:right; margin-top:1.3em; z-index: 900 !important;"></app-popover-login>
          </div>
        </div>
        <div class="col-1 col-hambuguer">
          <img src="assets/img/menu.png" srcset="../../../assets/img/menu@2x.png 2x,
          ../../../assets/img/menu@3x.png 3x" (click)="openNav()" class='logo-hambuger'>
        </div>
      </div>
    </div>
  </div>
</div>
<div id='desktop'>
  <div class="row main">
    <div class="col-md-12 main-two">
      <div class="text-main">
        <p class="title-main"> Você faz projetos incríveis durante a graduação.
          Chegou a hora de mostrá-los ao mundo.</p>
        <div>
          <button (click)="moveHeader()" type="button" class="btn-landing">
            Acessar agora
          </button>
        </div>
      </div>
      <img src="assets/img/658984523.png" srcset="/assets/img/658984523@2x.png 2x,
            ./../../../assets/img/658984523@3x.png 3x" class="img-main">
    </div>
  </div>
</div>
<div id='mobile'>
  <div class='main'>
    <div class="row">
      <div class="col-12 main-two">
        <div class="text-main">
          <p class="title-main"> Você faz projetos incríveis durante a graduação.
            Chegou a hora de mostrá-los ao mundo.</p>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-12 col-img">
        <img src="assets/img/658984523.png" srcset="/assets/img/658984523@2x.png 2x,
              ./../../../assets/img/658984523@3x.png 3x" class="img-main">
      </div>
    </div>
  </div>
</div>
<div #destaques id="destaques" class="container high-cont">
  <div #examples id="examples" class="row highlight-section">
    <app-highlight class='highlight-section'></app-highlight>
  </div>
</div>
<div class="container">
  <div #about id="about" class="row sobre">
    <div class="col-md-5">
      <p class="title-land"><b>Sobre <br>o Portfólio</b></p>
      <p class="text-sobre">
        O Portfólio Unisinos é um jeito fácil de
        compartilhar conhecimento com o mundo. Aqui
        você reúne seus projetos de aula e define quem
        pode acessá-los: professores, colegas de curso
        ou mesmo profissionais do mercado de trabalho.
        <br><br>
        Essa é mais uma forma de você acompanhar
        seu desenvolvimento na graduação e ver o
        quanto está progredindo em sua trajetória. O Portfólio também dá aquela mãozinha na hora
        de procurar um emprego: ele funciona como
        uma vitrine da sua produção acadêmica e pode
        ser enviado diretamente ao recrutador.
      </p>
    </div>
    <div class="col-md-7">
      <img src="assets/img/group-sobre.png" srcset="/assets/img/group-sobre@2x.png 2x,
    ./../../../assets/img/group-sobre@3x.png 3x" class="img-sobre">
    </div>
  </div>
</div>

<div #howTo id="howTo" class="row section-como-funciona">
  <div class="container">
    <p class="title-land como-funciona"><b>Como Funciona</b></p>
    <div class="row">
      <div class="col-md-3">
        <img src="assets/img/group-11.png" srcset="/assets/img/group-11@2x.png 2x,
        ./../../../assets/img/group-11@3x.png 3x" class="img-como-funciona">
        <p class="como-title">Personalize seu perfil</p>
        <p class="como-text">Conte pra gente quais são suas experiências
          acadêmicas e profissionais.
        </p>
      </div>
      <div class="col-md-3">
        <img src="assets/img/group-9.png" srcset="/assets/img/group-9@2x.png 2x,
          ./../../../assets/img/group-9@3x.png 3x" class="img-como-funciona">
        <p class="como-title">Publique seus projetos</p>
        <p class="como-text">
          Escolha quais produções você quer ver aqui.
        </p>
      </div>
      <div class="col-md-3">
        <img src="assets/img/group-14.png" srcset="/assets/img/group-14@2x.png 2x,
          ./../../../assets/img/group-14@3x.png 3x" class="img-como-funciona">
        <p class="como-title">Compartilhe sua produção</p>
        <p class="como-text">
          Defina quem poderá acessar o seu portfólio.
        </p>
      </div>
      <div class="col-md-3"><img src="assets/img/group-8-copy.png" srcset="/assets/img/group-8-copy@2x.png 2x,
        ./../../../assets/img/group-8-copy@3x.png 3x" class="img-como-funciona">
        <p class="como-title">Receba sugestões</p>
        <p class="como-text">Receba opiniões e conselhos de profissionais e
          colegas que se importam com sua jornada.
        </p>
      </div>
    </div>
  </div>
</div>


<div #faq id="faq" class="row section-faq">
  <div class="container">
      <p class="title-land como-funciona"><b>Perguntas Frequentes</b></p>
      <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span>Posso usar esse portfólio como um currículo apara vagas de estágio e empregos?</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
        
           <p>Blah blah blah blah blah blah blah blah blah blah blah
              blah blah blah blah blah blah blah blah blah blah
              blah blah blah blah blah blah blah blah blah blah
              blah blah blah blah blah blah blah blah blah blah
              blah blah blah blah blah blah blah blah blah blah
           </p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span>Que dados preciso para preencher o meu portfólio?</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
        
            <p>Blah blah blah blah blah blah blah blah blah blah blah
                blah blah blah blah blah blah blah blah blah blah
                blah blah blah blah blah blah blah blah blah blah
                blah blah blah blah blah blah blah blah blah blah
                blah blah blah blah blah blah blah blah blah blah
             </p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span>É permitido postar apenas projetos acadêmicos ou também projetos profissionais?</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
        
            <p>Blah blah blah blah blah blah blah blah blah blah blah
                blah blah blah blah blah blah blah blah blah blah
                blah blah blah blah blah blah blah blah blah blah
                blah blah blah blah blah blah blah blah blah blah
                blah blah blah blah blah blah blah blah blah blah
             </p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span>Como serei avaliado?</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
        
            <p>Blah blah blah blah blah blah blah blah blah blah blah
                blah blah blah blah blah blah blah blah blah blah
                blah blah blah blah blah blah blah blah blah blah
                blah blah blah blah blah blah blah blah blah blah
                blah blah blah blah blah blah blah blah blah blah
             </p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span>Qual o prazo para envio de projetos?</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
        
            <p>Blah blah blah blah blah blah blah blah blah blah blah
                blah blah blah blah blah blah blah blah blah blah
                blah blah blah blah blah blah blah blah blah blah
                blah blah blah blah blah blah blah blah blah blah
                blah blah blah blah blah blah blah blah blah blah
             </p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span>Toda a universidade tem acesso aos meus projetos?</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
        
            <p>Blah blah blah blah blah blah blah blah blah blah blah
                blah blah blah blah blah blah blah blah blah blah
                blah blah blah blah blah blah blah blah blah blah
                blah blah blah blah blah blah blah blah blah blah
                blah blah blah blah blah blah blah blah blah blah
             </p>
          </mat-expansion-panel>
          
        </mat-accordion>
  </div>
</div>

<div id="organize" class="row section-organize">
  <div class="container">
    <div class="row">
      <p class="title-org"><b>Organize e apresente seus projetos para o mundo com o Portfólio Unisinos.</b></p>
    </div>
    <div class="row">
      <p class="atencao">Atenção: No momento o acesso ao Portfólio é restrito a um grupo limitado de alunos e
        professores convidados.
      </p>
    </div>
    <div class="row">
      <button (click)="moveHeader()" type="button" class="btn-acess">
        Acessar
      </button>
    </div>
  </div>
</div>
<div class="fixed-bottom">
  <app-footer></app-footer>
</div>