@import '~src/styles/global/colors';

a,
p,
h1,
h2,
h3,
h4,
h5,
input,
label,
select,
.mat-tab-label,
.mat-tab-link,
.mat-expansion-panel-header {
    font-family: Chivo !important;
}

.mat-expansion-panel {
    background: transparent;
}

.mat-expansion-panel-content {
    width: 100%;
}

.mat-form-field {
    width: 135%;
}

.mat-input-element {
    padding: 0px;
}

.mat-dialog-container {
    background-color: $bg-modal !important;
    width: 100%;
}

.mat-dialog-content {
    width: stretch;
    padding-left: initial;
    margin: 2px -31px;
}

::ng-deep .mat-expansion-panel-body{
    background: white !important;
}

.mat-expanded .mat-expansion-panel-header {
    background: white;
}
.mat-expanded .mat-expansion-panel-header span {
    color: $btn-yellow;
}
.mat-expansion-panel-header span {
    color: #2c2c2c;
}

.mat-expansion-panel-header {
    width:100%;
    border-left: none;
    border-top: none;
    background: white;
    border: 0px;
    border-bottom: 1px solid white
}

.mat-expansion-panel-header span{
    font-weight: 500;
}

#desktop {
    display: block;
}

#mobile {
    display: none;
}

.row-margin {
    margin-top: 50px;
    margin-bottom: 50px;
}

.sobre {
    background: $bg-gray-light;
    margin-top: 125px;
    margin-bottom: 125px;
}

.main-two {
    background: linear-gradient(0deg, $bg-gray-light 10%, $bg-header 10%);
    padding: 0;
}


.img-main {
    display: block;
    max-width: 100%;
    margin-top: -10px;
    margin-right: 0;
    margin-left: auto;
}



.highlight-section{
    margin-top:2em;
    width:100%;
    background-color: #f2f2f2
}

.title-land {
    font-family: Chivo !important;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 0.3px;
    color: $bg-header;
    text-transform: uppercase !important;
}

.title-main {
    text-transform: uppercase !important;
}

.text-sobre {
    font-family: Chivo !important;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: 0.1px;
    color: #2d2d2d;
}

.img-main {
    display: block;
    max-width: 100%;
    width: 75% !important;
}

.text-main {
    width: 45%;
    height: 260px;
    font-family: Chivo !important;
    font-size: 3vw;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: -0.1px;
    color: #f8a635;
    position: absolute;
    top: 20%;
    left: 11%;
}

::ng-deep .mat-expansion-panel-body p{
    margin-left:1em;
}

.close-div{
    margin-top:-40px;
    margin-bottom:40px;
}

.btn-close{ 
    float:right;
    margin-left:auto;
    margin-top:auto;
    margin-bottom:auto;
    background:transparent;
    border: 0px;
}

.x{
    filter: invert(100%)
}

.btn-landing {
    width: 20%;
    height: 40px;
    border-radius: 3px;
    border: solid 1px #f8a635;
    background-color: #f8a635;
    font-family: Chivo !important;
    font-size: 1vw;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: $white;
}

.btn-landing:hover {
    background-color: $btn-bg-hover;
    border: solid 1px transparent;
}

.img-sobre {
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-top: -40px;
    width: 90%;
}

.img-como-funciona {
    width: 107px;
    height: 87px;
    object-fit: contain;
    display: block;
    margin: auto;
}

.como-funciona {
    margin-top: 124px;
    margin-bottom: 86px;
    width: 100%;
    text-align: center;
}

.como-title {
    font-family: Chivo !important;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: center;
    color: #2c2c2c;
    margin-top: 37px;
}

.side-nav {
    display: none;
}


.sidenav {
    display: block;
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 500;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    width: 100%;
    background-color: $bg-header;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

.h-line {
    border-bottom: 1px solid #181e4b;
    ;
    width: 80%;
    margin: auto;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: Chivo !important;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    display: block;
    transition: 0.3s;
    text-align: center;
    color: $white;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

.como-text {
    font-family: Chivo !important;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: center;
    color: #2c2c2c;
    margin-top: 27px;
}

.section-como-funciona {
    background: $white;
    padding-bottom: 124px;
}

.section-faq {
    background: $bg-gray-light;
    padding-bottom: 124px;
}

.section-organize {
    padding-top: 149px;
    background: $bg-header;
}

.title-org {
    max-width: 780px;
    font-family: Chivo !important;
    font-size: 34px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.12;
    letter-spacing: -0.1px;
    text-align: center;
    color: #ffffff;
    margin: auto;
}

.atencao {
    max-width: 371px;
    width: 100%;
    font-family: Chivo !important;
    font-size: 11px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: center;
    color: #ffffff;
    margin: auto;
    margin-top: 20px;
}

.btn-acess {
    width: 110px;
    height: 50px;
    border-radius: 3px;
    border: solid 1px #f8a635;
    background-color: #f8a635;
    color: $white;
    margin: auto;
    margin-top: 39px;
    margin-bottom: 129px;
    z-index: 1;
    font-family: Chivo;
}


.btn-acess:hover {
    background-color: $btn-bg-hover;
    border: solid 1px transparent;
}

/*HEADER*/
.menu-p,
.mat-tab-link {
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.27px;
    color: white;
    opacity: 1;
}

.mat-tab-link:hover {
    text-decoration: none;
    color: white !important;
    font-weight: bold;
}

@-moz-document url-prefix() {
    .mat-tab-link:hover {
        text-decoration: none;
        color: white !important;
        font-weight: bold;
        letter-spacing: 0.0px;
    }
}

.login-btn {
    float: right
}

.links {
    margin-top: 15px;
}

.mat-tab-nav-bar {
    border-bottom: none;
}

.app-bar-bg {
    width: 100%;
    margin-top: 1em;
    background-color: $bg-header;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: -2px;
    height: 122px;
}

.login-nav {
    float: right;
}

.logo {
    width: 146px;
    cursor: pointer;
    margin-top: 19px;
    margin-left: 0px;
}

.logo-hambuger {
    filter: brightness(100%);
    margin-top: 30px;
    width: 20px;
    height: 14px;

}

.container-header {
    position: relative;
    top: 14px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 90%;
}

@media(min-width:1350px) {
    .img-main {
        width: 80% !important;
        // max-width: 1100px !important;
    }

    .sobre {
        margin-top: 15% !important;
    }

    .btn-landing {
        height: 50px;
    }
}

@media(max-width: 500px){
    .mat-expanded .mat-expansion-panel-header span {
        color: $btn-yellow;
        font-size:12px;
    }

    ::ng-deep .mat-expansion-panel-body p{
        font-size:11px;
        margin-left:1em;
    }
}
 
@media(max-width: 1000px) {
    .text-sobre {
        font-size: 4.5vw;
        margin-bottom: 60px;
    }

    .logo {
        max-width: 100px;
    }
}

@media(max-width: 950px) {
    #desktop {
        display: none;
    }

    #mobile {
        display: block;
    }

    .text-main {
        position: relative;
        width: 100% !important;
        padding: 0;
        background-color: $bg-header;
        top: 0;
        left: 0;
        padding-left: 30px;
        height: 100%;
        font-size: 6vw;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;

    }

    .text-main p {
        width: 90%
    }

    .img-main {
        display: block;
        width: 100% !important;
    }

    .col-img {
        padding-left: 0;
    }

    .btn-landing {
        width: auto;
    }

    .logo-col {
        padding-left: 0;
    }

    .logo-hambuger {
        margin-left: auto;
        float: right;
    }

    .col-hambuguer {
        padding-right: 0;
    }

}

@media(min-width:400px)and(max-width:760px) {
    .main-two {
        height: 250px;
    }

    .text-main {
        height: 250px
    }
}

@media(max-width: 400px) {
    .atencao {
        max-width: 271px;
    }
}

@media(max-width:545px){
    .high-cont{
        padding-left:2.3em;
    }
}