@import '~src/styles/global/colors';
@import '~src/styles/global/global';


.reflection-card{
    width:100%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding-left:35px;
}

.info-reflection{
    margin-top: 1em;
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: $font-black;
  
}

.info-port{
    margin-top:1.3em;
    margin-bottom:0.5em;
    width:100%;
    display: block;
}

.card-row{
    width:90%;
    margin-left:0.5em;
}

.user-info-post .row{
    font-size:12px;
    margin: 0;
    height:30%;
}

.info-text{
    width: 100%;
    margin-top:1.0em;
    margin-bottom:3em;

}
.user-img-port {
    margin-top:1em;
    border-radius: 50%;
    width: 50px;
    height:50px;
    position: relative;
}

.user-course-info span{
    font-size:10px;
    height:30%;
    margin-left:auto;
    display:block;
}

.tag-name{
    color: $font;
    font-family: Poppins;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
}
.info-name{
    color: $font;
    font-family: Poppins;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    margin:auto;
}


.btn-edit{
    width:95%;
}

@media(max-width:580px){
    .info-text{
        margin-top:1.0em;
        margin-bottom:3em;
        margin-left:0.5em 
    }
}