<div class='reflection-card'>
  <div class='row card-row'>
    <span class='info-reflection'>Quais foram os seus principais aprendizados ao desenvolver esse projeto?</span>
  </div>
    <div class=' row'>
      <div class='col-2 col-sm-2 col-lg-1'>
          <img class="user-img-port" [src]="this.imgPath">
      </div>
      <div class='col-9 col-sm-8 col-lg-9'>
          <div class='row info-text'>
              <p>{{this.text}}</p>   
          </div>
      </div>
  </div>
</div>