<ng-template #popContent>
  <div class="edit-settings-popover" >
    <div class="row">
        <div class='col'>
            <button mat-button (click)="onUpdate()">Editar</button>
        </div>
    </div>

    <div class="row">
        <div class='col'>
            <button mat-button (click)="remove()">Deletar</button>
        </div>
    </div>
    
  </div>
</ng-template>

<div *ngIf="!flagActiveEdit">
  <div class='btn-edit'>
      <div *ngIf='this.flagCanEdit' 
      [ngbPopover]="popContent" placement="bottom" data-toggle="popover" class="three-dots-dark"></div>
    </div>
  <div class='content row content-feedback'
      [ngClass]="(this.comment.isDashed)? 'content-feedback-dashed': 'content-feedback'">
    <div class='col-1 col-sm-1 col-lg-1 col-xl-1 img-col'>
        <img class="user-img-port" *ngIf="this.user?.url" [routerLink]='"/"+this.user?.url' [src]="this.user?.img">
        <img class="user-img-port" *ngIf="!this.user?.url" [src]="this.user?.img">
    </div>
    <div class='col-9 col-sm-9 col-lg-9 col-xl-10 col-info'>
      <div class='row'>
          <div class='info-port'>
              <p class='info-name' *ngIf="this.user?.url" [routerLink]='"/"+this.user.url'>{{this.user?.nome}}<br></p>
              <p class='info-name' *ngIf="!this.user?.url" >{{this.user?.nome}}<br></p>
          </div>
      </div>
      <div class='row info-date'>
        <p>{{this.dateCadastro}}</p>
      </div>
      <div *ngIf='false' class='row info-date'>
        <p>Atualizado: {{this.dateModificado}}h</p>
      </div>
      <div class='row info-text'>
                <p>{{this.comment.texto}}</p>   
      </div>
    </div>
  </div>
  
</div>



<app-comment-input *ngIf='flagActiveEdit' 
                [idPublicacao] = 'this.comment.idPublicacao'
                [idPublicacaoFeedback] = 'this.comment.idPublicacaoFeedback'
                [flagEdit]='true'
                [textUpdate] = 'this.comment.texto'
                (UpdateSocialComponent) = 'UpdateSocialComponent.emit()'></app-comment-input>



