@import '~src/styles/global/colors';
@import '~src/styles/global/helper';


mat-vertical-stepper{
    background:transparent;
}

::ng-deep .mat-step-header .mat-step-icon-selected{
    background: $btn-yellow !important;
    color: white !important;
}

::ng-deep .mat-step-header .mat-step-icon{
    background:#d8d8d8;
    color:#878787;
}

::ng-deep .mat-tab-label{
    height:70px !important;
}


.form-area{
    width: 100%;
    padding-top:1em;
    margin:auto
}

.biography-area{
    padding-bottom: 1.5em;
}

.external-area{
    padding-bottom: 1.5em;
}

.form-area textarea{
    padding-top:1em;
    padding-left:1em;
    border-radius: 4px;
    width:100%;
    height:180px;
    margin:auto;
    display:block;
    color: $font;
    background: white;
    border: 1px solid #dddddd;
    font-family: Poppins;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
}

.input-link{
    padding-left:5px;
    width: 90%;
    height:46px;
    background: none;
}

.col-input{
    padding-left:0px;
    margin-left:0px;
}

.btn-form{
    margin-right:0.5em;
}
.row-links{
    margin-top:1em;
}
.row-link{
    margin-top:1em;
    padding-bottom:30px;
}

.col-text-area{
    width:100%;
    padding-left:0;
    padding-right:0
}

.btn-back{
    background : transparent;
    border: solid 1px #dddddd;
    color: $font
}

.col-link{
    margin-left:0;
    padding-left:0;
}

.title-link{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: 0.5px;
  color: #787878;
  margin-bottom:0px;
}

.example-link{
    margin-top:0em;
    margin-bottom:0.5em;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 0.4px;
    color: #787878;   
}

.btn2 {
    margin-top:1em;
    margin-left: auto;
}

.intro {
    margin-top: 5em;
}

.title {
    margin-bottom: 1.2em;
}

form {
    margin: auto;
}

input {
    width: 100%;
    height: 55px;
    background: none;
    padding-left: 220px;
}

.btn-2 {
    margin-top:1em;
    height: 30px;
    float: left;
    background: transparent;
    border: 0px;
    font-size:10px;
}

.btn-2:hover{
    cursor: pointer;
    text-decoration: underline;
}

.div-jump .btn-2{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #8e8e8e;
}

.col-subtitle{
    font-size:16px;
    color: $font;
    letter-spacing: -0.3px;
    text-align: center;
    margin:auto;
    margin-bottom:2em
}

.form-buttons{
    padding-top:1em;
    border-top: 1px solid $border-forms;
}

.form-content{
    margin-bottom:5em
}

.logo{
    width:113px;
    margin-top:1em;
}

.text-help {
    font-size: 10px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    color: $font;
    text-align: left;
}

.text-help-div {
    width: 100%;
    margin: auto;
    margin-top: 3px;
    margin-left: 15px;
}

.placeholder {
    position: relative;
}

.placeholder::after {
    position: absolute;
    left: 45px;
    top: 15px;
    content: attr(data-placeholder);
    pointer-events: none;
    opacity: 0.6;
}

.btn {
    width: 110px;
    height: 50px;
    float: right;
}

.div-input {
    width: 95%;
    margin: auto;
    margin-left: 0px;
}

.input-col{
    padding-left:0px;
    margin-left:0px;
}

.icons {
    width: 23px;
    height: 22px;
    float: left
}

.message {
    text-align: left;
    margin-top: 15px;
    margin-left: 10px;
    letter-spacing: 0.4px;
    max-width: 80px;
}

.div-icons {
    margin-top: -15px;
}

.indicator-tab-active{
    width:36px;
    height:36px;
    background: $btn-yellow;
    border-radius: 50%;
    margin-right:1em;
}
.indicator-tab{
    width:36px;
    height:36px;
    background:#d8d8d8;
    border-radius: 50%;
    margin-right:1em;
}

.text-indicator-active{
    color:white;
    padding-top:0.5em;
    display:block;
}

::ng-deep .mat-stepper-vertical-line::before { border-left-width: 0 !important;}


  ::ng-deep.mat-vertical-content-container::before{    margin-left:0px !important}
  ::ng-deep.mat-vertical-content-container{ margin-left:0px !important}
  ::ng-deep.mat-step-header{
    margin-left:0px !important;
    padding-left:0.5em !important;
    border-bottom:1px solid #d8d8d8;
    height:0px !important;
}
::ng-deep.mat-step-header[aria-selected="true"] { background-color:white;
    border-bottom:1px solid white; }

::ng-deep .mat-stepper-vertical-line { border-left-width: 0 !important; }

::ng-deep .mat-vertical-content {
    background:white;
    padding-right: 0.2em !important;
}

.text-indicator{
    color:#878787;
    padding-top:0.5em;
    display:block;
}

.mat-tab-label{
    margin-right: 25em;
    height:55px !important;
}

mat-tab-labels{
    height:55px;
    padding-bottom:15px;
}
.how-access{
    padding-left:0px;
}

.how-access p{
    margin-bottom:0;
    font-size: 16px;
    letter-spacing: 0.57px;
    color: $font
}

.access-light p{
    font-size: 14px;
    letter-spacing: 0.57px;
    color: $font
}


.label{
    text-align: left;
}

@media (max-width: 600px) {
    .btn-continuar {
        margin-top: 50px;
    }


    .intro{
        font-size: 11px
    }

    input {
        width: 100%;
        height: 45px;
        background: none;
        padding-left: 172px;
    }

    .title {
        font-size: 30px;
        line-height: 40px;
    }
    .text-help{
        margin-top:0.5em;
        text-align: center
    }
    
    .div-icons {
        display:block;
        width: 100%;
        margin-left:auto;
    }
}

@media (max-width: 765px) {
    .div-icons {
        margin: 0 auto;
        width: 140px;
        margin-left:auto;
    }
}


@media(max-width:600px){
    .desk{
        display: none;
    }

    .form-buttons{
        padding-top:1em;
        border-top: 0px solid $border-forms;
    }
    

    .row-link{
        padding-bottom:5px;
    }

    .new-line{
        display:none;
    }

    .how-access p{
        font-size: 12px;
        color: $font;
        padding-left:0
    }

    .how-access{
 
        padding-left:0
    }
    .col-text-area{
        padding-right:0;
        padding-left:0;
    }

    .title-link{
        font-size: 14px;
    }
    .example-link{
        font-size: 12px;
    }

    .input-link{
        height:35px;
        background: none;
        
    }



    .access-light p{
        font-size: 12px;
        padding-left:0
    }

    .form-signin{
        padding-left:0 !important;
        padding-right:0 !important;
    }
    
    input {
        width: 100%;
        height: 45px;
        background: none;
        padding-left: 143px;
    }

    .placeholder {
        position: relative;
        font-size:12px;
    }
    
    .placeholder::after {
        position: absolute;
        left: 0px;
        top: 15px;
        content: attr(data-placeholder);
        pointer-events: none;
        opacity: 0.6;
    }

    .form-content{
        margin-bottom:0em;
    }

    .btn {
        width: 85px;
        height: 30px;
        float: right;
        font-size:10px;
    }



    .btn-back{
        margin-left:auto;
        display:block
    }
   
}

@media(min-width:600px){
    .mobile{
        display: none;
    }
}

@media(min-width: 990px){
    .new-line{
        display:none;
    }
}

