<div class="app-bar-bg">
  <div class="content row">
    <div class="col-8 logo">
        <img src="assets/img/unisinos-escuro.png" srcset="../../../assets/img/unisinos-escuro@2x.png 2x,
              ../../../assets/img/unisinos-escuro@3x.png 3x">
    </div>
    <div class="col-4">
      <div class="middle-flex">
        <button class="btn2" (click)='logout()'>Sair</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="center intro">
        <p class="fs50 lh30 ls179 title">
          Olá {{this.user.nome}}.<br> Bem-vindo(a) ao seu Portfólio.
        </p>
        <div class="row">
            <p class="col-subtitle">
                <b>Este é um cadastro inicial para a criação do seu Portfólio.</b>
            </p>
          </div>
    </div>

    <div class="desk content">
      <mat-tab-group [selectedIndex]="this.indexTab" mat-align-tabs="center" (selectedTabChange)="tabChanged($event)">
          <mat-tab>
            <ng-template mat-tab-label>       
              <div [ngClass]="(this.indexTab == 0)? 'indicator-tab-active' : 'indicator-tab'">
                <span [ngClass]="(this.indexTab == 0)? 'text-indicator-active' : 'text-indicator'">1</span>
              </div>
              <span class='label'>Defina seu endereço<br>
personalizado</span>
            </ng-template>

            <div class='content'>
              <ng-container *ngTemplateOutlet="inputUrl"></ng-container>
            </div>
            <ng-container *ngTemplateOutlet="formButtons"></ng-container>
          </mat-tab>
          <mat-tab>
              <ng-template mat-tab-label>       
                <div [ngClass]="(this.indexTab == 1)? 'indicator-tab-active' : 'indicator-tab'">
                  <span [ngClass]="(this.indexTab == 1)? 'text-indicator-active' : 'text-indicator'">2</span>
                </div>
                <span class='label'>Biografia</span>
              </ng-template> 
              <div class='content biography-area'>
                <ng-container *ngTemplateOutlet="biographyArea"></ng-container>
              </div>
                <ng-container *ngTemplateOutlet="formButtons"></ng-container>
              </mat-tab>
              <mat-tab>
                  <ng-template mat-tab-label>       
                    <div [ngClass]="(this.indexTab == 2)? 'indicator-tab-active' : 'indicator-tab'">
                      <span [ngClass]="(this.indexTab == 2)? 'text-indicator-active' : 'text-indicator'">3</span>
                    </div>
                    <span class='label'>Links<br class='new-line'> Externos</span>
                  </ng-template>
                  <div class='content external-area'>
                    <ng-container *ngTemplateOutlet="externalLinks"></ng-container>
                  </div>
                    <ng-container *ngTemplateOutlet="formButtons"></ng-container>
                </mat-tab>
        </mat-tab-group>
    </div>  

    <div class="mobile">
        <mat-vertical-stepper  (selectionChange)="selectionChanged($event)" [selectedIndex]="this.indexTab" [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <ng-template matStepLabel>Defina seu endereço personalizado</ng-template>
                <ng-container *ngTemplateOutlet="inputUrl"></ng-container>
                
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              
                <ng-template matStepLabel>Biografia</ng-template>
                <ng-container *ngTemplateOutlet="biographyArea"></ng-container>
                
            </mat-step>
            <mat-step [stepControl]="TFormGroup">
              <ng-template matStepLabel>Links Externos</ng-template>
              <ng-container *ngTemplateOutlet="externalLinks"></ng-container>
              
             
            </mat-step>
          </mat-vertical-stepper>
          <ng-container *ngTemplateOutlet="formButtons"></ng-container>
    </div>

</div>

<ng-template #inputUrl>
    <div class="form-content">
        <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="font-color subtitle">
              <div class="row how-access">
                <p class="col-12">
                    <b>Como você quer acessar seu Portfólio? Esta é nossa sugestão.</b>
                </p>
              </div>
              <div class='row access-light'>
              <p class="col-12">
                  Você também pode testar outras opções.
              </p>
            </div>
              </div>
            
            <div class="center div-input row">
              <div class="col-md-10 input-col">
                <div class="row placeholder" data-placeholder="www.unisinos.br/portfolio/">
                  <div class="col-12 form-signin">
                    <input type="text" name="urlParcial" value="urlParcial" [(ngModel)]="urlParcial"
                      (input)="onChange($event.target.value)" required>
                  </div>
                </div>
                <p class="center text-help ">Não se preocupe, você pode editar depois.</p>
              </div>
              <div class="col-12 col-md-2">
                <div class="row middle-flex div-icons">
                  <img class="icons" [src]="imagePath">
                  <p class="fs11 font-color lw500 message"> {{message}}</p>
                </div>
              </div>
            </div>
        </form> 
      </div>
</ng-template>


<ng-template #formButtons>
  <div class="desk row form-buttons">
    <div class='col-sm-4 col-md-4 div-jump'>
        <span class="btn-2 btn-form"  (click)="jumpForm()">Pular tudo e preencher depois >></span>
    </div>
    <div class="col-6 col-sm-8 col-md-8 btn-continuar">
      <button class="btn btn-form" (click)='nextOrOnSubmit()'>
        <span *ngIf="(this.indexTab != 2)">Continuar</span>
        <span *ngIf="(this.indexTab == 2)">Finalizar</span>
      </button>
      <button *ngIf="(this.indexTab != 0)" class="btn btn-back btn-form"  (click)="backTab()">Voltar</button>
      
    </div>
  </div>
  <div class="mobile row form-buttons">
    <div class='col-2'>.</div>
    <div class='col-5'>
        <button mat-button  *ngIf="(this.indexTab != 0)" class="btn btn-back btn-form" (click)="backTab(stepper)">Voltar</button>
      </div>
    <div class='col-5'>
      <button mat-button class="btn btn-form" (click)='nextOrOnSubmit(stepper)'>
        <span *ngIf="(this.indexTab != 2)">Continuar</span>
        <span *ngIf="(this.indexTab == 2)">Finalizar</span>
      </button>
    </div>
    
  </div>
  
</ng-template>

<ng-template #biographyArea>

        <div class='row how-access col-12 col-text-area'>
          <p>
              <b>Nos conte um pouco sobre sua história, seus objetivos, coisas que gosta de fazer e especialidades:</b></p>
        </div>
        <div class='row col-12 col-text-area'>
            <form class='form-area'>
                <textarea #feedbackText matInput  name = "this.biography" [(ngModel)]="this.biography" placeholder="Escreva um pouco sobre você…" ></textarea>
            </form>
          <p class="center text-help ">Não se preocupe, você pode editar depois.</p>
        </div>

</ng-template>

<ng-template #externalLinks>
    
        <div class='row how-access col-12'>
          <p>
              <b>Cadastre links externos que os visitantes do seu perfil poderão acessar (OPCIONAL):</b></p>
        </div>


        <div class='row row-links'>
            <div class='col-12 col-md-6'>
              <div class='row row-link'>
                <div class='col-12 col-link'>
                  <p class='title-link'>Linkedin</p>
                </div>
                <div class='col-12 col-link'>
                </div>
                <div class='col-12 col-input'>
                  <input class="input-link col-12" type="text" name="this.links.linkedin"  [(ngModel)]="this.links.linkedin">
                </div>
              </div>
            </div>  
            <div class='col-12 col-md-6'>
                <div class='row row-link'>
                    <div class='col-12 col-link'>
                      <p class='title-link'>Twitter</p>
                    </div>
                    <div class='col-12 col-link'>
                    </div>
                    <div class='col-12 col-input'>
                      <input class="input-link " type="url" name="this.links.twitter"  [(ngModel)]="this.links.twitter">
                    </div>
                  </div>
            </div>  
            <div class='col-12 col-md-6'>
                <div class='row row-link'>
                    <div class='col-12 col-link'>
                      <p class='title-link'>Facebook</p>
                    </div>
                    <div class='col-12 col-link'>
                    </div>
                    <div class='col-12 col-input'>
                      <input class="input-link col-12" type="text" name="this.links.facebook"  [(ngModel)]="this.links.facebook" >
                    </div>
                  </div>
            </div>  
            <div class='col-12 col-md-6'>
                <div class='row row-link'>
                    <div class='col-12 col-link'>
                      <p class='title-link'>Lattes</p>
                    </div>
                    <div class='col-12 col-link'>
                    </div>
                    <div class='col-12 col-input'>
                      <input class="input-link col-12" type="text" name="this.links.lattes"  [(ngModel)]="this.links.lattes" >
                    </div>
                  </div>
            </div>  

        </div>
</ng-template>
