
/*Background*/
$bg-gray-light2:#fcfcfc;
$bg-gray-light:#f3f3f3;
$bg-feedback: #f7f7f7;
$bg-modal:#efefef;
$btn-yellow: #f8a635;
$hover-gray: #c6c6c6;
$white: #ffffff;
$btn-bg-hover:#cf7c0a;
$bg-header:#262d62;

/*Borders*/
$border-input: #c0c0c0;
$border-input-radio: #bababa;
$border-button: #dddddd;
$border-publication-component:#e6e6e6;
$border-header:#262d63;
$border-order: #bdbdbd;
$border-forms: #dcdcdc;

/*Fonts */
$font-black: #0b0b0b;
$font: #787878;
$select-gray: #767676;
$font-primary-blue: #1a2359;
$font-error: #d0021b;

/*Others*/
$brownish-grey: #787878;