html,
body {
    font-family: Poppins !important;
    margin: -8px 0 0 0 !important;
    background: $bg-gray-light;
    overflow-x: hidden;
}

html {
    top: 0 !important;
}

.cdk-global-scrollblock {
    overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
input,
label,
select,
.mat-tab-label,
.mat-tab-link,
.mat-expansion-panel-header {
    font-family: Poppins !important;
}

.content {
    margin: 16px 3em;
}


.middle-flex {
    display: flex;
    align-items: center;
    height: 85%;
}

.btn {
    width: 157px;
    min-height: 40px;
    border-radius: 3px;
    border: solid 1px $btn-yellow;
    background-color: $btn-yellow;
    color: $white;
    font-family: Poppins;
    letter-spacing: 0.6px;
}

.popover {
    z-index: 1000 !important
}

.btn:hover {
    background-color: $btn-bg-hover;
    border: solid 1px transparent;
}

.btn2 {
    width: 157px;
    height: 40px;
    border-radius: 3px;
    border: solid 1px $btn-yellow;
    background-color: $white;
    color: $btn-yellow;
}

.btn2-filter {
    z-index: 100 !important;
    width: 71px;
    height: 30px;
    border-radius: 3px;
    border: solid 2px $btn-yellow;
    background-color: $white;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    margin-bottom: 0.5rem;
    color: $btn-yellow;
}

.btn2-filter:hover {
    background-color: $btn-yellow;
    color: $white;
}

.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    z-index: 9999;
}

.radioButton {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.radioButton[disabled="true"] {
    cursor: default;
}

.radioButton input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: 4px;
    left: 3px;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    border: solid 1px $border-input-radio;
}

.radioButton:hover input~.checkmark {
    background-color: #dfdfdf;
}

.radioButton[disabled="true"]:hover input~.checkmark {
    background-color: initial;
}

.radioButton input:checked~.checkmark {
    background-color: white;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radioButton input:checked~.checkmark:after {
    display: block;
}

.radioButton .checkmark:after {
    top: calc(50% - 0.52em);
    left: calc(50% - 0.52em);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: $btn-yellow;
}

/* Hide the browser's default checkbox */
.checkmark-div input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmarkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px $border-order;
}

/* On mouse-over, add a grey background color */
.checkmark-div:hover input~.checkmarkbox {
    // background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkmark-div input:checked~.checkmarkbox {
    background-color: $btn-yellow;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmarkbox:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkmark-div input:checked~.checkmarkbox:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkmark-div .checkmarkbox:after {
    left: 4px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.logo-unisinos {
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: $font-primary-blue;
    margin-bottom: -8px !important;
    margin-top: 8px;
}

.logo-portfolio {
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    color: $font-primary-blue;
}

.app-bar-bg {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: $white;
}

input {
    border-radius: 4px;
    border: solid 1px $border-input;
}

.mat-progress-spinner {
    margin: auto !important;
}

.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: $font-primary-blue !important;
}

.mat-dialog-container {
    background-color: $bg-modal !important;
    padding: 30px 40px !important;
    min-height: 595px;
}

.mat-dialog-title {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.0px;
    color: $font;
    margin: 20px 0 0 30px !important;
}

.mat-ink-bar {
    background: $btn-yellow !important;
}

.mat-tab-label-active {
    color: $btn-yellow !important;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
}

.mat-expansion-panel-header {
    width: 500px;
    border-radius: 3px;
    border: solid 1px #cccccc;
}

.mat-expansion-panel {
    box-shadow: none !important;
    background: $bg-gray-light;
}

.mat-expansion-panel-body {
    min-height: 90px;
    padding: 0 24px !important;
    margin-bottom: 20px;
}

.mat-expanded .mat-expansion-panel-header {
    border: none;
}

.mat-expansion-panel-content.mat-expanded {
    box-shadow: none !important;
    background: $white !important;
}


.mat-tab-header {
    margin-bottom: 3em !important;
}

.mat-tab-body-content {
    overflow: hidden !important;
}

.mat-filtro .mat-expansion-indicator {
    display: none !important;
}

@media (max-width: 920px) {
    .mat-expansion-panel-body {
        padding: 0 10px !important;
    }

    .checkmark {
        position: absolute;
        top: 4px;
        left: 3px;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        border: solid 1px $border-input-radio;
    }

    .radioButton .checkmark:after {
        top: 0.05em;
        left: 0.05em;
        border-radius: 50%;
        width: 1em;
        height: 1em;
        background: $btn-yellow;
    }
}

.content-modal {
    margin-top: 30px;
}

.dialog-permissions {
    margin: 0 8px;
}

.content-modal .main-row {
    margin-right: 0px;
}

.forms-opt {
    padding: 30px !important;
    margin-bottom: 30px;
}

.content-modal .col-4 {
    padding-right: 0px !important;
}

.mat-tab-label .mat-tab-label-content {
    font-weight: bold;
}


.mat-dialog-actions {
    margin-bottom: 0px !important;
}

.btn-gray {
    border-radius: 3px;
    border: solid 1px $border-button;
    background-color: $bg-gray-light;
    height: 48px;
    width: 169px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: $font;
    margin: auto;
    align-items: center;
}

.btn-orange {
    display:block;
    border-radius: 3px;
    border: solid 1px #f8a635;
    background-color: $bg-gray-light;
    height: 48px;
    width: 169px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #f8a635;
    margin: auto;
    align-items: center;
}

.btn-orange:hover{
    color:white;
    background-color: #f8a635;
}

.btn-orange-white {
    border-radius: 3px;
    border: solid 1px $btn-yellow;
    background-color: $white;
    height: 48px;
    width: 120px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: $btn-yellow;
    margin: auto;
    align-items: center;
}

.btn-orange-white:hover {
    background-color: $btn-yellow;
    color: $white;
}


.btn-gray:hover {
    border-color: $select-gray;
    background: $white;
}

.urlParcial {
    width: 100%;
}

.btn-close {
    margin-right: -10px;
}

.grab {
    cursor: grab;
}

.pointer {
    cursor: pointer;
}

input:focus,
.medium-editor-element:focus,
textarea:focus {
    box-shadow: 0 0 3px 0 $btn-yellow;
    outline: none
}

.medium-editor-element p {
    font-family: 'PT Serif', serif !important;
    font-size: 21px;
}

.medium-editor-element {
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    font-size: 21px;
    color: $font;
    letter-spacing: normal;
    background-color: white;
    padding-left: 20px;
    min-height: 120px;
}

blockquote {
    font-family: 'PT Serif', serif !important;
    display: block;
    padding-left: 20px;
    border-left: 3px solid #999999;
    margin-left: -15px;
    padding-left: 15px;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    color: #555;
}

button.medium-editor-action.medium-editor-action-quote {
    font-size: 28px !important;
}

.mat-card {
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px
}

.mat-card .mat-divider-horizontal {
    position: absolute;
    left: 0;
    width: 100%
}

[dir=rtl] .mat-card .mat-divider-horizontal {
    left: auto;
    right: 0
}

.mat-card .mat-divider-horizontal.mat-divider-inset {
    position: static;
    margin: 0
}

[dir=rtl] .mat-card .mat-divider-horizontal.mat-divider-inset {
    margin-right: 0
}

@media screen and (-ms-high-contrast:active) {
    .mat-card {
        outline: solid 1px
    }
}

.mat-card-actions,
.mat-card-content,
.mat-card-subtitle {
    display: block;
    margin-bottom: 16px
}

.mat-card-title {
    display: block;
    margin-bottom: 8px
}

.mat-card-actions {
    margin-left: -8px;
    margin-right: -8px;
    padding: 8px 0
}

.mat-card-actions-align-end {
    display: flex;
    justify-content: flex-end
}

.mat-card-image {
    width: calc(100% + 32px);
    margin: 0 -16px 16px -16px
}

.mat-card-footer {
    display: block;
    margin: 0 -16px -16px -16px
}

.mat-card-actions .mat-button,
.mat-card-actions .mat-raised-button {
    margin: 0 8px
}

.mat-card-header {
    display: flex;
    flex-direction: row
}

.mat-card-header .mat-card-title {
    margin-bottom: 12px
}

.mat-card-header-text {
    margin: 0 16px
}

.mat-card-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover
}

.mat-card-title-group {
    display: flex;
    justify-content: space-between
}

.mat-card-sm-image {
    width: 80px;
    height: 80px
}

.mat-card-md-image {
    width: 112px;
    height: 112px
}

.mat-card-lg-image {
    width: 152px;
    height: 152px
}

.mat-card-xl-image {
    width: 240px;
    height: 240px;
    margin: -8px
}

.mat-card-title-group>.mat-card-xl-image {
    margin: -8px 0 8px 0
}

@media (max-width:599px) {
    .mat-card-title-group {
        margin: 0
    }

    .mat-card-xl-image {
        margin-left: 0;
        margin-right: 0
    }
}

.mat-card-content>:first-child,
.mat-card>:first-child {
    margin-top: 0
}

.mat-card-content>:last-child:not(.mat-card-footer),
.mat-card>:last-child:not(.mat-card-footer) {
    margin-bottom: 0
}

.mat-card-image:first-child {
    margin-top: 0px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit
}

.mat-card>.mat-card-actions:last-child {
    margin-bottom: -8px;
    padding-bottom: 0
}

.mat-card-actions .mat-button:first-child,
.mat-card-actions .mat-raised-button:first-child {
    margin-left: 0;
    margin-right: 0
}

.mat-card-title {
    margin-bottom: 8px
}

.mat-card-subtitle:not(:first-child),
.mat-card-title:not(:first-child) {
    margin-top: -4px
}

.mat-card-header .mat-card-subtitle:not(:first-child) {
    margin-top: -8px
}

.mat-card>.mat-card-xl-image:first-child {
    margin-top: -8px
}

.mat-card>.mat-card-xl-image:last-child {
    margin-bottom: -8px
}

.mat-fab .mat-button-wrapper {
    padding: 0px !important;
}