.fs11 {
    font-size: 11px;
}

.fs16 {
    font-size: 16px;
}

.fs50 {
    font-size: 50px;
}

.lh24 {
    line-height: 22px;
}

.lh30 {
    line-height: 30px;
}

.lh30 {
    line-height: 60px;
}

.lw500 {
    font-weight: 500;
}

.bold {
    font-weight: bold;
}

.ls057 {
    letter-spacing: 0.57px;
}

.ls179 {
    letter-spacing: 1.79px;
}

.font-color {
    color: $font;
}

.family-light {
    font-weight: 200;
    font-style: normal;
}

.center {
    text-align: center;
}

.postImage,
.postVideo iframe {
    display: block;
    margin: auto;
    max-width: 100%;
}

iframe {
    min-width: 500px;
    min-height: 300px;
}