<div  class='row title-section' >
  <div class='col-12'>
    <span >DESTAQUES</span>
  </div>
</div>
<div class='row subTitle '>
  <div class='col-12'>
    <span >Explore as publicações e portfólios</span>
  </div>
</div>

<mat-tab-group mat-align-tabs="center">
  
  <mat-tab label="Publicações">
      <app-publications [publicacoes]="this.publications"></app-publications>
      <div class='row row-publ'>
        <div class='col-12 div-btn'>
          <button type="button" class="btn-orange" 
          [routerLink]="[ '/explorar']">
            Veja mais
          </button>
        </div>
      </div>
  </mat-tab>
  <mat-tab label="Portfolio">
      <app-portfolios [portfolios]="this.portfolios"></app-portfolios>
      <div class='row row-port'>
        <div class='col-12 div-btn'>
          <button type="button" class="btn-orange" 
          [routerLink]="[ '/explorar']">
            Veja mais
          </button>
        </div>
      </div>
  </mat-tab>
  </mat-tab-group>