@import '~src/styles/global/colors';
@import '~src/styles/global/helper';
@import '~src/styles/global/global';


.title-section{
    margin-bottom:1em;
    text-align: center;
}

.title-section span{
    font-family: Chivo;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
    color: #2c2c2c;
}

.subTitle{
    text-align: center;
    margin-bottom:3.0em;
}

.subTitle span{
    font-family: Chivo;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
    color: #262d62;
}

.div-btn{
    margin-left:auto;
    margin-right:auto;
}

@media(max-widh:500px){
    .row-publ{
        margin-left:auto;
        margin-right:auto;
    }
    .row-port{
        margin-left:auto;
        margin-right:auto;
    }
}