
<div class='row feedbackMat' style='margin-top:0'>
  <div class='col-12'>
    <mat-accordion [multi] = 'true'>

      <mat-expansion-panel [disabled]='true' class="teste">
        <mat-expansion-panel-header class="mat-expansion-panel-header-0">
          <mat-panel-description>
            <span class='span-description'>Esta área é visível apenas para o autor e seus professores/mentores.</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header class="mat-expansion-panel-header-1">
          <mat-panel-title>
            <span>REFLEXÃO DO ESTUDANTE</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <app-reflection-user [text]='this.reflexao' [imgPath]='this.imgPath'></app-reflection-user>
      </mat-expansion-panel>

      <div *ngIf='this.visibleFeedback'>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header class="mat-expansion-panel-header-2">
            <mat-panel-title>
              <span>FEEDBACK DO PROFESSOR/MENTOR</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngIf='!this.firstFeedBack'>
            <div class='row feedback-card' *ngFor='let feedback of feedbacks; trackBy: trackElement'>
              <app-feedback (UpdateSocialComponent)='UpdateComponent()' [feedbackInfo]='feedback'></app-feedback>
            </div>
          </div>
          <app-feedback-input class='row' (UpdateSocialComponent)='UpdateComponent()'
            [idPublicacao]='this.idPublicacao'></app-feedback-input>

        </mat-expansion-panel>
      </div>

    </mat-accordion>
  </div>
</div>
