@import '~src/styles/global/colors';



.row-info-feedback-section {
    margin: auto;
}

.mat-accordion .mat-expansion-panel:last-of-type {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.mat-accordion .mat-expansion-panel:first-of-type {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

/deep/.mat-expansion-indicator {
    margin-right: 70px
}

/deep/.mat-expansion-indicator::after {
    color: #787878
}

.feedback-section-info {
    width: 60%;
    color: $white;
    font-size: 14px;
}

.mat-expansion-panel-header {
    width: 100%;

}

.mat-expansion-panel {
    margin: 0 !important;
}

.mat-expansion-panel-header-0 .mat-expansion-panel-header-description {
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0px;
    text-align: center;

}

.span-description {
    font-size: 14px !important;
    color: #f8a635;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    display: block
}

.mat-expansion-panel-header-0 {
    height: 100px !important;
    border-radius: 0px !important;
    margin: 0;
    border: 0px;
    background: $bg-feedback
}

.mat-expansion-panel-header-2 {
    width: 100%;
    background: #dddddd;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: $font;
    height: 60px;
    border-radius: 0px !important
}

.mat-expansion-panel-header-1 {
    width: 100%;
    height: 60px;
    background: $white;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: $font;
    border-radius: 0px !important
}


.mat-expansion-panel {
    box-shadow: none !important;
    background: $bg-gray-light;
}

::ng-deep .feedbackMat .mat-expansion-panel-body {
    min-height: 90px;
    width: 100%;
    margin-top: 0.1em;
    padding: 0 !important;
}

.mat-expansion-panel-header-description span {
    margin: auto;
    font-size: 18px;
}

.mat-expanded .mat-expansion-panel-header {
    border: none;
    align-content: center;
}

.mat-expanded .mat-expansion-panel-header.mat-expanded {
    background-color: $hover_gray;
    font-weight: bold;
    border-radius: 0px !important
}



.mat-expansion-panel-content.mat-expanded {
    box-shadow: none !important;
    background: $bg-gray-light !important;
}


.feedback-section-description {
    font-size: 15px;
    font-weight: bold;
    color: $font;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    margin-bottom: 0.5rem;
    font-family: Poppins !important
}

.mat-expansion-panel p {
    margin-top: 2em;
    margin-bottom: 0px;
    font-size: 12px;
    margin-left: 3em;
    color: $font;
    font-style: normal;
    font-stretch: normal;
    line-height: 2em;
    letter-spacing: 0.4px;
    margin-bottom: 0.5rem;
    font-family: Poppins !important
}

.form-control {
    width: 90%;
    margin-left: 5em;
}

.btn-publish {
    border: solid 1px $border-button;
    margin-top: 2em;
    margin-left: auto;
    float: right;
    margin-right: 2em;
    margin-bottom: 2em;
    background-color: $bg-gray-light;
    color: $font;
}

.btn-publish:hover {
    background-color: $hover-gray;
}