<div class="dialog-set-user">
  <div class="row">
    <button class="btn-close" type="button" mat-button [mat-dialog-close]="true" tabindex="-1"><img src="assets/img/x.png"
        srcset="../../../assets/img/x@2x.png 2x,
      ../../../assets/img/x@3x.png 3x" class="x"></button>
  </div>
  <div class="row">
      <div class="col-12">
          <img src="assets/img/group.png" srcset="../../../assets/img/group@2x.png 2x,
            ../../../assets/img/group@3x.png 3x" class="modal-alert">
      </div>
    <h2>OOPS! Parece que tivemos um problema</h2>
    <p class="p-define">Por favor, tente novamente mais tarde</p>
  </div>
</div>