<div *ngIf="this.socialSection">
  <app-palmas
    [idPublicacao] = "this.idPublicacao"
  ></app-palmas>
</div>
  <div class='container' *ngIf="this.visibleFeedback">
    <div class="row header-social">
      <div class='col-6 header-tab' 
        (click)="changeTab(0)"
        [ngClass]="(this.tab==0) ? 'header-tab-active' : 'header-tab'">
        <div class='header-content'>
          <div class="label-tab">
            <img src="assets/img/refresh-cw.png" srcset="../../../assets/img/refresh-cw@2x.png 2x,
            ../../../assets/img/refresh-cw@3x.png 3x" class="feedback-img">
            <span class='mat-tab-title'>Reflexão e Feedback</span>
          </div>
        </div>
      </div>
      <div class='col-6 header-tab'
          (click)="changeTab(1)"
          [ngClass]="(this.tab==1) ? 'header-tab-active' : 'header-tab'">
        <div class='header-content' >
          <div class='label-tab'>
            <img src="assets/img/message-circle.png" srcset="../../../assets/img/message-circle@2x.png 2x,
            ../../../assets/img/message-circle@3x.png 3x" class="feedback-img">
            <span class='mat-tab-title'>Comentários</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='container' *ngIf="!this.visibleFeedback">
    <div class="row header-social">
      <div class='col-12 header-tab'
          (click)="changeTab(1)"
          [ngClass]="(this.tab==1) ? 'header-tab-active' : 'header-tab'">
        <div class='header-content' >
          <div class='label-tab'>
            <img src="assets/img/message-circle.png" srcset="../../../assets/img/message-circle@2x.png 2x,
            ../../../assets/img/message-circle@3x.png 3x" class="feedback-img">
            <span class='mat-tab-title'>Comentários</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="this.tab == 0">
      <app-feedback-section 
                                                                                  [idPublicacao]='idPublicacao' 
                                                                                  [reflexao] = 'this.reflexao'
                                                                                  [imgPath]='this.imgPath'
                                                                                  [visibleFeedback]='this.visibleFeedback'></app-feedback-section>


  </div>

  <div #comment *ngIf="this.tab == 1">
    <app-comments
    [idPublicacao]='idPublicacao' >
  </app-comments>
  </div>
