@import '~src/styles/global/colors';

.mat-tab-title {
    color: $font !important
}


.feedback-img {
    width: 18px;
    height: 18px;
    object-fit: contain;
    margin-right: 0.8em
}

.feedback-section {
    margin-bottom: 0px;
}

.mat-tab-group {
    margin-bottom: 0em;

}


.mat-tab:hover {
    background: transparent;
}

.mat-tab {
    height: 70px;
}

.mat-tab-header {
    margin-bottom: 0 !important;
    min-height: 120px;
}

::ng-deep .matSocial .mat-tab-list .mat-tab-labels {
    height: 110px;
}

::ng-deep .matSocial .mat-tab-list .mat-tab-labels:hover {
    background: transparent;
}

::ng-deep .matSocial .mat-tab-list .mat-tab-label {
    margin-top: auto;
    margin-bottom: auto;
}

::ng-deep .matSocial .mat-tab-list .mat-tab-labels:hover {
    background: transparent;
}

::ng-deep .matSocial .mat-tab-header {
    margin-bottom: 0em !important;
    background: white
}

::ng-deep .mat-tab {
    height: 60px;
}

.header-social {
    height: 120px;

}

.header-content {
    width: 100%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.header-content {
    cursor: pointer;
}

.header-tab-active {
    background: white !important;
}

.header-tab-active span {
    font-weight: 600;
}

.header-tab {
    width: 100%;
    height: 100%;
    background: #e9e8e8;
}

.header-tab:hover {
    background: #f3f3f3;
}

.label-tab {
    padding-top: 2.8em;
    margin: auto;
    text-align: center;
}

@media(max-width: 700px) {
    span {
        font-size: 14px;
    }
}

@media(max-width: 400px) {
    span {
        font-size: 12px;
    }
}