<div class="row row-nav-modal">
  <div class="col-9 div-settings">
    <h3 mat-dialog-title>Configurações</h3>
  </div>
  <div class="col-3 close-div">
    <button class="btn-close" type="button" mat-button [mat-dialog-close]="true" tabindex="-1"><img
        src="assets/img/x.png" srcset="../../../assets/img/x@2x.png 2x,
      ../../../assets/img/x@3x.png 3x" class="x"></button>
  </div>

</div>
<form class="form-signin desk" #f="ngForm" novalidate>
  <mat-dialog-content class="dialog-permissions">
    <div class="content-modal">
      <div class="row main-row">
        <div class="col-4">
          <p class="middle-flex p-url" (click)="clickEvent(0)" [ngClass]="(this.status[0]) ? 'active' : ''">URL</p>
          <p class="middle-flex p-url" (click)="clickEvent(1)" *ngIf='!this.professorUser'
            [ngClass]="this.status[1] ? 'active' : ''">Permissões
            de
            Acesso</p>
          <p class="middle-flex p-url" (click)="clickEvent(2)" [ngClass]="this.status[2] ? 'active' : ''">Biografia</p>
          <p class="middle-flex p-url" (click)="clickEvent(3)" [ngClass]="this.status[3] ? 'active' : ''">Links Externos
          </p>
        </div>

        <div class="col-md-8 forms-opt">
          <div *ngIf="this.status[0]">
            <p>Aqui você pode alterar a URL do seu portfólio:</p>
            <div class="center div-input row">
              <div class="col-md">
                <div class="row placeholder" data-placeholder="www.unisinos.br/portfolio/">
                  <div class="col form-signin">
                    <input type="text" name="urlParcial" class="urlParcial" value="urlParcial" [(ngModel)]="urlParcial"
                      (input)="onChange($event.target.value)" required>
                  </div>
                </div>
              </div>
            </div>
            <div class="center div-input row">
              <div class="col-md">
                <div class="div-icons">
                  <p class="fs11 font-color lw500 message"> <img class="icons" [src]="this.imagePath"> {{message}}</p>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="this.status[1] && !this.professorUser">
            <p>Defina as opções gerais de visualização do seu Portfólio:</p>
            <label class="radioButton"><b>APENAS MEUS PROFESSORES</b><br>
              Permite que apenas os professores das atividades acadêmicas e do período atual visualizem meu portfólio e
              minhas publicações.
              <input type="radio" name="privacy" value="0" [(ngModel)]="forms.privacy" #privacyControl="ngModel"
                required>
              <span class="checkmark"></span>
            </label>
            <label class="radioButton"><b>COMUNIDADE ACADÊMICA</b><br>
              Permite que todos professores e estudantes da universidade encontrem e visualizem meu portfólio e minhas
              publicações.
              <input type="radio" name="privacy" value="1" [(ngModel)]="forms.privacy" required>
              <span class="checkmark"></span>
            </label>
            <label class="radioButton"><b>PÚBLICO</b><br> Permite que qualquer pessoa possa encontrar e visualizar meu
              portfólio e
              minhas publicações públicas.
              <input type="radio" name="privacy" value="2" [(ngModel)]="forms.privacy" required>
              <span class="checkmark"></span>
            </label>
          </div>
          <div *ngIf="this.status[2]">
            <div class="biography-area">
              <ng-container *ngTemplateOutlet="biographyArea"></ng-container>
            </div>
          </div>
          <div *ngIf="this.status[3]">
            <div class="container">
              <ng-container *ngTemplateOutlet="externalLinks"></ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="btn" type="button" mat-button (click)="save()">Salvar</button>
  </mat-dialog-actions>
</form>

<form class="form-signin mobile" #f_mobile="ngForm" novalidate>
  <mat-dialog-content>
    <div class="row">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span><b>URL</b></span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="container row col-10">
            <p class="url-p-mobile">Aqui você pode alterar a URL do seu portfólio:</p>
          </div>
          <div class="container row col-12">
            <input class="urlParcial" type="text" name="urlParcial" value="urlParcial" [(ngModel)]="urlParcial"
              (input)="onChange($event.target.value)" required>
            <div class="div-icons">
              <p class="fs11 font-color lw500 message"> <img class="icons" [src]="this.imagePath"> {{message}}</p>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="!this.professorUser">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span><b>Permissões de Acesso</b></span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="container">
            <label class="radioButton">
              <p class="title-access">Apenas meus professores</p>
              <span class="desc-access">
                Permite que apenas os professores das atividades acadêmicas e do período atual visualizem meu portfólio
                e
                minhas publicações.
              </span>
              <input type="radio" name="privacy" value="0" [(ngModel)]="forms.privacy" #privacyControl="ngModel"
                required>
              <span class="checkmark"></span>
            </label>
            <label class="radioButton">
              <p class="title-access">Comunidade Acadêmica</p>
              <span class="desc-access">
                Permite que todos professores e estudantes da universidade encontrem e visualizem meu portfólio e minhas
                publicações.
              </span>
              <input type="radio" name="privacy" value="1" [(ngModel)]="forms.privacy" #privacyControl="ngModel"
                required>
              <span class="checkmark"></span>
            </label>
            <label class="radioButton">
              <p class="title-access">Público</p>
              <span class="desc-access">
                Permite que qualquer pessoa possa encontrar e visualizar meu
                portfólio e
                minhas publicações públicas.
              </span>
              <input type="radio" name="privacy" value="2" [(ngModel)]="forms.privacy" #privacyControl="ngModel"
                required>
              <span class="checkmark"></span>
            </label>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span><b>Biografia</b></span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="content" id="biographyPanel">
            <ng-container *ngTemplateOutlet="biographyArea"></ng-container>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span><b>Links Externos</b></span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="content" id="linkExternal">
            <ng-container *ngTemplateOutlet="externalLinks"></ng-container>
          </div>
        </mat-expansion-panel>


      </mat-accordion>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="btn" type="button" mat-button (click)="save()">Salvar</button>
  </mat-dialog-actions>
</form>


<ng-template #biographyArea>
  <div class="row how-access col-12 col-text-area">
    <p>
      <b>Nos conte um pouco sobre sua história, seus objetivos, coisas que gosta de fazer e especialidades:</b></p>
  </div>
  <div class="row col-12 col-text-area">
    <form class="form-area">
      <textarea #feedbackText matInput name="this.biography" [(ngModel)]="this.biography"
        placeholder="Escreva um pouco sobre você…"></textarea>
    </form>

  </div>

</ng-template>

<ng-template #externalLinks>

  <div class="row how-access col-12">
    <p>
      <b>Cadastre links externos que os visitantes do seu perfil poderão acessar (OPCIONAL):</b></p>
  </div>


  <div class="row row-links">
    <div class="row row-link">
      <p class="title-link">Linkedin</p>
      <div class="col-12 col-input">
        <input class="input-link col-12" type="text" name="this.links.linkedin" [(ngModel)]="this.links.linkedin">
      </div>
    </div>
    <div class="row row-link">
      <p class="title-link">Twitter</p>

      <div class="col-12 col-input">
        <input class="input-link col-12" type="url" name="this.links.twitter" [(ngModel)]="this.links.twitter">
      </div>
    </div>
    <div class="row row-link">
      <p class="title-link">Facebook</p>
      <div class="col-12 col-input">
        <input class="input-link col-12" type="text" name="this.links.facebook" [(ngModel)]="this.links.facebook">
      </div>
    </div>
    <div class="row row-link">
      <p class="title-link">Lattes</p>
      <div class="col-12 col-input">
        <input class="input-link col-12" type="text" name="this.links.lattes" [(ngModel)]="this.links.lattes">
      </div>
    </div>
  </div>
</ng-template>