@import '~src/styles/global/colors';

:host {
    /deep/ {
        .mat-tab-group {
            flex-direction: row;
        }

        .mat-tab-header {
            border-bottom: none;
        }

        .mat-tab-header-pagination {
            display: none !important;
        }

        .mat-tab-labels {
            flex-direction: column;
        }

        .mat-ink-bar {
            height: 100%;
            left: 98% !important;
        }

        .mat-tab-body-wrapper {
            flex: 1 1 auto;
        }
    }
}

.row-nav-modal {
    margin-bottom: 0px;
}

.desc-acess {
    display: block;
}

.close-div {
    margin-bottom: 2em;
    float: right;
    margin-left: auto;
}

.mat-dialog-title {
    margin-top: auto;
    margin-bottom: auto;
}

.btn-close {
    float: right;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.mat-tab-label-active {
    background: $white;
}

.mat-tab-body-content {
    background: $white;
}


.dialog-permissions {
    width: 780px;
    border-radius: 3px;
    background-color: $bg-modal;
    min-height: 395px;
}

.p-url {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: $font;
    height: 40px;
    border-radius: 3px;
    padding-left: 23px;
    cursor: pointer;
}

.active {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    background-color: $white;
    color: $btn-yellow;
}

.checkmark {
    top: 25px;
}



.forms-opt {
    background: $white;
    padding: 15px !important;
    color: $font;
    font-size: 14px !important;
}

.radioButton {
    font-size: 14px !important;
    padding-left: 35px;
}

.btn {
    margin-left: auto;
    width: 95px;
    font-weight: 500;
    font-size: 13px;
}

.btn-close {
    margin-left: auto;
    background: none;
    border: none;
}

input {
    height: 53px;
    background: none;
    padding-left: 210px;
}

.placeholder {
    position: relative;
}

.placeholder::after {
    position: absolute;
    left: 45px;
    top: 15px;
    content: attr(data-placeholder);
    pointer-events: none;
    opacity: 0.6;
}

.icons {
    width: 23px;
    height: 22px;
    margin-right: 5px;
}

.message {
    text-align: center;
    margin-top: 15px;
    margin-left: 5px;
    letter-spacing: 0.4px;
    max-width: 80%;
}

.div-icons {
    margin: auto;
    width: 100%;
}


.forms-opt {
    padding-right: 0px;
}

.form-area {
    width: 100%;
    padding-top: 1em;
    margin: auto
}

.biography-area {
    padding-left: 2em;
    display: block;
    width: 100%;
}

.how-access {
    padding-left: 0;
}

.how-access p {
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 0.57px;
    color: $font;
}

.col-text-area {
    padding-left: 0px;
}

.form-area textarea {
    padding-top: 1em;
    padding-left: 1em;
    border-radius: 4px;
    width: 100%;
    height: 233px;
    margin: auto;
    display: block;
    color: $font;
    background: white;
    border: 1px solid #dddddd;
    font-family: Poppins;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
}

.input-link {
    padding-left: 5px;
    max-width: 500px;
    height: 46px;
    background: none;
}

.col-input {
    padding-left: 0px;
    margin-left: 0px;
}

.btn-form {
    margin-right: 0.5em;
}

.row-links {
    margin-top: 1em;
    margin-left:0
}

.row-link {
    width:100%;
    margin-top: 1em;
}

.btn-back {
    background: transparent;
    border: solid 1px #dddddd;
    color: $font
}

.col-link {
    margin-left: 0;
    padding-left: 0;
}

.title-link {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: 0.5px;
    color: #787878;
    margin-bottom: 0px;
    width: 100%;
}

.example-link {
    margin-top: 0em;
    margin-bottom: 0.5em;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 0.4px;
    color: #787878;
}

.btn2 {
    margin-top: 1em;
    margin-left: auto;
}

.intro {
    margin-top: 5em;
}

.title {
    margin-bottom: 1.2em;
}



@media(min-width:920px) {
    .mobile {
        display: none;
    }
}

@media(max-width:920px) {
    .mat-expansion-panel-spacing {
        margin: 0px !important;
    }


    .desk {
        display: none;
    }

    .mat-accordion {
        width: 120%;
        background-color: white;
        margin: 0px;
    }

    .mat-expansion-panel {
        background: transparent;
    }

    .mat-expansion-panel-body {
        width: 100%;
        background-color: white;
    }

    .mat-expansion-panel-content {
        width: 100%;
    }

    .mat-form-field {
        width: 135%;
    }

    .mat-input-element {
        padding: 0px;
    }

    .mat-dialog-container {
        background-color: $bg-modal !important;
        width: 100%;
    }

    .mat-dialog-content {
        width: stretch;
        padding-left: initial;
        margin: 2px -31px;
    }

    .mat-expansion-panel-body {
        height: 300px !important;
    }

    .privacy-radio-group {
        display: inline-flex;
        flex-direction: column;
        font-size: 10px;
    }

    .privacy-radio-button {
        margin: 5px;
    }

    .privacy-selected-value {
        margin: 15px 0;
    }

    .radioButton {
        font-size: 1px;
        width: 110%;
        padding-left: 30px;
    }

    .checkmark {
        top: 1px;
    }


    .mat-expansion-panel-header {
        border-left: none;
        border-top: none;
        background: $bg-modal;
        border: 0px;
        border-bottom: 1px solid $border-input
    }

    .mat-expansion-panel-header:not {

        background: $bg-modal;

    }

    .mat-expanded .mat-expansion-panel-header {
        background: white;
        border-bottom: none;
    }

    .mat-expanded .mat-expansion-panel-header span {
        font-weight: 600;
        color: $btn-yellow !important
    }

    mat-expansion-panel-content {
        background: white !important
    }

    ::ng-deep .mat-expansion-panel-body {
        background: white !important
    }


    input {
        height: 53px;
        background: none;
        padding-left: 2px;
    }

    .message {
        text-align: center;
        margin-top: 7px;
        margin-left: 2px;
        letter-spacing: 0.4px;
        max-width: 80%;
        font-size: 10px;
    }

    .div-icons {
        width: 120%;
    }

    .icons {
        width: 18px;
        height: 18px;
        margin-right: 5px;
    }

    input {
        border-radius: 4px;
        border: solid 1px $border-input;
        font-size: 10px;
        margin-left: 2em;
        margin-right: 5em
    }

    .url-p-mobile {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
        text-align: center;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.21;
        letter-spacing: normal;
        color: $font;
    }

    .how-access p {
        font-size: 12px;
        color: $font;
        padding-left: 0
    }

    .how-access {

        padding-left: 0
    }

    .col-text-area {
        padding-right: 0;
        padding-left: 0;
    }

    .title-link {
        font-size: 14px;
    }

    .example-link {
        font-size: 12px;
    }

    .input-link {
        height: 35px;
        background: none;
        margin-left: 0;
    }

    .access-light p {
        font-size: 12px;
        padding-left: 0
    }

    .form-signin {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

}

@media(max-width: 500px) {
    .input-link {
        width: 80% !important;
    }

    .mat-dialog-title {
        margin: 0 !important;
    }

    .url-p-mobile {
        padding-left: 0.5em
    }
}



@media(max-width: 920px) {
    .close-div {
        padding-right: 0px;
        margin-right: -0.7em;
    }

    #biographyPanel{
        margin-left: 2.2em;
        margin-right: 1em
    }

    #linkExternal{
        margin-left: 2.2em;
        margin-right: 1em
    }

    .div-settings {
        padding-left: 0;
        margin-left: 0;
    }

    .radioButton p {
        font-size: 14px;
    }

    .x {
        margin-left: auto;
        float: right;
    }

    .mat-dialog-title {
        padding-left: 0;
        margin-left: 0;
        margin: 0 !important;
    }

    /deep/.mat-expansion-indicator {
        margin-right: 3em
    }

    /deep/.mat-expansion-indicator::after {
        color: #787878;
        margin-right: 0.0em
    }

    .mat-expansion-panel-header {
        width: 100%
    }

    .title-access {
        font-weight: 600;
        font-size: 14px !important;
    }

    .desc-access {
        font-size: 12px;
        width: 70% !important;
        display: block;
    }
}

@media(max-width: 480px) {
    .desc-access {
        display: none;
    }

    .title-access {
        font-weight: 600;
        font-size: 11px !important;
    }
}