@import '~src/styles/global/colors';

:host {
    /deep/ {
        .mat-tab-group {
            flex-direction: row;
        }

        .mat-tab-header {
            border-bottom: none;
        }

        .mat-tab-header-pagination {
            display: none !important;
        }

        .mat-tab-labels {
            flex-direction: column;
        }

        .mat-ink-bar {
            height: 100%;
            left: 98% !important;
        }

        .mat-tab-body-wrapper {
            flex: 1 1 auto;
        }
    }
}

.mat-tab-label-active {
    background: $white;
}

.mat-tab-body-content {
    background: $white;
}

.dialog-permissions {
    width: 580px;
    border-radius: 3px;
    background-color: $bg-modal;
    min-height: 195px;
}

.p-url {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: $font;
    height: 40px;
    border-radius: 3px;
    padding-left: 23px;
    cursor: pointer;
}

.active {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    background-color: $white;
    color: $btn-yellow;
}

.checkmark {
    top: 25px;
}

.forms-opt {
    background: $white;
    padding: 15px;
    color: $font;
    font-size: 14px !important;
}

.radioButton {
    font-size: 14px !important;
    padding-left: 35px;
}

.btn {
    margin-left: auto;
    width: 95px;
    font-weight: 500;
    font-size: 13px;
}

.btn-close {
    margin-left: auto;
    background: none;
    border: none;
}

input {
    height: 53px;
    background: $white;
    width: 100%;
    margin: 0 15px;
}

.icons {
    width: 23px;
    height: 22px;
    margin-right: 5px;
}

.div-icons {
    margin: auto;
    width: 100%;
}

.mat-dialog-title{
    margin: 12px 0 0px 30px !important;
}

@media(min-width:920px) {
    .mobile {
        display: none;
    }
}

@media(max-width:920px) {
    .desk {
        display: none;
    }

    .mat-accordion {
        width: 120%;
        background-color: white;
        margin: 0px;
    }

    .mat-expansion-panel {
        width: 80%;
        background-color: white;
        box-shadow: none !important;
    }

    .mat-expansion-panel-body {
        width: 100%;
        background-color: white;
    }

    .mat-expansion-panel-header {
        width: 100%;
        border-bottom: solid 1px #cccccc;
        border: none;
        font-size: 11px;
    }

    .mat-expansion-panel-header .mat-expansion-indicator {
        width: 100%;
        display: none;
    }

    .mat-expansion-panel-content {
        width: 100%;
    }

    .mat-form-field {
        width: 135%;
    }

    .mat-input-element {
        padding: 0px;
    }

    .mat-dialog-container {
        background-color: $bg-modal !important;
        width: 100%;
    }

    .mat-dialog-content {
        width: stretch;
        padding-left: initial;
    }

    .mat-expansion-panel-body {
        height: 300px !important;
    }

    .privacy-radio-group {
        display: inline-flex;
        flex-direction: column;
        font-size: 10px;
    }

    .privacy-radio-button {
        margin: 5px;
    }

    .privacy-selected-value {
        margin: 15px 0;
    }

    .radioButton {
        font-size: 1px;
        width: 110%;
        padding-left: 30px;
    }

    .checkmark {
        top: 1px;
    }

    input {
        height: 53px;
        background: none;
        padding-left: 2px;
    }

    .message {
        text-align: center;
        margin-top: 7px;
        margin-left: 2px;
        letter-spacing: 0.4px;
        max-width: 80%;
        font-size: 10px;
    }

    .div-icons {
        width: 120%;
    }

    .icons {
        width: 18px;
        height: 18px;
        margin-right: 5px;
    }

    input {
        border-radius: 4px;
        border: solid 1px $border-input;
        font-size: 10px;
    }
}

@media(max-width:540px){
    .content-div{
        margin-left: 2.5em;
        padding-right: 4.5em;
    }

    .btn{
        margin-right:1.5em;
    }
}