<div class="row">
  <h3 mat-dialog-title *ngIf="isVideo">Adicionar Vídeo</h3>
  <h3 mat-dialog-title *ngIf="!isVideo">Adicionar URL</h3>
  <button class="btn-close" type="button" mat-button [mat-dialog-close]="true" tabindex="-1"><img
      src="assets/img/x.png" srcset="../../../assets/img/x@2x.png 2x,
    ../../../assets/img/x@3x.png 3x" class="x"></button>
</div>
<mat-dialog-content class="dialog-permissions">
  <div class="content-modal">
    <div class="row">
      <div class="col-12 content-div">
        <p *ngIf="isVideo">Cole a URL de conteúdos de ferramentas como: youtube e vimeo.</p>
        <p *ngIf="!isVideo">Cole a URL de conteúdos de ferramentas como: slideshare, prezi, twitter, etc.</p>
        <div class="center div-input row">
          <input type="text" name="urlEmbed" value="urlEmbed" [(ngModel)]="urlEmbed" required>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="btn" type="button" mat-button [mat-dialog-close]="urlEmbed">Salvar</button>
</mat-dialog-actions>