@import '~src/styles/global/colors';

.header-professor {
    margin: 0;
}

.app-bar-bg {
    width: 100%;
    margin-left: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    padding-right: -15px;
}

.app-bar-bg-no-logged {
    background-color: $bg-header;
    width: 100%;
    margin-left: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    padding-right: -15px;
}

.app-bar-bg-professor {
    width: 100%;
    margin-left: 0;
    padding-right: -15px;
    margin-right: 0;
    background: $white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}


.row {
    padding-left: 10px;
}

.app-bar-bg .p {
    margin-left: 10px;
}

.app-bar-bg-professor .p {
    margin-left: 10px;
}

.nav-prof {
    margin: 0;
    float: right;
    padding-right: 0;
}

.nav {
    margin: 0;
}


.middle-flex {
    height: auto;
}

.hr-border {
    height: 12px;
    width: 100%;
    background: #262d63;
    margin-bottom: 0px
}

.hr-border-no-logged {
    height: 12px;
    width: 100%;
    background: #262d63;
    margin-bottom: -1px
}

.desk {
    visibility: visible;
}

.mobile {
    display: none;
}

.menu-p {
    font-size: 16px;
    font-weight: 500;
    line-height: 4;
    letter-spacing: 1.6px;
    color: $btn-yellow !important;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: auto;
}

.menu-st {
    font-size: 16px;
    font-weight: 500;
    line-height: 4;
    letter-spacing: 1.6px;
    color: $btn-yellow !important;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: auto;
    border-bottom: 3px solid $btn-yellow;
    height: 76px;
}

.portfolio-text {
    margin: auto;
    display: block;
}

.logo {
    cursor: pointer;
    margin-right: 2.0em;
    margin-top: 1em;
}

.logos{
    width:120px;
}

.logo-n-Logged {
    width: 146px !important;
    cursor: pointer;
    
    margin-top: 1em;
}

.desc-menu {
    margin: auto;
    display: block;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 3px solid $white;
}

.desc-menu-no-logged {
    margin: auto;
    display: block;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 3px solid $bg-header;
}

.desc-menu-active {
    padding-bottom: 10px;
    border-bottom: 3px solid $btn-yellow;
    pointer-events: none;
}

.desc-menu:hover {
    padding-bottom: 10px;
    border-bottom: 3px solid $btn-yellow;
    opacity: 0.5;

}

.menu-professor {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}


.nav-btn {
    margin-left: auto;
    float: right;
}

.login-btn {
    margin-left: auto;
    float: right;
    margin-right:1em;
}

@media (max-width: 960px) {
    .content {
        margin-top: 17px;
        margin: 0;
    }

    .hr-border {
        height: 12px;
        width: 100%;
        background: #262d63;
        margin-bottom: 0.1em;
    }


    .mobile {
        display: block;
    }

    .desk {
        display: none;
    }

    .app-bar-bg {
        height: 152px;
        width: 100%;
        margin: 0;
    }

    .app-bar-bg-professor {
        height: 152px;
        width: 100%;
        margin: 0;
    }

    .menu {
        bottom: -38px;
        left: 0;
    }

    .logo {
        cursor: pointer;
        margin-right: 0.0em;
    }

}

@media(max-width: 480px) {
    .desc-menu {
        font-size: 15px;
        margin-top: auto;
        margin-bottom: auto
    }

    .menu-student {
        font-size: 15px;
        margin-top: auto;
        margin-bottom: auto
    }

    .desc-menu-active {
        padding-bottom: 15px;
        border-bottom: 3px solid $btn-yellow;
    }
}

@media(max-width: 450px) {
    .desc-menu {
        font-size: 15px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .menu-student {
        font-size: 15px;
        margin-top: auto;
        margin-bottom: auto
    }

    .menu-p {
        font-size: 15px;
    }

    .menu-st {
        font-size: 15px;
    }
}

@media(max-width: 350px) {
    .desc-menu {
        line-height: 2.0em
    }

    .menu-student {
        line-height: 2.0em !important;
        display: block
    }
}

@media(min-width:350px){
    .new-line{
        display:none;
    }
}