<div class='header-logged' *ngIf="this.loggedUser">
  <hr class="hr-border">
  <div *ngIf='!this.professorHeader' class='header-student'>
    <div class="app-bar-bg">
      <div class="desk">
        <div class='row'>
          <div class="col-sm-6 col-md-6 my-p">
            <div class="row">
              <div class="col-md-2 col-lg-2 logo" (click)="goPortfolio()">
                <img src="assets/img/unisinos-escuro.png" srcset="../../../assets/img/unisinos-escuro@2x.png 2x,
                        ../../../assets/img/unisinos-escuro@3x.png 3x">
              </div>
            
              <div class='menu-professor col-md-3 col-lg-3 '>
                  <div class='menu-p'>
                    <span class='desc-menu' (click)='setActive(0)'
                      [ngClass]="(this.activeButton==0) ? 'desc-menu-active' : 'desc-menu'"
                      [routerLink]="[ '/explorar']">Explorar</span>
                </div>
                </div>

              <div class='menu-professor col-md-4 '>
                <div class='menu-p'>
                    <span class='desc-menu' (click)='setActive(1)'
                    [ngClass]="(this.activeButton==1) ? 'desc-menu-active' : 'desc-menu'"
                      [routerLink]="[ '/meu-portfolio']">Meu<br class='new-line'> Portfólio</span>
                </div>
              </div>
              

            </div>
          </div>
          <div class='col-sm-6 col-md-6 nav'>
            <div class='nav-btn'>
              <app-nav-menu-user [isNewPublication]='isNewPost'></app-nav-menu-user>
            </div>
          </div>
        </div>
      </div>

      <div class="app-bar-bg mobile">
        <div class='row row-one'>
          <div class="col-4 col-sm-4 logo" (click)="goPortfolio()">
            <img src="assets/img/unisinos-escuro.png" srcset="../../../assets/img/unisinos-escuro@2x.png 2x,
                  ../../../assets/img/unisinos-escuro@3x.png 3x">
          </div>
          <div class='col-8 col-sm-8 nav'>
            <div class='nav-btn'>
              <app-nav-menu-user [isNewPublication]=isNewPost></app-nav-menu-user>
            </div>
          </div>
        </div>

        <div class='row'>
            <div class='menu-professor col-5 col-md-2 '>
                <div class='menu-p'>
                  <span class='desc-menu' (click)='setActive(0)'
                    [ngClass]="(this.activeButton==0) ? 'desc-menu-active' : 'desc-menu'"
                    [routerLink]="[ '/explorar']">Explorar</span>
              </div>
              </div>
          <div class='menu-professor col-5 '>
              <div class='menu-p'>
                  <span class='desc-menu' (click)='setActive(1)'
                    [ngClass]="(this.activeButton==1) ? 'desc-menu-active' : 'desc-menu'"
                  [routerLink]="['/meu-portfolio']">Meu<br class='new-line'> Portfólio</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf='this.professorHeader' class='header-professor'>
    <div class="app-bar-bg-professor row desk">
      <div class="col-sm-8 col-md-8 my-p"> 
        <div class="row">
          <div class="col-md-3 logo" (click)="goPortfolio()">
            <img src="assets/img/unisinos-escuro.png" srcset="../../../assets/img/unisinos-escuro@2x.png 2x,
                    ../../../assets/img/unisinos-escuro@3x.png 3x">
          </div>
          <div class='menu-professor col-md-2 '>
            <div class='menu-p'>
              <span class='desc-menu' (click)='setActive(0)'
                [ngClass]="(this.activeButton==0) ? 'desc-menu-active' : 'desc-menu'"
                [routerLink]="[ '/explorar']">Explorar</span>
            </div>
          </div>
          <div class='menu-professor col-md-2 col-lg-3 '>
            <div class='menu-p'>
              <span class='desc-menu' (click)='setActive(1)'
                [ngClass]="(this.activeButton==1)  ? 'desc-menu-active' : 'desc-menu'"
                [routerLink]="[ '/meus-alunos']">Meus<br class='new-line'> Alunos</span>
            </div>
          </div>
          <div class='menu-professor col-md-2 col-lg-3 '>
            <div class='menu-p'>
              <span class='desc-menu' (click)='setActive(2)'
                [ngClass]="(this.activeButton==2)  ? 'desc-menu-active' : 'desc-menu'"
                [routerLink]="[ '/meu-perfil']">Meu
                Perfil</span>
            </div>
          </div>

        </div>
      </div>
      <div class='col-sm-4 col-md-4 nav-prof'>
        <div class='nav-btn'>
          <app-nav-menu-user [isNewPublication]=isNewPost></app-nav-menu-user>
        </div>
      </div>
    </div>

    <div class="app-bar-bg-professor mobile">
      <div class='row row-one'>
        <div class="col-4 col-sm-4 logo" (click)="goPortfolio()">
          <img src="assets/img/unisinos-escuro.png" srcset="../../../assets/img/unisinos-escuro@2x.png 2x,
                ../../../assets/img/unisinos-escuro@3x.png 3x">
        </div>
        <div class='col-8 col-sm-8 nav'>
          <div class='nav-btn'>
            <app-nav-menu-user [isNewPublication]=isNewPost></app-nav-menu-user>
          </div>
        </div>
      </div>

      <div class='row'>
        <div  class='menu-professor col-3 '>
          <div class='menu-p'>
            <span class='desc-menu' (click)='setActive(0)'
              [ngClass]="this.activeButton==0 ? 'desc-menu-active' : 'desc-menu'"
              [routerLink]="[ '/explorar']">Explorar</span>
          </div>
        </div>
        <div class='menu-professor col-5 '>
          <div class='menu-p'>
            <span class='desc-menu' (click)='setActive(1)'
              [ngClass]="this.activeButton==1 ? 'desc-menu-active' : 'desc-menu'" [routerLink]="[ '/meus-alunos']">Meus<br class='new-line'>
              Alunos</span>
          </div>
        </div>
        <div class='menu-professor col-4 '>
          <div class='menu-p'>
            <span class='desc-menu' (click)='setActive(2)'
              [ngClass]="this.activeButton==2 ? 'desc-menu-active' : 'desc-menu'"
              [routerLink]="[ '/meu-perfil']">Meu Perfil</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class='header-logged' *ngIf="!this.loggedUser">
  <hr class="hr-border-no-logged">
  <div *ngIf='!this.professorHeader' class='header-student'>
    <div class="app-bar-bg-no-logged">
      <div class="desk">
        <div class='row'>
          <div class="col-sm-6 col-md-6 my-p">
            <div class="row">
              <div class="col-md-3 logo-n-Logged" (click)="goPortfolio()">
                <img src="assets/img/logo-unisinos-branco.png" srcset="../../../assets/img/logo-unisinos-branco@2x.png 2x,
                        ../../../assets/img/logo-unisinos-branco@3x.png 3x" class="logos">
              </div>
            
              <div class='menu-professor col-md-3 '>
                  <div class='menu-p'>
                    <span class='desc-menu-no-logged' (click)='setActive(0)'
                      [ngClass]="(this.activeButton==0) ? 'desc-menu-active' : 'desc-menu'"
                      [routerLink]="[ '/explorar']">Explorar</span>
                </div>
                </div>

              

            </div>
          </div>
          <div class='col-sm-6 col-md-6 nav'>
            <div class='login-btn'>
              <app-popover-login style="float:right; margin-top:1.3em; z-index: 900 !important;"></app-popover-login>
            </div>
          </div>
        </div>
      </div>

      <div class="app-bar-bg-no-logged mobile">
        <div class='row row-one'>
          <div class="col-4 col-sm-4 logo-n-Logged" (click)="goPortfolio()">
            <img src="assets/img/logo-unisinos-branco.png" srcset="../../../assets/img/logo-unisinos-branco@2x.png 2x,
                  ../../../assets/img/logo-unisinos-branco@3x.png 3x" class="logos">
          </div>
          <div class='col-8 col-sm-8 nav'>
            <div class='login-btn'>
              <app-popover-login style="float:right; margin-top:1.3em; z-index: 900 !important;"></app-popover-login>
            </div>
          </div>
        </div>

        <div class='row'>
            <div class='menu-professor col-5 col-md-2 '>
                <div class='menu-p'>
                  <span class='desc-menu-no-logged' (click)='setActive(0)'
                    [ngClass]="(this.activeButton==0) ? 'desc-menu-active' : 'desc-menu'"
                    [routerLink]="[ '/explorar']">Explorar</span>
              </div>
              </div>
          
        </div>
      </div>
    </div>
  </div>

</div>