<app-comment-input (UpdateSocialComponent)='UpdateComponent()'
[idPublicacao]='this.idPublicacao'></app-comment-input>




<div class='container'>
  <div class="row t" *ngFor="let comment of this.comments"> 
    <app-comment
    (UpdateSocialComponent)='UpdateComponent()'
    [comment]='comment'></app-comment>
  </div>
  
</div>