@import '~src/styles/global/colors';

.mat-dialog-container {
    max-height: 700px !important;
    overflow: hidden !important;
}

.dialog-permissions {
    width: 780px;
    border-radius: 3px;
    background-color: $bg-modal;
}

p {
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: $font;
    border-radius: 3px;
    padding-left: 22px;
}

.mobile {
    display: none;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-align: center;
    width: 100%;
}

.checkmark {
    top: 0px;
}

.radioButton {
    font-size: 14px !important;
    padding-left: 35px;
    color: $font;
}

.btn {
    width: 157px;
    height: 40px;
    font-weight: 500;
    font-size: 13px;
    margin: auto;
}

.btn-close {
    margin-left: auto;
    background: none;
    border: none;
}

.form-signin {
    margin-top: 10px;
}

.p-define {
    width: 100%;
    margin-top: 1em;
}

.high-five {
    object-fit: contain;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.text-help {
    font-size: 10px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    color: $font;
    text-align: center;
}

.mat-dialog-actions {
    padding: 30px 0;
}

@media(max-width : 850px) {
    .desk {
        display: none;
    }

    .mobile {
        display: block;
    }

    .text-help {
        margin-top: -30px
    }

}

@media(max-width: 400px) {
    .mat-dialog-content {
        margin-left: -70px;
    }

    .radioButton b {
        font-size: 12px;
    }


    .title-mobile {
        font-size: 15px;
    }

    .p-define {
        font-size: 12px;
    }

}