<div class="row">
  <button class="btn-close" type="button" mat-button [mat-dialog-close]="true" tabindex="-1"><img
      src="assets/img/x.png" srcset="../../../assets/img/x@2x.png 2x,
    ../../../assets/img/x@3x.png 3x" class="x"></button>
</div>
<div class="row">
  <div class="col-12">
    <img src="assets/img/noun-high-five-1154833.png" srcset="../../../assets/img/noun-high-five-1154833@2x.png 2x,
      ../../../assets/img/noun-high-five-1154833@3x.png 3x" class="high-five">
  </div>
  <h2 class='title-mobile' mat-dialog-title>Ótimo! Você acabou de criar seu Portfólio!</h2>
</div>
<div class="row">
  <p class="p-define">Defina as opções gerais de visualização do seu Portfólio:</p>
</div>

<div class='desk'>
  <form class="form-signin" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <mat-dialog-content class="dialog-permissions content">
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <label class="radioButton"><b>APENAS MEUS PROFESSORES</b><br>
              Permite que apenas os professores das atividades acadêmicas e do período atual visualizem meu portfólio e
              minhas publicações.
              <input type="radio" name="privacy" value="0" [(ngModel)]="forms.privacy" #privacyControl="ngModel"
                required>
              <span class="checkmark"></span>
            </label>
            <label class="radioButton"><b>COMUNIDADE ACADÊMICA</b><br>
              Permite que todos professores e estudantes da universidade encontrem e visualizem meu portfólio e minhas
              publicações.
              <input type="radio" name="privacy" value="1" [(ngModel)]="forms.privacy" required>
              <span class="checkmark"></span>
            </label>
            <label class="radioButton"><b>PÚBLICO</b><br> Permite que qualquer pessoa possa encontrar e visualizar meu
              portfólio e
              minhas publicações públicas.
              <input type="radio" name="privacy" value="2" [(ngModel)]="forms.privacy" required>
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <p class="col-md-12 text-help ">Não se preocupe, você pode editar depois.</p>
      <button class="btn" type="button" mat-button type="submit">Continuar</button>
    </mat-dialog-actions>
  </form>
</div>

<div class='mobile'>
  <form class="form-signin" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <mat-dialog-content class="dialog-permissions content">
      <div class="content">
        <div class="row">
          <div class="col-12 col-md-12">
            <label class="radioButton"><b>APENAS MEUS PROFESSORES</b>
              <input type="radio" name="privacy" value="0" [(ngModel)]="forms.privacy" #privacyControl="ngModel"
                required>
              <span class="checkmark"></span>
            </label>

            <label class="radioButton"><b>COMUNIDADE ACADÊMICA</b>
              <input type="radio" name="privacy" value="1" [(ngModel)]="forms.privacy" required>
              <span class="checkmark"></span>
            </label>
            <label class="radioButton"><b>PÚBLICO</b>
              <input type="radio" name="privacy" value="2" [(ngModel)]="forms.privacy" required>
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <p class="col-md-12 text-help">Não se preocupe, você pode editar depois.</p>
      <button class="btn" type="button" mat-button type="submit">Continuar</button>
    </mat-dialog-actions>
  </form>
</div>