<app-header></app-header>
<div class="content">
  <div class="form-group row">
    <input mat-label type="file" class="upload col" (change)="uploadFile($event)" required>
  </div>
  <div class="row" *ngFor="let dados of dataTable">
    <p class="col"> {{dados | json}}
    </p>
  </div>
</div>
<div class="fg-footer">
  <app-footer></app-footer>
</div>