<div [class.hidden]="!show">
  <div class="spinner" *ngIf="show" id="spinner">
    <mat-spinner class="mauto" mode="indeterminate" [diameter]="100"></mat-spinner>
  </div>
</div>
<app-header-portfolio [isNewPost]='false'></app-header-portfolio>

<div class="info">
  <div class="container">
    <div class="row">
      <button type="button" class="mobile-on btn-share btn-outline-secondary" (click)="shareClick()">
        <span>Compartilhar</span> <img src="assets/img/share-2.png" srcset="../../../assets/img/share-2@2x.png 2x,
                        ../../../assets/img/share-2@3x.png 3x" class="share-icon">
      </button>
      <div class="col-xs-12 col-sm-5 col-md-4 col-lg-2 col-xl-2">
        <div class='row'>
          <div class="user">
            <img class="user-img" [src]="imageUser">
            <div class="edit-photo">
              <div class="middle-flex">
                <p>Editar <img src="assets/img/edit-2.png" srcset="../../../assets/img/edit-2@2x.png 2x,
              ../../../assets/img/edit-2@3x.png 3x" class="edit-2"></p>
              </div>
              <input class="input-img" #imageInput type="file" accept="image/*" (change)="processFile(imageInput)">
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='city'>
            <img src="assets/img/map-pin.png" srcset="../../../assets/img/map-pin@2x.png 2x,
            ../../../assets/img/map-pin@3x.png 3x" class="map-pin"><span class='span-info'>{{this.user.cidade}},
              {{this.user.UF}}</span></div>
        </div>
      </div>
      <div class="user-info offset-xs-1 offset-ls-1 col-xs-8 col-sm-6 col-md-6 col-lg-8 col-xl-9">
        <div class="row">
          <div class='col-10 col-nome'>
            <p class="nome">{{this.user.nome}}</p>
          </div>
          <div class='col-2'>
            <button type="button" class="mobile-off btn-share btn-outline-secondary" (click)="shareClick()">
              <span class="mobile-off">Compartilhar</span> <img src="assets/img/share-2.png" srcset="../../../assets/img/share-2@2x.png 2x,
                  ../../../assets/img/share-2@3x.png 3x" class="share-icon">
            </button>
          </div>
        </div>
        <div class="row">
          <span *ngIf='this.professorUser' class='professor'>Professor(a)</span>
        </div>

        <div class="row pin-map">
          <span class='span-info' *ngIf="this.user.biografia">{{this.user.biografia}}.</span>
        </div>
        <div class="row col-12 social-buttons">
          <div class='col-12 col-md-6 col-lg-4 col-xl-2 social-btn' *ngIf="this.user.lkfacebook" style="padding-left:0">
            <a target="_blank" [href]="this.template.facebook+this.user.lkfacebook"><img
                src="assets/img/Social-buttons/facebook.png" srcset="../../../assets/img/Social-buttons/facebook@2x.png 2x,
          ../../../assets/img/Social-buttons/facebook@3x.png 3x" class="at-sign"><span
                class='span-info'>Facebook</span></a>
          </div>
          <div class='col-12 col-md-6 col-lg-4 col-xl-2 social-btn' *ngIf="this.user.lklinkedin">
            <a target="_blank" [href]="this.template.linkedin+this.user.lklinkedin"><img
                src="assets/img/Social-buttons/linkedin.png" srcset="../../../assets/img/Social-buttons/linkedin@2x.png 2x,
          ../../../assets/img/Social-buttons/linkedin@3x.png 3x" class="at-sign"><span
                class='span-info'>Linkedin</span></a>
          </div>
          <div class='col-12 col-md-6 col-lg-4 col-xl-2 social-btn' *ngIf="this.user.lklattes">
            <a target="_blank" [href]="this.template.lattes+this.user.lklattes"><img
                src="assets/img/Social-buttons/lattes.png" srcset="../../../assets/img/Social-buttons/lattes@2x.png 2x,
          ../../../assets/img/Social-buttons/lattes@3x.png 3x" class="at-sign"><span
                class='span-info'>Lattes</span></a>
          </div>
          <div class='col-12 col-md-6 col-lg-4 col-xl-2 social-btn twitter' *ngIf="this.user.lktwitter">
            <a target="_blank" [href]="this.template.twitter+this.user.lktwitter"><img
                src="assets/img/Social-buttons/twitter.png" srcset="../../../assets/img/Social-buttons/twitter@2x.png 2x,
          ../../../assets/img/Social-buttons/twitter@3x.png 3x" class="at-sign"><span
                class='span-info'>Twitter</span></a>
          </div>
          <div class='col-12 col-md-12 col-lg-8 col-xl-4 social-btn' *ngIf="this.user.email">
            <img src="assets/img/Social-buttons/email.png" srcset="../../../assets/img/Social-buttons/email@2x.png 2x,
          ../../../assets/img/Social-buttons/email@3x.png 3x" class="at-sign"><span
              class='span-info'>{{this.user.email}}</span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf='this.professorUser' class='info-professor'>
  <div class='info'>
    <div class='container'>
      <div class='row atividades-row'>
        <div class='col-xs-12 col-sm-5 col-md-4 col-lg-3 col-xl-2'></div>
        <div class='col-xs-8 col-sm-6 col-md-7 col-lg-8 col-xl-9 atividades-academicas'>
          <img src="assets/img/book.png" srcset="./../../../../assets/img/book@2x.png 2x,
              ./../../../../assets/img/book@3x.png 3x" class="book"><span class='title-atividades'><b>Atividades
              Acadêmicas</b></span>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 col-sm-5 col-md-4 col-lg-3 col-xl-2'></div>
        <div class='col-xs-8 col-sm-6 col-md-7 col-lg-8 col-xl-9'>
          <div class='content list-info'>
            <ul class='list-items' role="list">
              <li *ngFor='let discipline of this.professorDisciplines'>
                <span class='list-item'>
                  {{discipline['nome']}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>