@import '~src/styles/global/colors';
@import '~src/styles/global/helper';


.social-buttons {
    margin-top: 0em;
    padding-left: 0px !important;
}

.social-btn {
    padding-right: 2em;
    padding-left: 0;
    margin-left: 0px;
    margin-top: 0.3em;
}

.city {
    margin-right: auto;
    margin-left: 10px;
    margin-top: 20px;
}

.info {
    background: $bg-gray-light2;
    padding: 16px 3em;
    padding-bottom: 70px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.info .container {
    margin-top: 40px;
}

.share-icon {
    width: 18px;
    height: 20px;
    object-fit: contain;
    margin-left: 13px;
}

.col-nome {
    padding-left: 0 !important;
}

.btn-share {
    margin-left: auto;
    display: block;
    border: solid 1px #dddddd;
    background: transparent;
    color: $font;
    height: 38px;
    font-size: 13px;
    width: 180px;
}

.user-img {
    object-fit: cover;
    border-radius: 50%;
    height: 166px;
    width: 166px;
}

.fg-footer {
    margin-top: 30px;
}

.atividades-row {
    margin-top: -3em
}

.nome {
    margin-left: 0;
    font-size: 45px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.8px;
    color: $font-black;
}

.curso {
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: $font;
    margin-top: 10px;
    padding-left: 5px;
}

.professor {
    margin-top: -20px;
    padding-left: 0.2em;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: $font;
}

.pin-map {
    margin-bottom: 10px;

}

.map-pin {
    width: 18px;
    height: 18px;

}

.at-sign {

    width: 26px;
    height: 26px;
}


img {
    margin-right: 10px;
}

.user {
    display: inline-block;
    position: relative;
}

.user:hover {
    .edit-photo {
        display: block;
        cursor: pointer;
    }
}

.span-info {
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    height: 100%;
    letter-spacing: 0.4px;
    color: $font;
    font-size: 12px;
    font-weight: 600;
}

.span-info a {
    color: $font
}

.span-info a:hover {
    text-decoration: none;
}

.span-info a:visited {
    text-decoration: none;
    color: $font;
}

.input-img {
    position: absolute;
    bottom: calc(50% - 15px);
    right: calc(50% - 40px);
    margin: auto;
    width: 90px;
    height: 32px;
    vertical-align: middle;
    border-radius: 3px;
    border: solid 1px $border-button;
    background-color: $white;
    opacity: 0;
}

.edit-photo {
    display: none;
    position: absolute;
    bottom: calc(50% - 66px);
    right: calc(50% - 35px);
    margin: auto;
    width: 80px;
    height: 32px;
    border-radius: 3px;
    border: solid 1px $border-button;
    background-color: $white;
}

.edit-photo p {
    font-size: 11px;
    letter-spacing: 0.4px;
    color: $font;
    text-align: right;
    width: 100%;
    margin-top: 20px;
}

.edit-photo img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label:hover {
    background-color: $bg-modal;
}


::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    font-weight: 500;
    opacity: 1;
}

.book {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

.title-atividades {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1.5em;
}

.list-items {
    margin-left: 2.2em;
    width: 60%;
    padding-top: 8px;
    display: block;
}

.list-item {
    display: block;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: $font;
}

.atividades-academicas {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    display: block;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: $font-black;
    padding-left: 0px;
}

.list-info {
    margin: auto;
    display: block;
}

.list-atividades {
    margin: auto;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.31;
    letter-spacing: 0.5px;
    color: $font;
}



@media(max-width: 370px) {
    .nome {
        padding-top: 10px;
    }

    .span-info {
        font-size: 15px;
        align-items: center;
    }

    .p-filter {
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 0.4px;
        color: $font;
        margin-bottom: -1px;
    }

}


@media(min-width: 550px) {
    .user-info {
        margin-left: 25px;
    }
}

@media(max-width: 520px) {
    .list-items {
        width: 80%;
    }

    .user-img {
        object-fit: cover;
        height: 110px;
        width: 110px;
    }

    .nome {
        margin-top: 0.4em;
        font-size: 30px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 1.1px;
    }
}

@media(min-width:600px) {
    .atividades-academicas {
        margin-left: 2em;
    }

}

@media(max-width: 600px) {
    .list-items {
        margin-left: 0.5em;
    }
}



@media(max-width:960px) {
    .social-btn {
        margin-top: 0.5em;
        margin-left: 0;
        padding-left: 0;
    }

    .btn-share {
        margin-left: auto;
    }
}

@media(max-width:550px) {
    .at-sign {
        width: 18px;
        height: 18px;
    }

    .social-buttons {
        margin-top: 0;
    }

    .span-info {
        font-size: 10px;
    }

    .city {
        margin-left: 0em;
    }
}


.mobile-on {
    display: none;
}

.mobile-off {
    display: inline;
}

@media(max-width:575px) {
    .mobile-on {
        display: block;
    }

    .mobile-off {
        display: none;
    }

    .btn-share {
        margin-left: auto;
        margin-bottom: 10px;
    }
}

@media(min-width:576px) and (max-width:740px) {
    .btn-share {
        margin-left: -30px;
        height: 45px;
        width: 105px;
    }
}