@import '~src/styles/global/colors';

.dialog-set-user {
    width: 100%;
    border-radius: 3px;
    background-color: $bg-modal;
}

p {
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: $font;
    border-radius: 3px;
    padding-left: 22px;
}

h2 {
    font-size: 16px;
    color:$font;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-align: center;
    margin:auto;
    padding-bottom:20px;
    width: 80%;
}

.dialog-set-user .btn-content{
    margin:auto;
    padding-bottom:20px;
    width: 20%;
}

.btn {
    width: 250px;
    height: 40px;
    font-weight: 500;
    font-size: 13px;
    margin: auto;
}

.btn-close {
    margin-left: auto;
    background: none;
    border: none;
}


.btn-professor{
    margin-left: auto;
    float:right;
}

.checkmark {
    top: 25px;
}


.p-define {
    width: 100%;
    margin-top: 1em;
}

.mobile{
    display: none;
}

.div-btn{
    margin: auto;
}


@media(max-width: 430px){
    .btn{
        width:150px !important;
    }
    .hidden{
        display:none
    }

}

@media(max-width: 650px){
    .btn-professor{
        margin-bottom:1em;
    } 
    .desk{
        display:none;
    }

    .mobile{
        display: block;
    }

   
}