<div class="dialog-set-user">
  <div class="row">
    <button class="btn-close" type="button" mat-button [mat-dialog-close]="true" tabindex="-1"><img
        src="assets/img/x.png" srcset="../../../assets/img/x@2x.png 2x,
      ../../../assets/img/x@3x.png 3x" class="x"></button>
  </div>
  <div class="row">
    <h2>Olá!<br>
      Parece que seu usuário está relacionado como aluno e também como professor da Unisinos.</h2>
  </div>
  <div class="row">
    <p class="p-define">Com qual perfil você deseja avançar?</p>
  </div>
  <div class="desk row col-12">
    <div class='col-6'>
      <button class="btn btn-professor " mat-button (click)="setProfessor()"><span>Continuar como
          Professor</span></button>
    </div>
    <div class='col-6'>
      <button class="btn" mat-button (click)="setStudent()"><span>Continuar como Aluno</span></button>
    </div>
  </div>
  <div class="mobile">
    <div class='row col-12 div-btn'>
      <button class="btn btn-professor " mat-button (click)="setProfessor()"><span class='hidden'>Continuar como
        </span><span>Professor</span></button>
    </div>
    <div class='row col-12 div-btn'>
      <button class="btn" mat-button (click)="setStudent()"><span class='hidden'>Continuar como
        </span><span>Auno</span></button>
    </div>
  </div>
</div>