<ng-template #popContent>
    <div class="edit-settings-popover" >
      <div class="row">
          <div class='col'>
              <button mat-button (click)="onUpdate()">Editar</button>
          </div>
      </div>

      <div class="row">
          <div class='col'>
              <button mat-button (click)="remove()">Deletar</button>
          </div>
      </div>
      
    </div>
  </ng-template>

<div *ngIf="!flagActiveEdit">
  <div class='btn-edit'>
      <div *ngIf='this.flagCanEdit' [ngbPopover]="popContent" placement="bottom" data-toggle="popover" class="three-dots-dark"></div>
    </div>
  <div class='content row content-feedback'>
    <div class='col-1 col-sm-1 col-lg-1 col-xl-1 img-col'>
        <img class="user-img-port" [src]="this.user?.img">
    </div>
    <div class='col-9 col-sm-9 col-lg-9 col-xl-10 col-info'>
      <div class='row'>
          <div class='info-port'>
              <p class='info-name'>{{this.user?.nome}}<br></p>
              <p class='tag-name' *ngIf='this.feedbackInfo.flagProfessor'>Professor</p> 
          </div>
      </div>
      <div class='row info-text'>
                <p>{{this.feedbackInfo.texto}}</p>   
      </div>
      <div class='row info-date'>
        <p>Criado: {{this.dateCadastro}}h</p>
      </div>
      <div *ngIf='this.feedbackInfo.dtModificado' class='row info-date'>
        <p>Atualizado: {{this.dateModificado}}h</p>
      </div>
    </div>
    
   
  </div>
</div>
<app-feedback-input *ngIf='flagActiveEdit' 
                [idPublicacao] = 'this.feedbackInfo.idPublicacao'
                [idPublicacaoFeedback] = 'this.feedbackInfo.idPublicacaoFeedback'
                [flagEdit]='true'
                [textUpdate] = 'this.feedbackInfo.texto'
                (UpdateSocialComponent) = 'UpdateSocialComponent.emit()'></app-feedback-input>



