@import '~src/styles/global/colors';
@import '~src/styles/global/global';


:host{
    width:100%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-bottom:0.5em;

}

.feedback-card{
    width:100%;
    height:100%
}

.info-port{
    margin-top:1.3em;
    margin-bottom:0.5em;
    width:100%;
    display: block;
}

.info-name:hover{
    cursor: pointer;
    text-decoration: underline;
}

.user-img-port:hover{
    cursor: pointer;
    border: 2px solid $btn-yellow;
    width: 46px;
    height:46px;
}


.user-info-post .row{
    font-size:12px;
    margin: 0;
    height:30%;
}

.info-text{
    margin-top:1.0em;
}

.info-text p{
    width:100%;
}

.user-img-port {
    border-radius: 50%;
    width: 50px;
    height:50px;
    position: relative;
    margin-left:0.2em;
}

.user-course-info span{
    font-size:10px;
    height:30%;
    margin-left:auto;
    display:block;
}

.tag-name{
    color: $font;
    font-family: Poppins;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
}
.info-name{
    color: $font;
    font-family: Poppins;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    margin:auto;
}

.content-feedback{
    margin-left:2.5em;
}

.img-col{
    padding-left:0px;
}

.info-date p{
    font-family: Poppins;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: $font;
    margin-bottom:0
}


.btn-edit{
    width:95%;
}

.three-dots-dark {
    margin-left:auto;
    float:right;
    padding-top:3em;
    width: 3px;
    height: 3px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-image: url(../../../../../assets/img/ic-dark.png);
    background-image: -webkit-image-set(url(../../../../../assets/img/ic-dark.png) 1x, url(../../../../../assets/img/ic-dark@2x.png) 2x, url(../../../../../assets/img/ic-dark@3x.png) 3x, );
    background-image: image-set(url(../../../../../assets/img/ic-dark.png) 1x, url(../../../../../assets/img/ic-dark@2x.png) 2x, url(../../../../../assets/img/ic-dark@3x.png) 3x, );
    margin-left: auto;
  }


  .three-dots-dark:hover{
      cursor: pointer;
  }


  .edit-settings-popover {
    height: 100%;
    width: 200px;
    background: $white;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    border: solid 2px $hover-gray;
    margin: 0 auto;
    margin-left: -90px;
    z-index:100 !important
  }
  
  .edit-settings-popover .mat-button {
    width: 100%;
    height: 50px;
    display: block;
    font-family: Poppins;
    font-size: 12px;
    font-stretch: normal;
    line-height: normal;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: right;
    color: $font;
    background: $white;
    border-bottom: 1px solid $hover-gray;
    z-index:100 !important
  }

@media(max-width: 1200px){
    .edit-settings-popover{
        margin-left:-13em;
    }

    .user-img-port{
        margin-top:1em;
    }
}

@media(min-width:350px) and (max-width:770px){
    .col-info{
        margin-left:1em
    }
    .three-dots-dark{
        margin-right:1.5em;
    }
}


@media(min-width:310px) and (max-width:770px){
    
    .three-dots-dark{
        margin-right:1.5em;
    }
}

@media(min-width: 1200px){
    .img-col{
        padding-left:0px;
        padding-right:0px;
        margin-top:1em;
    }
}

@media(min-width: 1000px){
    .col-info{
        margin-left:-1.5em;
    }
}