@import '~src/styles/global/colors';
@import '~src/styles/global/global';

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #dcdcdc;;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  .date{
    margin-left:0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
  }

  .date span{
    font-family: Poppins;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #787878;
  }
  
  .date-right{
    margin-left:auto;
  }

  /* card around content */
  .card {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }

  .card-left {
    padding: 10px 40px;
    padding-left:0;
    position: relative;
    background-color: inherit;
    width: 50%;
  }

  .card-right {
    padding: 10px 40px;
    padding-right:0;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .card::after {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    right: -4px;
    background-color: white;
    border: 1px solid #FF9F55;
    top: 44px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the card to the left */
  .left {
    left: 0;
  }
  
  /* Place the card to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left card (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 42px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right card (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 42px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for cards on the right side */
  .right::after {
    left: -8px;
    background-color: #FF9F55;
    border: 0px
  }
  
  /* The actual content */
  .inside {
    padding: 10px 0px;
    background-color: white;
    position: relative;
    border-radius: 4px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 780px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }

    .date-right{
      margin-left:0px;
    }
    
    /* Full-width cards */
    .card {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .card::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 22px;
    }
    
    /* Make all right cards behave like the left ones */
    .right {
    left: 0%;
    }

    .card-left {
      padding-right:0;

    }
  
    .card-right {
      padding-right:0;
    }
  }