
<div class="timeline">
  <div *ngFor="let activity of this.logs.values()" class="card" [ngClass]="(activity.ownActivity)  ? 'left card-left' : 'right card-right'">
    <div class='row col-12 date'>
      <span [ngClass]="(activity.ownActivity)  ? 'date-right' : ''">{{activity.dtLogEvento}}</span>
    </div>
    <div class="inside">
     <app-activity [activity]='activity'></app-activity>
    </div>
  </div>
  
</div>