<div class='feedback-input'>
  <div class='content '>
    <div class='row area' ngIF='!this.flagEdit'>
      <div class='img-col col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1'>
          <img class="user-img-port" [src]="this.user?.img">
      </div>
      <div class='col-info col-10 col-sm-9 col-md-10 col-lg-10'>
            <div class='info-port'>
                <p class='info-name'>{{this.user?.nome}}<br></p>   
            </div>
      </div>
    </div>
    <div class='row input-area'>
        <form class='form-area'>
            
              <textarea #feedbackText matInput value="{{this.textUpdate}}" placeholder="Deixe seu comentário…" ></textarea>
              <button type="button" class="btn-orange-white" (click)="submitFeedback(feedbackText.value)">
                  Publicar
              </button>
          </form>
    </div>
    
</div>

  
  