@import '~src/styles/global/colors';


.modal-atividade{
    overflow-y: initial !important;
    height: 500px;
}

.row-nav-modal {
    margin-bottom: 0px;
}


.close-div {
    margin-bottom: 2em;
    float: right;
    margin-left: auto;
}


.close-b{
    float:right;
}

.col-input {
    padding-left: 0px;
    margin-left: 0px;
}

.btn-form {
    margin-right: 0.5em;
}

.row-links {
    margin-top: 1em;
}

.row-link {
    margin-top: 1em;
}

.btn-back {
    background: transparent;
    border: solid 1px #dddddd;
    color: $font
}

.col-link {
    margin-left: 0;
    padding-left: 0;
}


.btn2 {
    margin-top: 1em;
    margin-left: auto;
}

.intro {
    margin-top: 5em;
}

.professor-info{
    margin-top:1em;
}

.nome-info{
    margin-top:auto;
    margin-bottom:auto;
    padding-left:0px;

}

.img-prof-div{
    padding-left:2em;
    padding-right: 0px}

.title {
    margin-bottom: 1.2em;
}

.nome-info span:hover{
    cursor:pointer;
    text-decoration:underline;
}


.user-img {
    border-radius: 50%;
    height: 34px;
    width: 34px;
}

.mat-expansion-panel-spacing {
    margin: 0px !important;
}


.desk {
    display: none;
}

.mat-accordion {
    width: 130%;
    background-color: $bg-modal;
    margin: 0px;
}

.mat-expansion-panel {
    background: transparent;
}

.mat-expansion-panel-body {
    width: 100%;
    background-color: $bg-modal;
}

.mat-expansion-panel-content {
    width: 100%;
}

.mat-form-field {
    width: 135%;
}

.mat-input-element {
    padding: 0px;
}

.mat-dialog-container {
    background-color: $bg-modal !important;
    width: 100%;
}

.mat-dialog-content {
    width: stretch;
    padding-left: initial;
    margin: 2px -31px;
}

.mat-expansion-panel-body {
    height: 300px !important;
}


.mat-expansion-panel-header {
    border-left: none;
    border-top: none;
    background:#dddddd;
    border: 0px;
    border-bottom: 1px solid white
}

.mat-expansion-panel-header span{
    font-weight: 500;
}



.mat-expanded .mat-expansion-panel-header {
    background: white;
    border-bottom: none;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #0b0b0b;
}

.mat-expanded .mat-expansion-panel-header span {
    font-weight: 600;
}

mat-expansion-panel-content {
    background: $bg-modal !important
}

::ng-deep .mat-expansion-panel-body {
    background: $bg-modal !important
}


input {
    height: 53px;
    background: none;
    padding-left: 2px;
}

.message {
    text-align: center;
    margin-top: 7px;
    margin-left: 2px;
    letter-spacing: 0.4px;
    max-width: 80%;
    font-size: 10px;
}

.div-icons {
    width: 120%;
}

.icons {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}


.form-signin {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.close-div {
    padding-right: 0px;
    margin-right: -0.7em;
}

.div-settings {
    padding-left: 0;
    margin-left: 0;
}


.x {
    margin-left: auto;
    float: right;
}

.mat-dialog-title {
    padding-left: 0;
    margin-left: 0;
    margin: 0 !important;
}

/deep/.mat-expansion-indicator {
    margin-right: 3em
}

/deep/.mat-expansion-indicator::after {
    color: #787878;
    margin-right: 0.0em
}

.mat-expansion-panel-header {
    width: 100%
}



@media(max-width: 750px) {
    mat-panel-title span{
        font-size:11px;
    }

    .nome-info{
        margin-top:auto;
        margin-bottom:auto;
        font-size:11px;
        padding-left:1.5em;
    
    }

    .mat-dialog-title {
        font-size:10px;
        margin: 0 !important;
    }
}

@media(max-width: 700px){
        
    mat-expansion-panel-header {
        height: 70px !important;
    }
}


@media(max-width: 400px){
        
    .mat-expansion-panel-header {
        height: 100px !important;
    }
}
