<div class='modal-atividade'>
  <div class="row row-nav-modal">
    <div class="col-9 div-settings">
      <h3 mat-dialog-title>Atividades Acadêmicas e Professores </h3>
    </div>
    <div class="col-3 close-div">
      <button class="btn-close close-b" type="button" mat-button [mat-dialog-close]="true" tabindex="-1"><img
          src="assets/img/x.png" srcset="../../../assets/img/x@2x.png 2x,
        ../../../assets/img/x@3x.png 3x" class="x"></button>
    </div>
  </div>
  <div class="row">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let discipline of disciplines | keyvalue">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{discipline.value.nomeDisciplina}} - {{discipline.value.nomeCurso}}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let professor of discipline.value.professor">
          <ng-container [ngTemplateOutlet]="professorInfo" [ngTemplateOutletContext]="{professor:professor}">
          </ng-container>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<ng-template #professorInfo let-professor='professor'>
  <div class='row professor-info'>
    <div class='col-1 img-prof-div'>
      <img class="user-img" [src]="professor.img">
    </div>
    <div class='col-9 nome-info'>
      <span *ngIf="professor.url" (click)='ngOnDestroy()' [routerLink]='"/"+professor.url'>{{professor.nome}}</span>
      <span *ngIf="!professor.url">{{professor.nome}}</span>
    </div>
  </div>
</ng-template>