<div class="activity">
  <div class="row col-12 header-card">
    <div class="col-1 col-sm-1 col-md-1">
      <img *ngIf="this.icon === 3" src="assets/img/user.png" srcset="../../../../assets/img/user@2x.png 2x,
          ../../../../assets/img/user@3x.png 3x" style="width:18px;height:18px" class="at-sign">
      <img *ngIf="this.icon === 2" src="assets/img/message-circle.png" srcset="../../../../assets/img/message-circle@2x.png 2x,
          ../../../../assets/img/message-circle@3x.png 3x" style="width:18px;height:18px" class="at-sign">
      <img *ngIf="this.icon === 1" src="assets/img/file.png" srcset="../../../../assets/img/file@2x.png 2x,
          ../../../../assets/img/file@3x.png 3x" style="width:15px;height:18px" class="at-sign">
      <img *ngIf="this.icon === 0" src="assets/img/refresh-cw.png" srcset="../../../../assets/img/refresh-cw@2x.png 2x,
          ../../../../assets/img/refresh-cw@3x.png 3x" style="width:16px;height:16px" class="at-sign">
    </div>

    <div class='col-10 col-sm-10 col-md-10 type-act'>
      <span>{{this.action}}</span>
    </div>
  </div>

  <div class='row col-12 row-info' *ngIf="!this.createdPortfolio">
    <div class='title-col'>
      <span class='info-name' (click)='goToPublication()'>{{this.activity?.publicacaoTitulo}}</span>
    </div>
  </div>

  <div class='row col-12 row-info' *ngIf="!this.createdPortfolio">
    <div class='atividade-col'>
      <span>{{this.activity?.publicacaoDisciplina}}</span>
    </div>
  </div>

  <div class='row row-info info-col ' *ngIf="!this.createdPortfolio && this.isComment">
    <div class='col-2 col-img'>
      <img class="user-img" (click)='goToPortfolioAutor()' [src]="this.activity?.publicacaoImgAutor">
    </div>
    <div class='col-10 col-nome'>
      <span class='info-name' (click)='goToPortfolioAutor()'><b>{{this.activity?.publicacaoNomeAutor}}</b></span>
    </div>
  </div>

  <div class='row row-info info-user-col ' *ngIf="this.createdPortfolio">
    <div class='col-2 col-sm-3 col-img'>
      <img class="user-img-portfolio" [src]="this.imageUser">
    </div>
    <div class='row col-10 col-sm-9 row-user-info'>
      <div class='col-nome'>
        <p class='nome-user'>{{this.currentUser?.nome}}</p>
        <p class='atividade-user'><b>{{this.currentUser?.nome}}</b></p>
      </div>
    </div>
  </div>
</div>