@import '~src/styles/global/colors';
@import '~src/styles/global/helper';
@import '~src/styles/global/global';


.at-sign {
    width: 18px;
    height: 18px;
}

.type-act{
    padding-left:0;
}

.type-act span{
    font-family: Poppins;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: $font;
}

.header-card{
    margin-left: 0px;
    padding-bottom:0.7em;
    border-bottom: 1px solid #e6e6e6;
}

.title-col{
    margin-left:2em;
    margin-right:1em;
    margin-top:0.5em
}
.atividade-col{
    margin-left:2em;
    margin-right:1em;
    margin-top:0.5em
}

.title-col span{
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: 0.7px;
  color: #0b0b0b;
}
.atividade-col span{
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  color:#787878
}

.row-info{
    padding-right:0px;
}

.user-img {
    border-radius: 50%;
    height: 34px;
    width: 34px;
}

.info-name:hover{
    cursor:pointer;
    text-decoration: underline
}

.user-img:hover{
    cursor:pointer;
    border: 2px solid $btn-yellow
}

.user-img-portfolio{
    border-radius: 50%;
    height: 74px;
    width: 74px;   
}

.info-col span{
    font-family: Poppins;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #787878;
}

.info-col{
    margin-left:2em;
    margin-right:1em;
    margin-top:0.5em
}

.info-user-col{
    margin-left:2em;
    margin-right:1em;
    margin-top:0.5em
}

.col-img{
    padding-left:0px;
    padding-right:0px
}

.col-nome{
    padding-left:0px;
    margin-top:auto;
    margin-bottom:auto;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}
.col-nome .nome-user{
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #787878;
    margin-bottom:0px;
    margin-top:auto;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}
.col-nome .atividade-user{
  font-family: Poppins;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #787878;
  margin-top:0.1em;
  margin-bottom:auto;
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
}

@media(max-width:400px){

    .user-img{
        width:24px;
        height:24px
    }

    .type-act{
        padding-left:7px;
        padding-right: 0px;
    }

    .header-card{
        padding-left:0px;
    }

    .title-col{
        margin-left:1em;
        margin-right:0em;
    }

    .atividade-col{
        margin-left:1em;
        margin-right:0em;
    }
    .info-col{
        margin-left:1em;
        margin-right:0em;
    }
    .info-user-col{
        margin-left:1em;
        margin-right:0em;
    }

   
}

@media(min-width: 780px)and(max-width:990px){
    .user-img-portfolio{
        width:50px;
        height:50px;
    }   
    .col-nome .nome-user{
        font-size: 14px;
       
    }
    .col-nome .atividade-user{
      font-size: 11px;
     
    }
}

@media(min-width:450px)and(max-width:575px){
    .row-user-info{
        padding-left:3em;
    }
}

@media(max-width:450px){
    .user-img-portfolio{
        width:30px;
        height:30px;
    }   
    .col-nome .nome-user{
        font-size: 14px;
       
    }
    .col-nome .atividade-user{
      font-size: 11px;
     
    }

    .row-user-info{
        padding-right:0px;
        padding-left:1.5em
    }
}