@import '~src/styles/global/colors';

.footer-bg {
  width: 100%;
  height: 36px;
  background-color: $font-primary-blue;
}

.footer-bg p {
  display: flex;
  align-items: center;
  height: 100%;
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.logo-unisinos-img {
  width: 149px;
  height: 126.9px;
  object-fit: contain;
  display: block;
  margin-right: auto;
}

.jesuitas-logo {
  width: 196.3px;
  height: 126.9px;
  object-fit: contain;
  display: block;
  margin-left: auto;
}

.logos-footer {
  background: $bg-gray-light;
  width: 100%;
  min-height: 100px;
  height: 100%;
  margin: 0px;
}

.a-nostyle {
  color: $white;
}

@media (max-width: 770px) {
  .logo-unisinos-img {
    width: 149px;
    height: 126.9px;
    object-fit: contain;
    display: block;
    margin: auto;
  }

  .jesuitas-logo {
    width: 196.3px;
    height: 126.9px;
    object-fit: contain;
    display: block;
    margin: auto;
  }
}
