<div class="footer-bg">
  <div class="container">
    <div class="row">
      <div class="col">
        <p>
          <a class="a-nostyle" href="http://www.unisinos.br/fale-conosco" target="_blank">Fale conosco</a>
        </p>
      </div>
    </div>
    <div class="row logos-footer">
      <div class="col-md-6">
        <img src="assets/img/jesuitas-logo.png" srcset="/assets/img/jesuitas-logo@2x.png 2x,
      ./../../../assets/img/jesuitas-logo@3x.png 3x" class="jesuitas-logo">
      </div>
      <div class="col-md-6">
        <a href="http://www.unisinos.br/"><img src="assets/img/lp-logo-unisinos.png"srcset="/assets/img/lp-logo-unisinos@2x.png 2x,
          ./../../../assets/img/lp-logo-unisinos@3x.png 3x" class="logo-unisinos-img"></a>
      </div>
    </div>
  </div>
</div>
