@import '~src/styles/global/colors';
@import '~src/styles/global/global';

.btn {
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
}

.popoverr {
  top: 100px;
  background-color: red;
  z-index: 100;
}

.user-settings-popover {
  height: 100%;
  width: 200px;
  background: $white;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  border: solid 2px $hover-gray;
  margin: 0 auto;
  margin-left: -140px;
}


.custom {
  z-index: 100 !important;
}

.user-settings-popover .mat-button {
  width: 100%;
  height: 50px;
  display: block;
  font-family: Poppins;
  font-size: 12px;
  font-stretch: normal;
  line-height: normal;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-align: right;
  color: $font;
  border-bottom: 1px solid $hover-gray;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.user-settings-popover .mat-button:hover {
  color: #555555;
}

.user-img {
  border-radius: 50%;
  height: 34px;
  width: 34px;
  position: relative;
}

.border-right {
  border-right: 1.5px solid rgba(229, 229, 229, 0.5);
}

.app-bar-nav-menu .bell {

  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../../assets/img/bell-hover.png);
  background-image:
    -webkit-image-set(url(../../../assets/img/bell.png) 1x,
    url(../../../assets/img/bell@2x.png) 2x,
    url(../../../assets/img/bell@3x.png) 3x,
    );

  background-image:
    image-set(url(../../../assets/img/bell.png) 1x,
    url(../../../assets/img/bell@2x.png) 2x,
    url(../../../assets/img/bell@3x.png) 3x,
    );

}



.app-bar-nav-menu:hover .bell {
  background-image: url(../../../assets/img/bell-hover.png);
  background-image:
    -webkit-image-set(url(../../../assets/img/bell-hover.png) 1x,
    url(../../../assets/img/bell-hover@2x.png) 2x,
    url(../../../assets/img/bell-hover@3x.png) 3x,
    );

  background-image:
    image-set(url(../../../assets/img/bell-hover.png) 1x,
    url(../../../assets/img/bell-hover@2x.png) 2x,
    url(../../../assets/img/bell-hover@3x.png) 3x,
    );

}


.app-bar-nav-menu .search-icon {

  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../../assets/img/lupa-hover.png);
  background-image:
    -webkit-image-set(url(../../../assets/img/lupa.png) 1x,
    url(../../../assets/img/lupa@2x.png) 2x,
    url(../../../assets/img/lupa@3x.png) 3x,
    );

  background-image:
    image-set(url(../../../assets/img/lupa.png) 1x,
    url(../../../assets/img/lupa@2x.png) 2x,
    url(../../../assets/img/lupa@3x.png) 3x,
    );

}



.app-bar-nav-menu:hover .search-icon {
  background-image: url(../../../assets/img/lupa-hover.png);
  background-image:
    -webkit-image-set(url(../../../assets/img/lupa-hover.png) 1x,
    url(../../../assets/img/lupa-hover@2x.png) 2x,
    url(../../../assets/img/lupa-hover@3x.png) 3x,
    );

  background-image:
    image-set(url(../../../assets/img/lupa-hover.png) 1x,
    url(../../../assets/img/lupa-hover@2x.png) 2x,
    url(../../../assets/img/lupa-hover@3x.png) 3x,
    );

}




.app-bar-nav-new-post {
  height: 76px;
  background-color: $white;
  padding-right: 10px;
}

.app-bar-nav-menu:hover {
  background-color: #ededed;
}

.app-bar-nav-menu {
  height: 76px;
  background-color: $white;
  padding-right:15px;
}

.app-bar-nav-menu ngb-popover-window {
  top: 500px;
}

@media(min-width: 600px) {
  .desk-hidden {
    display: none;

  }
}

@media (max-width: 600px) {

  .app-bar-nav-new-post {
    padding-right: 5px;
  }

  .btn {
    width: 55px;
    height: 40px;
    color: $white;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    font-family: Poppins;
    letter-spacing: 0.5px;
  }

  .mobile-hidden {
    display: none;
  }

  .desk {
    display: none;
  }

  .app-bar-bg {
    height: 116px;
  }

  .menu {
    bottom: -38px;
  }
  .row-one{
    padding-right: 0px;
  }
}

.btn-outline-secondary {
  margin-right: 20px;
}
