<div class='container'>
  <div class="row">
    <div class='col-xs-1 middle-flex border-right app-bar-nav-new-post'>
      <button type="button" [disabled]="professorFlag" *ngIf="!professorFlag && !isNewPublication"
        class="btn btn-outline-secondary" (click)="NewPublication()">
        <span class="mobile-hidden">Nova Publicação</span>
        <span class="desk-hidden">Nova+</span>
      </button>
    </div>

    <div class="col border-right middle-flex app-bar-nav-menu " *ngIf='!flagIcons'>
      <div class="search-icon"></div>
    </div>

    <div class="col border-right middle-flex app-bar-nav-menu " *ngIf='!flagIcons'>
      <div class="bell"></div>
    </div>

    <div class="custom">
      <div class="col border-right middle-flex app-bar-nav-menu" [ngbPopover]="popContent" placement="bottom"
        data-toggle="popover">
        <img class="user-img" [src]="imageUser">
      </div>
      <ng-template #popContent class="popoverr">
        <div class="user-settings-popover">
          <div class="row">
            <div class='col'>
              <button mat-button (click)="goToPortfolio()">{{this.user.nome}}</button>
            </div>
          </div>
          <div class="row">
            <div class='col'>
              <button mat-button (click)="openDialog()">Configurações</button>
            </div>
          </div>
          <div class="row" *ngIf="false">
            <!--Somente para proxima Sprint-->
            <div class='col'>
              <button mat-button>Central de Ajuda</button>
            </div>
          </div>
          <div class="row">
            <div class='col'>
              <button mat-button (click)="logout()">Sair</button>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>