<div [class.hidden]="!show">
    <div class="spinner" *ngIf="show" id="spinner">
      <mat-spinner class="mauto" mode="indeterminate" [diameter]="100"></mat-spinner>
    </div>
  </div>
<app-loader></app-loader>
<router-outlet></router-outlet>