<div [class.hidden]="!show">
  <div class="spinner" *ngIf="show" id="spinner">
    <mat-spinner class="mauto" mode="indeterminate" [diameter]="100"></mat-spinner>
  </div>
</div>

<ng-template #popContent>
  <div class="loginPopover">
    <div class='row centered col-12 head-info'>
      <span class="desc">No momento o acesso ao Portfólio é restrito a um grupo limitado de alunos e professores
        convidados.</span>
    </div>
    <div class="row col-12 centered title-form">
      <p><b>Para acessar utilize sua conta Minha Unisinos.</b></p>
    </div>
    <div class="row form centered col-12">
      <form class="form-signin" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <label class="form-label">Usuário
          <br>
          <input type="text" id="cdUsuario" class="form-control" [(ngModel)]="model.cdUsuario" name="cdUsuario"
            #cdUsuario="ngModel" required>
        </label>
        <br>
        <label class="form-label"><span>Senha</span><span class="forget-password">
            <a href="http://portalab.asav.org.br/Corpore.Net/SharedServices/LibPages/RecoverPassConfirmation.aspx?UserCaption=5LK%5c9F%5c3D%5c023%5c5B&ConfirmationCaption=%5c7B%5cFAbP%5c06%5c11Q%5c7C&RecoverContainerClassName=ASP.login_aspx,%20App_Web_z0xjoq1b,%20Version=0.0.0.0,%20Culture=neutral,%20PublicKeyToken=null&RecoverInitializeMethodName=GetRecoverPassServer&ServiceAlias=CorporeRM"
              target="_blank">esqueceu?</a></span>
          <br>
          <input type="password" id="password" class="form-control" [(ngModel)]="model.password" name="password"
            #senha="ngModel" required>
        </label>
        <br>
        <div class="form-error">
          <span *ngIf="errorBool">A senha ou usuário estão incorretos. Tente novamente.</span>
        </div>
        <button class="btn" type="submit">Entrar</button>

      </form>
    </div>
  </div>
</ng-template>
<div>
  <button #loginPopover='ngbPopover' [ngbPopover]="popContent" placement="bottom"
    [autoClose]="'outside'" trigger="manual" type="button" class="btn btn-outline-secondary">
    <span class="btn-text">Acessar</span> <img src="assets/img/chevron-down.png" srcset="/assets/img/chevron-down@2x.png 2x,
    ./../../../assets/img/chevron-down@3x.png 3x" class="logo-unisinos-img">
  </button>
</div>