@import '~src/styles/global/colors';

.loginPopover {
    width: 294px;
    background: $white;
    border-radius: 3px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    border: solid 2px $hover-gray;
    padding-left: 5px;
    padding-bottom: 30px;
    position: absolute;
    right: -8em;
}

.head-info {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}

.head-info .desc {
    align-items: center;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #f8a635;
}

.form {
    width: 100%;
    margin: auto;
}

.title-form {
    width: 100%;
    margin: auto;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;

}

.form-label {
    align-items: center;
    width: 100%;
    font-family: Poppins;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: $font;
}

.form-signin {
    width: 100%;
    margin: auto;
}

.form-control {
    width: 100%;
    height: 34px;
    border-radius: 4px;
    border: solid 1px #c0c0c0;
    background-color: #ffffff;
    padding-left: 9px;
}

.form-signin .btn {
    width: 92px;
    margin-left: auto;
    float: right;
    margin-top: 5px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 1px solid $btn-yellow;
    color: $btn-yellow;
    font-size: 11px;
}

.btn {
    float: right;
}

.form-signin .btn:hover {
    color: $white;
    border: solid 1px $btn-yellow;
    background-color: $btn-yellow;
}

.form-error {
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
    line-height: 1.2em;
    font-stretch: normal;
    letter-spacing: 0.4px;
    color: $font-error;
    margin-bottom: 5px;

}

.btn-text {
    padding-right: 12px;
    font-family: Chivo !important;
}

.forget-password {
    margin-left: auto;
    float: right;
}

.forget-password a {
    color: $font;
}

.forget-password:hover a {
    text-decoration: underline;
    cursor: pointer;
}

input:focus {
    box-shadow: 0 0 1px #f8a635;
    border: 1px solid #f8a635;
    outline: none
}

.row {
    padding-left: 30px;
    padding-right: 30px;
}

.desk {
    display: none;
}

@media(max-width:750px) {
    .mobile {
        display: none;
    }

    .loginPopover {
        position: absolute;
        right: -6.5em;
    }

    .desk {
        display: block;
    }

    .img-menu {
        width: 32px;
        height: 32px;
        filter: invert(1);
    }

}

@media(max-width: 750px) {
    .btn {
        width: 100px !important;
        font-size: 12px;
    }
}