@import '~src/styles/global/colors';


.portfolio-card{
    padding-left:15px;
    padding-right: 15px;
    position:relative;
    width: 100%;    
    height: 270px;
    border-radius: 4px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    margin-bottom:1em;
    cursor: pointer;
}


.portfolio-card span{
    text-align: center;
}

.text-nome{
    font-family: Poppins;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  color: $font;
}

.text-curso{
    font-family: Poppins;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: $font; 
}

.user-img{
    width: 126px;
    height: 126px;
    border-radius: 50%;
    margin-left:auto;
    margin-right:auto;
    margin-top:1.5em;
    object-fit: cover;
}

.row-img{
    margin-top:1em;
    margin-bottom:0.5em;
    margin-left:0;
    margin-right:0;

}

.info{
    margin-left:0;
    margin-right:0;
}

.row-nome{
    margin-left:auto;
    margin-right : auto;
    margin-top:1em;
    margin-bottom:0.1em;
    text-align: center
}
.row-curso{
    margin-top:0;
    margin-left:auto;
    margin-right : auto;
    text-align: center;
    margin-bottom:1em;
}