<div class="portfolio-card">
  <div class='row row-img'>
    <img class="user-img" [src]="this.portfolio.img">
  </div>
  <div class='row info'>
    <div class='row-nome'>
      <span class="text-nome">{{this.portfolio.nome}}</span>
    </div>
  </div>
  <div class='row info'>
    <div class=' row-curso'>
      <span class="text-curso">{{this.course}}</span>
    </div>
  </div>
</div>