<div id='desk'>
    <div class='row line-border'><br></div>
  <div class='user-info-comp row' [ngClass]="this.isFirst ? 'user-info-comp-first' : 'user-info-comp-last'">
    
      <div class='info-port'>
        
        <div class='user-image col-lg-1 col-sm-2 col-2'>
          <img class="user-img-port" 
          [routerLink]='"/"+this.user?.url'
          [src]="this.user?.img">
        </div>

        <div class='user-info-post col-4 col-sm-4 col-lg-4'>
          <div class='row'>
            <span class='text-name' [routerLink]='"/"+this.user?.url'><b>{{this.user?.nome}}</b></span><br><br>
          </div>
          <div class="row">
            <span><b>Criado:</b> {{this.dateCadastro}}h</span>
          </div>

          <div class="row">
            <span *ngIf="this.dtModificacao"><b>Atualizado:</b> {{this.dateModificacao}}h</span>
          </div>
        </div>

        <div class="user-course-info col-6 col-lg-7">
          <div class="row">
            <span>{{this.courseName}}</span>
          </div>

          <div class="row">
            <span>{{this.className}}</span>
          </div>

        </div>
        <div class='row line-border'><br></div>
    </div>
  </div>
</div>


<div id='mobile'>
<div class='user-info-comp row'  [ngClass]="this.isFirst ? 'user-info-comp-first' : 'user-info-comp-last'">
  <div class='info-port'>
    <div class='user-image col-lg-1 col-sm-2 col-2'>
      <img class="user-img-port"
      [routerLink]='"/"+this.user?.url' [src]="this.user?.img">
    </div>

    <div class='user-info-post col-11 col-sm-10 col-lg-10'>
      <div class='row'>
        <span
        [routerLink]='"/"+this.user?.url'><b>{{this.user?.nome}}</b></span><br><br>
      </div>
      <div class="row">
        <span>{{this.courseName}}</span>
      </div>

      <div class="row">
        <span>{{this.className}}</span>
      </div>
    </div>
    
  </div>
</div>
<div class='user-info-post'>
  <div class='info-publ'>
  <div class="row ">
    <div class='col-2'></div>
    <div class='col-10 col-date'>
    <span><b>Criado:</b> {{this.dateCadastro}}h</span>
  </div>
  </div>

  <div class="row ">
    <div class='col-2'></div>
    <div class='col-10 col-date'>
    <span *ngIf="this.dtModificacao"><b>Atualizado: </b> {{this.dateModificacao}}h</span>
  </div>
  </div>
</div>
 
</div>

</div>