@import '~src/styles/global/colors';
@import '~src/styles/global/global';

.user-info {
    
    margin-bottom: 0
}

.user-info-comp {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 28px;
}

.user-info-comp-first {
    border-bottom: 1px solid #dcdcdc;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 28px;
    border-top : transparent
}

.user-info-comp-last {
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 28px;
}

.user-image {
    padding-left: 0px;
}

.info-port {
    margin-top: 35px;
    width: 100%;
    display: inline-flex;
    margin-bottom: 28px;
}

.user-info-post .row {
    font-size: 12px;
    margin: 0;
    height: 30%;
    margin-left: -15px;
}

.user-img-port {
    border-radius: 50%;
    width: 50px;
    height:50px;
    position: relative;
    margin-left: 0px;
}

.user-img-port:hover{
    cursor: pointer;
    border: 2px solid $btn-yellow
}

.text-name:hover{
    text-decoration: underline;
    cursor:pointer
}


.user-course-info span {
    font-size: 12px;
    height: 30%;
    margin-left: auto;
    display: block;
}

@media(min-width: 460px) {
    .user-image {
        margin-right: -15px;
    }
    .col-date{
        padding-left:10px;
    }
}

@media(max-width: 750px) {
   
    .user-info-post .row {
        font-size: 10px;
        margin: 0;
        height: 30%;
        margin-bottom: 1em;
        margin-left: -5px;
        margin-bottom: -2px;
    }

    .user-img-port {
        border-radius: 50%;
        width: 50px;
        height:50px;
        position: relative;
        margin-left: 0px;
    }

    .user-course-info span {
        font-size: 10px;
        height: 30%;
        margin-left: auto;
        display: block;
        margin-right: 2.3em;
    }
}

@media(min-width: 610px){
    #mobile{
        display:none;
    }
    #desk{
        display:block
    }
}
@media(max-width: 600px){
    #mobile{
        display:block;
    }
    #desk{
        display:none
    }
    
    .user-info-comp {
        border-bottom: 0px solid #dcdcdc;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 0px;
    }

    .info-publ{
        margin-top: -1.5em;
        padding-bottom:28px;
        margin-bottom:28px;
        border-bottom: 1px solid #dcdcdc;
    } 
}

@media(max-width: 400px){
    .user-image {
        margin-right: 5px;
    }
    .col-date{
        padding-left:3.0em
    }
}