<div class="palmas-section">
  <div class="row">
     <div class="col-3 col-sm-3 col-lg-2 img-div">
        <div class='hands' (click)="submitPalmas()" 
        
        [ngClass]="(this.palmasActive)?'hands-active' : 'hands'"></div>
        <div class="text-hands"><span>{{this.countClaps}}</span></div>
     </div>
     <div class="col-4 col-sm-2 col-lg-3 visualization-div">
         <img src="assets/img/eye.png" srcset="../../../assets/img/eye@2x.png 2x,
         ../../../assets/img/eye@3x.png 3x" class="visualization-img">
         <span>{{this.visualizations}}</span>
     </div>
     <div class='col-2 col-sm-5 btn-div'>
         <button *ngIf="true" type="button" class="btn btn-outline-secondary" (click)="shareClick()">
         <span class='share-text'>Compartilhar</span> <img src="assets/img/share-2.png" srcset="../../../assets/img/share-2@2x.png 2x,
         ../../../assets/img/share-2@3x.png 3x" class="share-icon">
         
       </button>
   </div>
   <div *ngIf='this.canEdit' class="col-2 col-sm-1">
       <div  class="three-dots-dark"  
        [ngbPopover]="popContent" 
        placement="bottom" 
        data-toggle="popover"></div>
   </div>
     
  </div>
</div>


<ng-template #popContent>
    <div class="edit-settings-popover">
      <div class="row">
        <div class='col'>
          <button mat-button (click)="editPublication()">Editar</button>
        </div>
      </div>
  
      <div class="row">
        <div class='col'>
          <button mat-button (click)="remove()">Deletar</button>
        </div>
      </div>
    </div>
  </ng-template>