@import '~src/styles/global/colors';
@import '~src/styles/global/helper';

.palmas-section {
    margin-bottom: 2em;
}

.share-icon {
    width: 18px;
    height: 20px;
    object-fit: contain;
    margin-left: 13px;
}

.three-dots-dark {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    display: block;
    float: right;
    padding-top: 5em;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-image: url(../../../../assets/img/black-icon.png);
    background-image: -webkit-image-set(url(../../../../assets/img/black-icon@2x.png) 2x, url(../../../../assets/img/black-icon@3x.png) 3x, );
    background-image: image-set(url(../../../../assets/img/black-icon.png) 1x, url(../../../../assets/img/black-icon@2x.png) 2x, url(../../../../assets/img/black-icon@3x.png) 3x, );
    margin-left: auto;
}

.three-dots-dark:hover {
    cursor: pointer;
}

.edit-settings-popover .row {
    margin-bottom: 0em;
}

.edit-settings-popover {
    height: 100%;
    width: 200px;
    background: $white;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    border: solid 2px $hover-gray;
    z-index: 100 !important;
    margin: 0 auto;
    margin-right: 150px;
    margin-top: 0px;
}

.edit-settings-popover .mat-button {
    width: 100%;
    height: 50px;
    display: block;
    font-family: Poppins;
    font-size: 12px;
    font-stretch: normal;
    line-height: normal;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: right;
    color: $font;
    background: $white;
    border-bottom: 1px solid $hover-gray;
    z-index: 100 !important
}

.hands {
    width: 68px;
    height: 68px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 1em;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1em;
    background-position: right;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    background-image: url(../../../../assets/img/palma-inativo.png);
    background-image: -webkit-image-set(url(../../../../assets/img/palma-inativo@3x.png) 3x, );
    background-image: image-set(url(../../../../assets/img/palma-inativo.png) 1x, url(../../../../assets/img/palma-inativo@2x.png) 2x, url(../../../../assets/img/palma-inativo@3x.png) 3x, );
}

.btn {
    margin-left: auto;
    display: block;
    border: solid 1px #dddddd;
    background: transparent;
    color: $font;
    font-size: 13px;
    width: 180px;
}

.btn-div {
    display: block;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.visualization-img {
    width: 18px;
    height: 14px;
    object-fit: contain;
    margin-right: 0.2em
}

.visualization-div span {
    font-family: Poppins;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #787878;
}
.img-div{
    display: inherit;
}

.text-hands{
    margin-top:auto;
    margin-bottom:auto;
}

.img-div span {
    font-family: Poppins;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #787878;
}

.visualization-div {
    margin-top: auto;
    margin-bottom: auto;
    margin-left:1em;
}

.hands:hover {
    width: 68px;
    height: 68px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-image: url(../../../../assets/img/palma-hover.png);
    background-image: -webkit-image-set(url(../../../../assets/img/palma-hover@3x.png) 3x, );
    background-image: image-set(url(../../../../assets/img/palma-hover.png) 1x, url(../../../../assets/img/palma-hover@2x.png) 2x, url(../../../../assets/img/palma-hover@3x.png) 3x, );
}
.hands-active:hover {
    width: 68px;
    height: 68px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-image: url(../../../../assets/img/palma-hover.png);
    background-image: -webkit-image-set(url(../../../../assets/img/palma-hover@3x.png) 3x, );
    background-image: image-set(url(../../../../assets/img/palma-hover.png) 1x, url(../../../../assets/img/palma-hover@2x.png) 2x, url(../../../../assets/img/palma-hover@3x.png) 3x, );
}

.hands-active {
    width: 68px;
    height: 68px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 1em;
    margin-right: 1em;
    background-position: right;
    background-image: url(../../../../assets/img/palma-ativo.png);
    background-image: -webkit-image-set(url(../../../../assets/img/palma-ativo@3x.png) 3x, );
    background-image: image-set(url(../../../../assets/img/palma-ativo.png) 1x, url(../../../../assets/img/palma-ativo@2x.png) 2x, url(../../../../assets/img/palma-ativo@3x.png) 3x, );
}

.at-sign {
    width: 68px;
    height: 68px;
}

.at-sign:hover {
    width: 68px;
    height: 68px;

}

@media(max-width:580px) {
    .hands {
        margin-left: 1em;
    }

    .btn {
        width: 50px;
    }

    .share-text {
        display: none;
    }

    .share-icon {
        margin-left: auto;
        margin-right: auto;
    }
    .visualization-div {
        padding-left: 1.5em;
    }
}

@media(min-width:320px)and(max-width:410px) {
    .visualization-div {
        padding-left: 3.5em;
    }
}

@media(max-width: 768px) {
    .edit-settings-popover {
        margin-left: -80px;
    }
}