<div class='comment-input'>
  <div class='content inside-comment'>
    <div class='row area' *ngIf='!this.flagEdit'>
      <div class='img-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
        <span class='part-1'>O que você pensa sobre este projeto?</span> <span class='part-2'> (É necessário ser
          cadastrado para comentar)
        </span>
      </div>
    </div>
    <div class='row input-area'>
      <form class='form-area'>
        <textarea [disabled]="!this.isActiveComment" #commentText matInput value="{{this.textUpdate}}" placeholder="Deixe seu comentário…"></textarea>
        <button [disabled]="!this.isActiveComment" type="button" class="btn-orange-white btn-publicar" (click)="submitComment(commentText.value)">
          Publicar
        </button>
      </form>
    </div>
  </div>