@import '~src/styles/global/colors';

.comment-input {
    width: 100%;
    background: $white;
}

.img-col {
    padding-left: 0;
}

.inside-comment {
    padding-top: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
}

.part-1 {
    color: #0b0b0b;
    font-size: 14px;

}

.part-2 {
    color: #787878;
    font-size: 12px;
}

.area {
    padding-top: 1em;
    margin-left: 0;
    margin-right: 0
}

.area-input {
    padding-top: 1.5em;
}

.form-area {
    width: 100%;
    padding-top: 1em;

}

mat-input-element {
    margin-left: 0px;
}

.form-area textarea {
    padding-top: 1em;
    padding-left: 1em;
    border-radius: 4px;
    margin-left: 1em;
    width: 95%;
    height: 120px;
    display: block;
    color: $font;
    font-family: Poppins;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
}

.info-port {
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    width: 80%;
    display: block;
}

.user-info-post .row {
    font-size: 10px;
    margin: 0;
    height: 30%;
}

.info-text {
    margin-top: 1.0em;
}

.user-img-port {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    margin-left: 0px;
}

.user-course-info span {
    font-size: 12px;
    height: 30%;
    margin-left: auto;
    display: block;
}

.tag-name {
    color: $font;
    font-family: Poppins;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
}

.info-name {
    color: $font;
    font-family: Poppins;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    margin: auto;
}

.btn-orange-white {
    float: right;
    margin-top: 1em;
    //margin-right:2.8em;
    margin-right: 2.5em;

}

.btn-publicar {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media(min-width:1000px) {
    .col-info {
        margin-left: -2.5em
    }
}

@media(min-width:770px) and (max-width:999px) {
    .col-info {
        margin-left: -1.5em
    }

    .btn-orange-white {
        float: right;
        margin-top: 1em;
        //margin-right:2.8em;
        margin-right: 1.5em;

    }
}

@media(max-width:360px) {
    .col-info {
        margin-left: -1.5em
    }
}

@media(max-width:700px) {
    .btn-orange-white {
        margin-right: 1em;

    }
}

@media(max-width:425px) {
    .btn-orange-white {
        margin-right: 0.5em;

    }
}

@media(max-width:425px) {
    .btn-orange-white {
        margin-right: 0.3em;

    }
}

@media(min-width:1200px) {
    .btn-orange-white {
        margin-right: 3em;

    }
}