@import '~src/styles/global/colors';
@import '~src/styles/global/global';

.mat-dialog-container {
    margin-left: 0px !important;
    padding-left: 0px !important
}

.title {
    margin-top: auto !important;
    margin-bottom: auto !important;
    margin-left: 1em !important;
}

.title-row {
    margin-top: -15px;
}

.btn-close {
    margin-left: auto;
    background: none;
    border: none;
}

.modal-share {
    width: 300px;
    margin-left: 0px !important;
    padding-left: 0px !important
}

.row-btn {
    display: inline-block;
}

.row-title {
    margin-top: 0.5em;
}

.buttons {
    margin-top: 3em;
    margin-bottom: auto;
    background: transparent;
    width: 45px;
    height: 45px;
    border: 0px;
}

.span-share {
    color: #787878;
    margin-top: 0.5em;
}

.span-share:hover {
    text-decoration: underline;
    cursor: pointer;
}

.input-link {
    padding-left: 5px;
    width: 90%;
    height: 46px;
    margin-left: 1em;
    background: none;
    border: solid 1px #c0c0c0;

    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 0.4px;
    color: #787878;
}

.header-share {
    height: 200px;
    background: #efefef;
    margin: 0;
    margin-bottom: -30px;
}

.tt {
    background: transparent;
    width: 45px;
    height: 45px;
    border: 0px;
}

.icon-img {
    width: 46px;
    height: 46px;
    object-fit: contain;
}

.footer-modal {
    background: white;
    margin-right: -40px;
    margin-left: -40px;
    height: 148px;
    margin-bottom: -30px;
    overflow-x: hidden;
}

.col-text {
    margin-top: 1.0em;
    margin-left: 1em;
}

.text-url {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #787878;
}

.bt-transparent {
    background: transparent !important;
}

@media(max-width:460px) {
    .modal-share {
        width: 180px;
    }
}