<div class='modal-share'>
  <div class="row title-row">
    <h3 mat-dialog-title class='title'>Compartilhar</h3>
    <button class="btn-close" type="button" mat-button [mat-dialog-close]="true" tabindex="-1"><img
        src="assets/img/x.png" srcset="../../../assets/img/x@2x.png 2x,
        ../../../assets/img/x@3x.png 3x" class="x"></button>
  </div>
  <div class='row header-share'>
    <div class='col-4 ' style='float:right'>
      <button mat-fab shareButton="facebook" [url]="this.url" class='buttons bt-transparent' style="float:right">
        <div class='row row-btn'>
          <img src="assets/img/facebook.png" srcset="../../../assets/img/facebook@2x.png 2x,
            ../../../assets/img/facebook@3x.png 3x" class="icon-img">
        </div>
        <div class='row  row-title '>
          <span class='span-share'>Facebook</span>
        </div>
      </button>
    </div>
    <div class='col-4 '>
      <button mat-fab shareButton="linkedin" [url]='"this.url"' class='buttons bt-transparent'
        style="margin-left:auto;margin-right:auto;display:block">
        <div class='row row-btn'>
          <img src="assets/img/linkedin.png" srcset="../../../assets/img/linkedin@2x.png 2x,
            ../../../assets/img/linkedin@3x.png 3x" class="icon-img">
        </div>
        <div class='row row-title'>
          <span class='span-share'>Linkedin</span>
        </div>
      </button>
    </div>
    <div class='col-4 '>
      <button mat-fab shareButton="twitter" [url]="this.url" class='buttons bt-transparent'>
        <div class='row'>
          <img src="assets/img/twitter.png" srcset="../../../assets/img/twitter@2x.png 2x,
            ../../../assets/img/twitter@3x.png 3x" class="icon-img">
        </div>
        <div class='row  row-title'>
          <span class='span-share'>Twitter</span>
        </div>
      </button>
    </div>
  </div>

  <div class='row footer-modal'>
    <div class='col-12 col-text'>
      <span class='text-url'>Ou copie esta URL e envie:
      </span>
    </div>
    <div class='col-12'>
      <input class="input-link col-12" (click)="copyMessage()" type="text" name="this.url" [(ngModel)]="this.url">
    </div>
  </div>
</div>