@import '~src/styles/global/colors';



.butn{
    width: 100%;
    min-height: 40px;
    border-radius: 3px;
    border: solid 1px $btn-yellow;
    background-color: $btn-yellow;
    color: $white;
    font-family: Poppins;
    letter-spacing: 0.6px;
}

.btn2{
    width: 100%;
    background: transparent;
    border: 1px solid $btn-yellow;
}

.btn:hover{
    cursor:pointer;
    background: $btn-bg-hover
}

.btn2:hover{
    cursor: pointer;
    background: $btn-yellow
}

.butn span{
    width: 90%;
    font-size: 12px;
}

.btn2 span{
    width: 90%;
    font-size: 12px;
}

.btn2:hover span{
    color: white;
}

.dialog-set-user {
    width: 500px;
    height:170px;
    border-radius: 3px;
    background-color: $bg-modal;
    z-index:3000 !important
}

mat-dialog-container{
    z-index:3000 !important
}

.modal-alert{
    object-fit: contain;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width:40px;
    height:40px;
}

p {
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: $font;
    border-radius: 3px;
    padding-left: 22px;
}

h2 {
    font-size: 16px;
    color:$font;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-align: center;
    margin:auto;
    padding-bottom:20px;
    width: 80%;
}

.dialog-set-user .btn-content{
    margin:auto;
    padding-bottom:20px;
    width: 20%;
}



.p-define {
    width: 100%;
    margin-top: 1em;
}


@media(max-width:700px){
    .dialog-set-user {
        width: 200px;
        height:200px;
        border-radius: 3px;
        background-color: $bg-modal;
        z-index:3000 !important
    }

    .butn span{
        width: 90%;
        font-size: 10px;
    }

    .btn2 span{
        width: 90%;
        font-size: 10px;
    }

    .butn{
        width: 100%
    }
    .btn2{
        width: 100%
    }
}