<div class="dialog-set-user">
  <div class="row">
    <button class="btn-close" type="button" mat-button [mat-dialog-close]="true" tabindex="-1"><img
        src="assets/img/x.png" srcset="../../../assets/img/x@2x.png 2x,
      ../../../assets/img/x@3x.png 3x" class="x"></button>
  </div>
  <div class="row">
    <div class="col-12">
      <img src="assets/img/group.png" srcset="../../../assets/img/group@2x.png 2x,
            ../../../assets/img/group@3x.png 3x" class="modal-alert">
    </div>
    <h2>Confirma a exclusão?</h2>
  </div>

  <div class="row">
    <div class='col-2 col-sm-6'></div>
    <div class='col-10 col-sm-6'>
      <div class='row'>
        <div class='col-6'>
          <button type="button" [mat-dialog-close]="true" class="btn2 btn-outline-secondary" (click)="this.cancel()">
            <span>Cancelar</span>
          </button>
        </div>
        <div class='col-6'>
          <button type="button" [mat-dialog-close]="true" class="butn btn-outline-secondary" (click)="this.remove()">
            <span>Confirmar</span>
          </button></div>
      </div>
    </div>
  </div>
</div>