@import '~src/styles/global/colors';

.publication-card {
  position: relative;
  width: 100%;
  min-height: 459px !important;
  border-radius: 4px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  background-color: $white;
}

.header {
  position: relative;
}

.user:hover{
  cursor: pointer;
  text-decoration: underline;
}

.user-img:hover{
  border: 2px solid $btn-yellow
}

.bar-info{
  margin-bottom:auto;
  margin-top:auto;
}

.info-card{
  padding-left: 0px !important;
  margin-bottom:1em;
}

.bar-info img{
  margin-left:0.5em
}


.header .img {
 
  object-fit: cover;
  width: 100%;
  background-color: transparent;
  margin-top: 15px;
}

.header .img-post {
  cursor: pointer;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  max-height: 200px;
  object-fit: cover;
  margin: 0 auto;
}

.publication-card .card-menu {
  width: 100%;
  padding-top: 9px;
  position: absolute;
  margin: 0;
  top: 0;
}

.publication-card .card-menu .three-dots {
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  background-position: right;
  background-image: url(../../../../assets/img/ic-more-vert-18-px.png);
  background-image: -webkit-image-set(url(../../../../assets/img/ic-more-vert-18-px.png) 1x, url(../../../../assets/img/ic-more-vert-18-px@2x.png) 2x, url(../../../../assets/img/ic-more-vert-18-px@3x.png) 3x, );
  background-image: image-set(url(../../../../assets/img/ic-more-vert-18-px.png) 1x, url(../../../../assets/img/ic-more-vert-18-px@2x.png) 2x, url(../../../../assets/img/ic-more-vert-18-px@3x.png) 3x, );
}

.publication-card .card-menu .three-dots:hover {
  
  background-image: url(../../../../assets/img/group-4.png);
  background-image: -webkit-image-set(url(../../../../assets/img/group-4@2x.png) 2x, url(../../../../assets/img/group-4@3x.png) 3x, );
  background-image: image-set(url(../../../../assets/img/group-4.png) 1x, url(../../../../assets/img/group-4@2x.png) 2x, url(../../../../assets/img/group-4@3x.png) 3x, );
}



.publication-card .card-menu .lock-white {
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../../../assets/img/group-13.png);
  background-image: -webkit-image-set(url(../../../../assets/img/group-13.png) 1x, url(../../../../assets/img/group-13@2x.png) 2x, url(../../../../assets/img/group-13@3x.png) 3x, );
  background-image: image-set(url(../../../../assets/img/group-13.png) 1x, url(../../../../assets/img/group-13@2x.png) 2x, url(../../../../assets/img/group-13@3x.png) 3x, );
}

.publication-card .card-menu .lock-white:hover {
  background-image: url(../../../../assets/img/group-16.png);
  background-image: -webkit-image-set(url(../../../../assets/img/group-16.png) 1x, url(../../../../assets/img/group-16@2x.png) 2x, url(../../../../assets/img/group-16@3x.png) 3x, );
  background-image: image-set(url(../../../../assets/img/group-16.png) 1x, url(../../../../assets/img/group-16@2x.png) 2x, url(../../../../assets/img/group-16@3x.png) 3x, );
}

.content {
  width: 85%;
  margin-left: 19px;
}

.content-no-img {
  width: 85%;
  margin-left: 19px;
  padding-top: 47px;
}

.title {
  font-family: Poppins;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.7px;
  color: $font-black;
  max-height:86px;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

.icon-flag-first{
  margin-top:auto;
  margin-bottom:auto;
  margin-left:auto !important;
  padding-right:0px !important;
  padding-left:1.5em !important;
}

.icon-row{
  float:right;
}

.icon-flag{
  padding-left:1.5em !important;
  padding-right:0px !important;
}

.div-icons{
  margin-left: auto;
}

.title:hover {
  font-weight: 600;
  cursor: pointer;
}


@-moz-document url-prefix() {
  .title:hover {
      text-decoration: none;
      font-weight: bold;
      letter-spacing: 0.27px;
  }
}


.user-info-course {
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: $font-black;
  margin-top: -6px;
}

.publication-card .footer {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.footer .info {
  width: 100%;
  margin: 0;
  border-bottom: solid 1px $border-publication-component;
}

.footer .info .row {
  margin: 0;
  padding-left: 21px;
}

.footer .info .user-img {
  border-radius: 50%;
  margin: 0;
  height: 26px;
  width: 26px;
  margin-left:0.5em;
  position: relative;
}

.footer .info .user {
  display: flex;
  align-items: center;
  padding-left: 9px;
  height: 100%;
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: $brownish-grey;
  margin: 12px 0px;
}

.visualization-img{
  width: 21px;
  height: 16px;
  object-fit: contain;
  margin-right:0.2em
}

.clap-img{
  width: 22px;
  height: 24px;
  object-fit: contain;
  margin-right:0.2em
}


.footer .feedback {
  width: 100%;
  margin: 0;
}

.footer .feedback .row {
  width: 100%;
  margin: 0;
  margin-left: 2%;
  font-family: Poppins;
  font-size: 10px;
  font-weight: normal;
  margin-top:5px !important;
  margin-bottom:5px !important;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: $brownish-grey;
  margin: 12px 0px;
}

.footer .feedback .refresh {
  margin-top:auto;
  padding-left: 0;
  margin-bottom:auto;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../../../assets/img/refresh-cw.png);
  background-image: -webkit-image-set(url(../../../../assets/img/refresh-cw.png) 1x, url(../../../../assets/img/refresh-cw@2x.png) 2x, url(../../../../assets/img/refresh-cw@3x.png) 3x, );
  background-image: image-set(url(../../../../assets/img/refresh-cw.png) 1x, url(../../../../assets/img/refresh-cw@2x.png) 2x, url(../../../../assets/img/refresh-cw@3x.png) 3x, );
}

/* Popover */

.edit-settings-popover {
  height: 100%;
  width: 200px;
  background: $white;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  border: solid 2px $hover-gray;
  margin: 0 auto;
  margin-left: -90px;
}

.edit-settings-popover .mat-button {
  width: 100%;
  height: 50px;
  display: block;
  font-family: Poppins;
  font-size: 12px;
  font-stretch: normal;
  line-height: normal;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-align: right;
  color: $font;
  border-bottom: 1px solid $hover-gray;
}

@media(max-width:370px) {
  .mobile {
    visibility: hidden;
  }
}

@media(max-width:580px){
  .edit-settings-popover {
    margin-left: -35px;
  }
}

@media(min-width:760px)and(max-width:990px){
  .icon-flag-first{
    padding-left:0.0em;
    margin-left:0;
  }
  .icon-flag{
    padding-left:0.0em;
    margin-left:0;
  }
}