<div class="publication-card">
  <div class='header'>
    <div class='img align-items-center' *ngIf='this.publication.imgPath'>
      <img [routerLink]='"/"+this.publication.urlPublicacao' class="img-post" [src]="this.publication.imgPath">
    </div>
    <div class='card-menu'>
      <div class='container'>
        <div class='row'>
          <div class="col-6">
            <div class='lock-white' matTooltip='Privado para professores' *ngIf="hasPrivate"></div>
          </div>
          <div class="col-6" *ngIf='this.isActiveEdit' [ngbPopover]="popContent" placement="bottom"
            data-toggle="popover">
            <div class="three-dots"></div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class='content' [ngClass]="(!this.publication.imgPath)? {'content-no-img' : true} : ''">
    <p class='title' [routerLink]='"/"+this.publication.urlPublicacao'>{{this.publication.titulo}}</p>
    <div class='user-info-course'>
      <span><b>{{this.course}}</b></span><br>
      <span>{{this.disciplina}}</span>

    </div>
  </div>
  <div class='footer'>
    <div class='info mobile'>
      <div class="row info-card">
        <div class='col-2 bar-info'>
          <img class="user-img" [routerLink]='"/"+this.user.url' [src]="this.imageUser">
        </div>
        <div class='col-10 bar-info'>
          <p class="user" [routerLink]='"/"+this.user.url'>{{this.user.nome}}</p>
        </div>

      </div>
    </div>

    <div class="feedback">
      <div class="row icon-row align-items-center">
        <div class='col-3 col-sm-2 col-md-2 col-lg-2'>{{this.date}}</div>
        <div class='col-9 col-sm-10 col-md-10 col-lg-10 div-icons'>
          <div class='row'>
            <div *ngIf="!this.hasFeedback" class="col-2col-sm-2 col-md-2 col-lg-2 "></div>
            <div class='col-5 col-sm-4 col-md-4 col-lg-4 icon-flag-first'>
              <img src="assets/img/eye.png" srcset="../../../../assets/img/eye@2x.png 2x,
                ../../../../assets/img/eye@3x.png 3x" class="visualization-img">
              <span>{{this.countVisualizaitons}}</span>
            </div>
            <div class='col-5 col-sm-4 col-md-4 col-lg-5 icon-flag'>
              <img *ngIf="this.isClaped" src="assets/img/clap-active.png" srcset="../../../../assets/img/clap-active@2x.png 2x,
                ../../../../assets/img/clap-active@3x.png 3x" class="clap-img">
              <img *ngIf="!this.isClaped" src="assets/img/clap.png" srcset="../../../../assets/img/clap@2x.png 2x,
                ../../../../assets/img/clap@3x.png 3x" class="clap-img">
              <span>{{this.countClaps}}</span></div>
            <div *ngIf="this.hasFeedback" matTooltip='Recebeu Feedback'
              class="refresh col-2 col-sm-2 col-md-2 col-lg-2 icon-flag self-align-end"></div>

          </div>
        </div>
      </div>

    </div>

    <ng-template #popContent>
      <div class="edit-settings-popover">
        <div class="row">
          <div class='col'>
            <button mat-button (click)="onUpdate()">Editar</button>
          </div>
        </div>

        <div class="row">
          <div class='col'>
            <button mat-button (click)="remove()">Deletar</button>
          </div>
        </div>

      </div>
    </ng-template>

  </div>
