<app-header-portfolio [isNewPost]='false'></app-header-portfolio>
<div [class.hidden]="!show">
  <div class="spinner" *ngIf="show" id="spinner">
    <mat-spinner class="mauto" mode="indeterminate" [diameter]="100"></mat-spinner>
  </div>
</div>

<div *ngIf="!this.userProfileProfessor">
  <div class='my-portfolio-student'>
    <div class="info">
      <div class="container">
        <div class="row">
          <button type="button" class="mobile-on btn-share btn-outline-secondary" (click)="shareClick()">
            <span>Compartilhar</span> <img src="assets/img/share-2.png" srcset="../../../assets/img/share-2@2x.png 2x,
                            ../../../assets/img/share-2@3x.png 3x" class="share-icon">
          </button>
          <div class="col-xs-12 col-sm-5 col-md-4 col-lg-2 col-xl-2">
            <div class='row'>
              <div class="user">
                <img class="user-img" [src]="imageUser">
              </div>
            </div>
            <div class='row'>
              <div class='city'>
                <img src="assets/img/map-pin.png" srcset="../../../assets/img/map-pin@2x.png 2x,
                    ../../../assets/img/map-pin@3x.png 3x" class="map-pin"><span
                  class='span-info'>{{this.user.cidade}},
                  {{this.user.UF}}</span></div>
            </div>
          </div>
          <div class="user-info offset-xs-1 offset-ls-1 col-xs-8 col-sm-6 col-md-6 col-lg-8 col-xl-9">
            <div class="row">
              <div class='col-10 col-nome'>
                <p class="nome">{{this.user.nome}}</p>
              </div>
              <div class='col-2'>
                <button type="button" class="mobile-off btn-share btn-outline-secondary" (click)="shareClick()">
                  <span class="mobile-off">Compartilhar</span> <img src="assets/img/share-2.png" srcset="../../../assets/img/share-2@2x.png 2x,
                      ../../../assets/img/share-2@3x.png 3x" class="share-icon">
                </button>
              </div>

            </div>
            <div class="row">
              <span *ngIf='this.professorFlagExternal' class='professor'>Professor(a)</span>
            </div>
            <div class="row">
              <span *ngIf='this.professorFlagExternal' class='professor'><br>Professor(a)</span>
            </div>
            <div class="row">
              <p class="curso">{{this.courses}}</p>
            </div>
            <div class="row row-ativ">
              <div class='col-12' style="padding-left:0;margin-top:auto;margin-bottom:auto;">
                <img src="assets/img/ativ-acad.png" srcset="../../../assets/img/ativ-acad@2x.png 2x,
                        ../../../assets/img/ativ-acad@3x.png 3x" class="img-ativ-academica">

                <span class="ativ-acad" (click)="openDialog()">Atividades Acadêmicas e Professores</span>
              </div>
            </div>
            <div class="row pin-map">
              <span class='span-info' *ngIf="this.user.biografia">{{this.user.biografia}}.</span>
            </div>
            <div class="row col-12 social-buttons">
              <div class='col-12 col-md-6 col-lg-4 col-xl-2 social-btn' *ngIf="this.user.lkfacebook"
                style="padding-left:0">
                <img src="assets/img/Social-buttons/facebook.png" srcset="../../../assets/img/Social-buttons/facebook@2x.png 2x,
                  ../../../assets/img/Social-buttons/facebook@3x.png 3x" class="at-sign"><span class='span-info'><a
                    target="_blank" [href]="this.template.facebook+this.user.lkfacebook">Facebook</a></span>
              </div>
              <div class='col-12 col-md-6 col-lg-4 col-xl-2 social-btn' *ngIf="this.user.lklinkedin">
                <img src="assets/img/Social-buttons/linkedin.png" srcset="../../../assets/img/Social-buttons/linkedin@2x.png 2x,
                  ../../../assets/img/Social-buttons/linkedin@3x.png 3x" class="at-sign"><span class='span-info'><a
                    target="_blank" [href]="this.template.linkedin+this.user.lklinkedin">Linkedin</a></span>
              </div>
              <div class='col-12 col-md-6 col-lg-4 col-xl-2 social-btn' *ngIf="this.user.lklattes">
                <img src="assets/img/Social-buttons/lattes.png" srcset="../../../assets/img/Social-buttons/lattes@2x.png 2x,
                  ../../../assets/img/Social-buttons/lattes@3x.png 3x" class="at-sign"><span class='span-info'><a
                    target="_blank" [href]="this.template.lattes+this.user.lklattes">Lattes</a></span>
              </div>
              <div class='col-12 col-md-6 col-lg-4 col-xl-2 social-btn twitter' *ngIf="this.user.lktwitter">
                <img src="assets/img/Social-buttons/twitter.png" srcset="../../../assets/img/Social-buttons/twitter@2x.png 2x,
                  ../../../assets/img/Social-buttons/twitter@3x.png 3x" class="at-sign"><span class='span-info'><a
                    target="_blank" [href]="this.template.twitter+this.user.lktwitter">Twitter</a></span>
              </div>
              <div class='col-12 col-md-12 col-lg-8 col-xl-4 social-btn' *ngIf="this.user.email">
                <img src="assets/img/Social-buttons/email.png" srcset="../../../assets/img/Social-buttons/email@2x.png 2x,
                  ../../../assets/img/Social-buttons/email@3x.png 3x" class="at-sign"><span
                  class='span-info'>{{this.user.email}}</span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <mat-tab-group>
      <mat-tab label="Publicações">
        <div class="row ">
          <mat-accordion *ngIf="hasFilters" id="accordion-student" class='col-7 col-xs-1 col-sm-8 col-md-9 col-lg-8 '>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header class="mat-filtro">
                <mat-panel-title>
                  <div class="middle-flex">
                    <p class="p-filter">Filtro</p>
                    <img src="assets/img/filter.png" srcset="../../../assets/img/filter@2x.png 2x,
                  ../../../assets/img/filter@3x.png 3x" class="filter">
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="div-select row">
                <label class="label-filter col-6 col-xs-12 col-sm-12 col-md-2 col-lg-2">Período<br>
                  <select [(ngModel)]="filters.periodSelected" class="select-filter"
                    (ngModelChange)="onChangePeriods($event)">
                    <option>Todos</option>
                    <option *ngFor="let p of selects.periods" [ngValue]="p">{{p.nome}}</option>
                  </select>
                </label>
                <label class="label-filter col-6 col-xs-10 col-sm-12 col-md-2 col-lg-3">Ativ. Acadêmica<br>
                  <select [(ngModel)]="filters.disciplineSelected" class="select-filter"
                    (ngModelChange)="onChangeDisciplines($event)">
                    <option>Todas</option>
                    <option *ngFor="let p of selects.disciplines" [ngValue]="p">{{p.nome}}</option>
                  </select>
                </label>
                <label class="label-filter col-6 col-sm-12 col-md-2 col-lg-2">Avaliação<br>
                  <select [(ngModel)]="filters.testSelected" class="select-filter">
                    <option>Todas</option>
                    <option *ngFor="let p of selects.tests" [ngValue]="p">{{p.nomeAvaliacao}}</option>
                  </select>
                </label><label class="label-filter col-6 col-sm-12 col-md-2 col-lg-1">Status<br>
                  <select [(ngModel)]="filters.statusSelected" class="select-filter">
                    <option>Todos</option>
                    <option [ngValue]="1">Projetos Novos</option>
                    <option [ngValue]="2">Projetos que já recebi feedback</option>
                    <option [ngValue]="3">Projetos que já respondi o feedback</option>
                  </select>
                </label>
                <label class="label-filter col-6 col-xs-12 col-sm-12 col-md-1 col-lg-1"><br>
                  <button class="btn2-filter pull-right" (click)="submitFilters()">Aplicar</button>
                </label>

              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <div *ngIf="!panelOpenState" class="div-order col-2 col-xs-1 col-sm-3 col-md-2 col-lg-3 col-xl-3">
            <span class='mobile-order' *ngIf='hasFilters'>Ordenar Por: </span>
            <select [(ngModel)]="this.optionSelected" *ngIf="hasFilters" matNativeControl id="select-academic"
              (ngModelChange)="onChangeOrder($event)">
              <option [ngValue]="0" ng-selected="selected">Recentes</option>
              <option [ngValue]="1">Antigos</option>
              <option [ngValue]="2">Ordem Alfabética (A>Z)</option>
              <option [ngValue]="3">Ordem Alfabética (Z>A)</option>
            </select>
          </div>
        </div>

        <div *ngIf="panelOpenState" class="div-order-2 row">
          <div class='col-7 col-md-8'></div>
          <div class='col-2 col-md-2 order-mob'>
            <span class='mobile-order' *ngIf='hasFilters'>Ordenar Por: </span>
          </div>
          <select class='col-3 col-md-2' [(ngModel)]="this.optionSelected" *ngIf="hasFilters" matNativeControl
            id="select-academic" (ngModelChange)="onChangeOrder($event)">
            <option [ngValue]="0" ng-selected="selected">Recentes</option>
            <option [ngValue]="1">Antigos</option>
            <option [ngValue]="2">Ordem Alfabética (A>Z)</option>
            <option [ngValue]="3">Ordem Alfabética (Z>A)</option>
          </select>
        </div>


        <div class="no-content" *ngIf="!hasPublications">
          <div class="row">
            <div class="col-md-12">
              <img src="assets/img/noun-empty.png" srcset="../../../assets/img/noun-empty@2x.png 2x,
                  ../../../assets/img/noun-empty@3x.png 3x" class="high-five">
            </div>
            <div class="col-md-12">
              <p *ngIf='!this.mensageFilterEmpty' class="fs16 bold font-color">Ainda não existem publicações.</p>
              <p *ngIf='this.mensageFilterEmpty' class="fs16 bold font-color">Não existem resultados para o filtro
                aplicado.</p>
            </div>


          </div>
        </div>

        <div *ngIf="hasPublications">
          <app-publications [publicacoes]="publications"></app-publications>
        </div>

        <div class="row">
          <button *ngIf='this.visibleMorePublication' type="button" class="btn-gray" (click)="UpdateMorePublication()">
            + Mais publicações
          </button>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>


<div *ngIf="this.userProfileProfessor">
  <div class="info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-2 col-xl-2">
          <div class='row'>
            <div class="user">
              <img class="user-img" [src]="imageUser">
            </div>

          </div>
          <div class='row'>
            <div class='city'>
              <img src="assets/img/map-pin.png" srcset="../../../assets/img/map-pin@2x.png 2x,
                  ../../../assets/img/map-pin@3x.png 3x" class="map-pin"><span class='span-info'>{{this.user.cidade}},
                {{this.user.UF}}</span></div>
          </div>
        </div>
        <div class="user-info offset-xs-1 offset-ls-1 col-xs-8 col-sm-6 col-md-6 col-lg-8 col-xl-9">
          <div class="row">

            <div class='col-10 col-nome'>
              <p class="nome">{{this.user.nome}}</p>
            </div>
            <div class='col-2'>
              <button type="button" class="btn btn-outline-secondary" (click)="shareClick()">
                <span class="mobile-off">Compartilhar</span> <img src="assets/img/share-2.png" srcset="../../../assets/img/share-2@2x.png 2x,
                        ../../../assets/img/share-2@3x.png 3x" class="share-icon">
              </button>
            </div>
          </div>
          <div class="row row-prof">
            <span *ngIf='this.professorFlagExternal' class='professor'>Professor(a)</span>
          </div>
          <div class="row">
            <p class="curso">{{this.courses}}</p>
          </div>


          <div class="row pin-map">
            <span class='span-info' *ngIf="this.user.biografia">{{this.user.biografia}}.</span>
          </div>
          <div class="row col-12 social-buttons">
            <div class='col-12 col-md-6 col-lg-4 col-xl-2 social-btn' *ngIf="this.user.lkfacebook"
              style="padding-left:0">
              <a target="_blank" [href]="this.template.facebook+this.user.lkfacebook"><img
                  src="assets/img/Social-buttons/facebook.png" srcset="../../../assets/img/Social-buttons/facebook@2x.png 2x,
                ../../../assets/img/Social-buttons/facebook@3x.png 3x" class="at-sign"><span
                  class='span-info'>Facebook</span></a>
            </div>
            <div class='col-12 col-md-6 col-lg-4 col-xl-2 social-btn' *ngIf="this.user.lklinkedin">
              <a target="_blank" [href]="this.template.linkedin+this.user.lklinkedin"><img
                  src="assets/img/Social-buttons/linkedin.png" srcset="../../../assets/img/Social-buttons/linkedin@2x.png 2x,
                ../../../assets/img/Social-buttons/linkedin@3x.png 3x" class="at-sign"><span
                  class='span-info'>Linkedin</span></a>
            </div>
            <div class='col-12 col-md-6 col-lg-4 col-xl-2 social-btn' *ngIf="this.user.lklattes">
              <a target="_blank" [href]="this.template.lattes+this.user.lklattes"><img
                  src="assets/img/Social-buttons/lattes.png" srcset="../../../assets/img/Social-buttons/lattes@2x.png 2x,
                ../../../assets/img/Social-buttons/lattes@3x.png 3x" class="at-sign"><span
                  class='span-info'>Lattes</span></a>
            </div>
            <div class='col-12 col-md-6 col-lg-4 col-xl-2 social-btn twitter' *ngIf="this.user.lktwitter">
              <a target="_blank" [href]="this.template.twitter+this.user.lktwitter"><img
                  src="assets/img/Social-buttons/twitter.png" srcset="../../../assets/img/Social-buttons/twitter@2x.png 2x,
                ../../../assets/img/Social-buttons/twitter@3x.png 3x" class="at-sign"><span
                  class='span-info'>Twitter</span></a>
            </div>
            <div class='col-12 col-md-12 col-lg-8 col-xl-4 social-btn' *ngIf="this.user.email">
              <img src="assets/img/Social-buttons/email.png" srcset="../../../assets/img/Social-buttons/email@2x.png 2x,
                ../../../assets/img/Social-buttons/email@3x.png 3x" class="at-sign"><span
                class='span-info'>{{this.user.email}}</span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='info-professor'>
    <div class='info'>
      <div class='container'>
        <div class='row atividades-row'>
          <div class='col-xs-12 col-sm-5 col-md-4 col-lg-3 col-xl-2'></div>
          <div class='col-xs-8 col-sm-6 col-md-7 col-lg-8 col-xl-9 atividades-academicas'>
            <img src="assets/img/book.png" srcset="./../../../../assets/img/book@2x.png 2x,
                    ./../../../../assets/img/book@3x.png 3x" class="book"><span class='title-atividades'><b>Atividades
                Acadêmicas</b></span>
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-12 col-sm-5 col-md-4 col-lg-3 col-xl-2'></div>
          <div class='col-xs-8 col-sm-6 col-md-7 col-lg-8 col-xl-9'>
            <div class='content list-info'>
              <ul class='list-items' role="list">
                <li *ngFor='let discipline of this.professorDisciplines'>
                  <span class='list-item'>
                    {{discipline['nome']}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fg-footer">
  <app-footer></app-footer>
</div>