@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Chivo');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i');
@import url('//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css');
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~src/styles/global/colors';
@import '~src/styles/global/global';
html, body { height: 100%; }
