<div class="portfolio-container">
  <div class="row">
    <div class='col-sm-6 col-md-4 col-lg-3' *ngFor="let portfolio of this.portfolios">
      <app-portfolio [routerLink]='"/"+portfolio.url' [portfolio]="portfolio"></app-portfolio>
    </div>
  </div>
</div>
