.publication-container {
    padding-left:12px;
    padding-right:15px;
    padding-bottom: 40px;
}

.div-publ{
    padding-left:5px !important;
    padding-right:5px !important;
}

.icon-flag{
    margin-right: 0px;    
    display: block;
   
}

