<div class="publication-container">
  <div class="row">
    <div class='div-publ col-sm-6 col-md-4 col-lg-3' *ngFor="let publicacao of this.publicacoes">
      <app-publication 
      [publication]='publicacao'></app-publication>
    </div>
  </div>
</div>
