<app-header-portfolio #headerPage ></app-header-portfolio>

<div [class.hidden]="!show">
  <div class="spinner" *ngIf="show" id="spinner">
    <mat-spinner class="mauto" mode="indeterminate" [diameter]="100"></mat-spinner>
  </div>
</div>

<div class='container'>
  <div class='row row-three-dots'>
    <div class='col-1' *ngIf='!this.isAutor'></div>
    <div class='col-10 col-sm-11' *ngIf='this.isAutor'>
        <button type="button" 
        class="btn-share btn-outline-secondary" (click)="shareClick()">
        <span >Compartilhar</span> <img src="assets/img/share-2.png" srcset="../../../assets/img/share-2@2x.png 2x,
        ../../../assets/img/share-2@3x.png 3x" class="share-icon">
        
      </button>
    </div>
    <div class='col-12' *ngIf='!this.isAutor'>
        <button type="button" 
        class="btn-share btn-outline-secondary" (click)="shareClick()">
        <span >Compartilhar</span> <img src="assets/img/share-2.png" srcset="../../../assets/img/share-2@2x.png 2x,
        ../../../assets/img/share-2@3x.png 3x" class="share-icon">
        
      </button>
    </div>
    <div class='col-2 col-sm-1' *ngIf='this.isAutor'>
      <div *ngIf='this.isAutor' [ngbPopover]="popContent" placement="bottom" data-toggle="popover"
        class='area-three-dots col-2'>
        <div class="three-dots-dark"></div>
      </div>
    </div>
  </div>

  <div class='row div-title'>
    <div class='col-12'>
      <p class='title'>{{this.publication?.titulo}}</p>
    </div>
  </div>
  
  <app-user-info-publication *ngIf='this.publication' [user]='this.autor' [courseName]='this.courseName'
    [className]='this.className' [dtModificacao]='this.publication.dtModificacao'
    [dtCadastro]='this.publication.dtCadastro' [isFirst]='true'></app-user-info-publication>

  <div class='col-12'>
    <div class='body-detail' [innerHtml]="safeHtml"></div>
  </div>

  <app-user-info-publication class='info-user-0' *ngIf='this.publication' [user]='this.autor'
    [courseName]='this.courseName' [className]='this.className' [dtModificacao]='this.publication.dtModificacao'
    [dtCadastro]='this.publication.dtCadastro' [isFirst]='false'></app-user-info-publication>
  <app-social-section *ngIf='this.publication' [idPublicacao]='this.publication.idPublicacao'
    [visibleFeedback]='this.feedbackVisible' [reflexao]='this.publication.reflexao' [imgPath]='this.autor?.img'>
  </app-social-section>
</div>

<ng-template  #popContent>
  <div class="edit-settings-popover">
    <div class="row">
      <div class='col'>
        <button mat-button (click)="editPublication()">Editar</button>
      </div>
    </div>

    <div class="row">
      <div class='col'>
        <button mat-button (click)="remove()">Deletar</button>
      </div>
    </div>
  </div>
</ng-template>

<div class='container copyright-container'>
  <div class='row'>
    <div class='col-1'>
      <img src="assets/img/alert-circle.png" srcset="../../../assets/img/alert-circle@2x.png 2x,
          ../../../assets/img/alert-circle@3x.png 3x" class="copyright-img">
    </div>
    <div class='col-9 col-copy-text'>
      <span class='copy-right'><b>Direitos Autorais</b><br>Está proibida a cópia, redistribuição ou qualquer utilização
        do material por mim
        produzido nesse portal para fins de qualquer natureza sem a devida autorização.
        A utilização do material depende de minha prévia e expressa autorização.</span>
    </div>
  </div>
</div>

<app-footer></app-footer>