@import '~src/styles/global/colors';

@import '~src/styles/global/helper';

.container {
    margin-top: 15px;
}

.row {
    margin-bottom: 1em;
}

.col-copy-text{
    margin-top:-0.4em
}

.area-three-dots {
    margin-left: auto;
    margin-right: 0;
}

.copyright-container{
    margin-top:2.0em
}

.copy-right {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.6em;
    letter-spacing: 0.5px;
    color: #787878;
    padding-left: 0;
}

.three-dots-dark {
    margin-left: auto;
    float: right;
    padding-top: 3em;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-image: url(../../../assets/img/black-icon.png);
    background-image: -webkit-image-set(url(../../../assets/img/black-icon@2x.png) 2x, url(../../../assets/img/black-icon@3x.png) 3x, );
    background-image: image-set(url(../../../assets/img/black-icon.png) 1x, url(../../../assets/img/black-icon@2x.png) 2x, url(../../../assets/img/black-icon@3x.png) 3x, );
    margin-left: auto;
}



.three-dots-dark:hover {
    cursor: pointer;
}

.edit-settings-popover .row {
    margin-bottom: 0em;
}

.edit-settings-popover {
    height: 100%;
    width: 200px;
    background: $white;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    border: solid 2px $hover-gray;
    z-index: 100 !important;
    margin: 0 auto;
    margin-top: 40px;
}

.edit-settings-popover .mat-button {
    width: 100%;
    height: 50px;
    display: block;
    font-family: Poppins;
    font-size: 12px;
    font-stretch: normal;
    line-height: normal;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: right;
    color: $font;
    background: $white;
    border-bottom: 1px solid $hover-gray;
    z-index: 100 !important
}

.div-title {
    margin-bottom: 0em;
}

.title {
    font-family: Poppins;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: 0.7px;
    color: #0b0b0b;
    padding: 0px 15px !important;
    margin-bottom: 0px !important;
}

.body-detail .p {
    margin-bottom: 40px;
}

.menu {
    width: 80%;
    margin-top: 40px;
}

.btn-share {
    margin-left: auto;
    display: block;
    border: solid 1px #dddddd;
    background: transparent;
    color: $font;
    height:38px;
    font-size: 13px;
    width: 180px;
}

.btn {
    height: 50px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    overflow: hidden;
    font-style: normal;
    letter-spacing: 0.5px;
}

.share-icon {
    width: 18px;
    height: 20px;
    object-fit: contain;
    margin-left: 13px;
}

.copyright-img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-left: auto;
    display: block;
    padding-right: 0;
}

.btn-save {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 1px solid $border-button;
    color: $font;
    width: 83px;
}

.btn-post {
    width: 97px;
}

.menu .btn-dots {
    width: 22px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../assets/img/three-dots-16px.png);
}

.menu .button {
    margin-right: 20px;
}

.content {
    width: 90%;
}

.post {
    padding-top: 20px;
    padding-bottom: 15px;
}

.title-new-publication {
    width: 100%;
    min-height: 60px;
    border: 1px solid $border-input;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 300;
    color: $font;
    letter-spacing: normal;
    background-color: white;
    padding-left: 20px;
}

.content .btn-plus {
    width: 42px;
    height: 42px;
    font-family: Poppins;
    font-size: 30px;
    color: $btn-yellow;
    background-color: transparent;
    border: solid 2px $btn-yellow;
    margin-right: 15px;
    margin-top: 10px;
    box-shadow: none;
}

.content .btn-plus:hover {
    color: $bg-gray-light;
    background-color: $btn-yellow;
}

.mat-fab .mat-button-wrapper {
    padding: 0px !important;
}

.btns {
    display: block;
    margin: auto;
    text-align: center;
}

.medium-toolbar-arrow-under:after {
    border-color: #000 transparent transparent transparent;
    top: 40px;
}

.medium-toolbar-arrow-over:before {
    border-color: transparent transparent #000 transparent;
}

.medium-editor-toolbar {
    background-color: #000;
    border: none;
    border-radius: 50px;
}

.medium-editor-toolbar li button {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    color: #ccc;
    height: 40px;
    min-width: 40px;
    padding: 5px 12px;
    -webkit-transition: background-color .2s ease-in, color .2s ease-in;
    transition: background-color .2s ease-in, color .2s ease-in;
}

.medium-editor-toolbar li button:hover {
    background-color: #000;
    color: #a2d7c7;
}

.medium-editor-toolbar li .medium-editor-button-first {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    padding-left: 24px;
}

.medium-editor-toolbar li .medium-editor-button-last {
    border-bottom-right-radius: 50px;
    border-right: none;
    border-top-right-radius: 50px;
    padding-right: 24px;
}

.medium-editor-toolbar li .medium-editor-button-active {
    background-color: #000;
    color: #a2d7c7;
}

.medium-editor-toolbar-form {
    background: #000;
    border-radius: 50px;
    color: #ccc;
    overflow: hidden;
}

.medium-editor-toolbar-form .medium-editor-toolbar-input {
    background: #000;
    box-sizing: border-box;
    color: #ccc;
    height: 40px;
    padding-left: 16px;
    width: 220px;
}

.medium-editor-toolbar-form .medium-editor-toolbar-input::-webkit-input-placeholder {
    color: #f8f5f3;
    color: rgba(248, 245, 243, 0.8);
}

.medium-editor-toolbar-form .medium-editor-toolbar-input:-moz-placeholder {
    /* Firefox 18- */
    color: #f8f5f3;
    color: rgba(248, 245, 243, 0.8);
}

.medium-editor-toolbar-form .medium-editor-toolbar-input::-moz-placeholder {
    /* Firefox 19+ */
    color: #f8f5f3;
    color: rgba(248, 245, 243, 0.8);
}

.medium-editor-toolbar-form .medium-editor-toolbar-input:-ms-input-placeholder {
    color: #f8f5f3;
    color: rgba(248, 245, 243, 0.8);
}

.medium-editor-toolbar-form a {
    color: #ccc;
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}

.medium-editor-toolbar-form .medium-editor-toolbar-close {
    margin-right: 16px;
}

.medium-editor-toolbar-anchor-preview {
    background: #000;
    border-radius: 50px;
    padding: 5px 12px;
}

.medium-editor-anchor-preview a {
    color: #ccc;
    text-decoration: none;
}

.hidden {
    opacity: 0;
}

.postImage img,
.postVideo iframe {
    display: block;
    margin: auto;
    max-width: 100%;
}

iframe {
    min-width: 500px;
    min-height: 300px;
}

.right-pos {
    display: block;
    margin-left: auto;
}

.icons {
    margin: 10px 0px;
}

.content .btn-component {
    width: 70px;
    height: 60px;
    border-radius: 5px;
    border: solid 2px #cccccc;
    background-color: $white;
    color: $font;
    font-size: 10px;
    margin-right: 8px;
}

.content .btn-component:hover {
    border: solid 2px $btn-yellow;
}

.btn-component img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-top: 10px;
}

.center-pos {
    display: block;
    margin: auto;
}

.mat-card {
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px
}

.mat-card .mat-divider-horizontal {
    position: absolute;
    left: 0;
    width: 100%
}

[dir=rtl] .mat-card .mat-divider-horizontal {
    left: auto;
    right: 0
}

.mat-card .mat-divider-horizontal.mat-divider-inset {
    position: static;
    margin: 0
}

[dir=rtl] .mat-card .mat-divider-horizontal.mat-divider-inset {
    margin-right: 0
}

@media screen and (-ms-high-contrast:active) {
    .mat-card {
        outline: solid 1px
    }
}

.mat-card-actions,
.mat-card-content,
.mat-card-subtitle {
    display: block;
    margin-bottom: 16px
}

.mat-card-title {
    display: block;
    margin-bottom: 8px
}

.mat-card-actions {
    margin-left: -8px;
    margin-right: -8px;
    padding: 8px 0
}

.mat-card-actions-align-end {
    display: flex;
    justify-content: flex-end
}

.mat-card-image {
    width: calc(100% + 32px);
    margin: 0 -16px 16px -16px
}

.mat-card-footer {
    display: block;
    margin: 0 -16px -16px -16px
}

.mat-card-actions .mat-button,
.mat-card-actions .mat-raised-button {
    margin: 0 8px
}

.mat-card-header {
    display: flex;
    flex-direction: row
}

.mat-card-header .mat-card-title {
    margin-bottom: 12px
}

.mat-card-header-text {
    margin: 0 16px
}

.mat-card-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover
}

.mat-card-title-group {
    display: flex;
    justify-content: space-between
}

.mat-card-sm-image {
    width: 80px;
    height: 80px
}

.mat-card-md-image {
    width: 112px;
    height: 112px
}

.mat-card-lg-image {
    width: 152px;
    height: 152px
}

.mat-card-xl-image {
    width: 240px;
    height: 240px;
    margin: -8px
}

.mat-card-title-group>.mat-card-xl-image {
    margin: -8px 0 8px 0
}

@media (max-width:599px) {
    .mat-card-title-group {
        margin: 0
    }

    .mat-card-xl-image {
        margin-left: 0;
        margin-right: 0
    }
}

.mat-card-content>:first-child,
.mat-card>:first-child {
    margin-top: 0 !important;
}

.mat-card-content>:last-child:not(.mat-card-footer),
.mat-card>:last-child:not(.mat-card-footer) {
    margin-bottom: 0 !important;
}

.mat-card-image:first-child {
    margin-top: -16px !important;
    border-top-left-radius: inherit !important;
    border-top-right-radius: inherit !important;
}

.mat-card>.mat-card-actions:last-child {
    margin-bottom: -8px !important;
    padding-bottom: 0 !important;
}

.mat-card-actions .mat-button:first-child,
.mat-card-actions .mat-raised-button:first-child {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.mat-card-title {
    margin-bottom: 8px !important;
}

.mat-card-subtitle:not(:first-child),
.mat-card-title:not(:first-child) {
    margin-top: -4px !important;
}

.mat-card-header .mat-card-subtitle:not(:first-child) {
    margin-top: -8px !important;
}

.mat-card>.mat-card-xl-image:first-child {
    margin-top: -8px !important;
}

.mat-card>.mat-card-xl-image:last-child {
    margin-bottom: -8px !important;
}

@media(max-width:600px) {
    .title {
        font-family: Poppins;
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.3;
        letter-spacing: 0.7px;
        color: #0b0b0b;
    }
}

@media(max-width: 768px) {
    .area-three-dots {
        top: 0px;
    }


    .edit-settings-popover {
        margin-left: -210px;
    }
}

@media(min-width: 700px){
    .col-copy-text{
        margin-left:-1em;
    }
}