<div [class.hidden]="!show">
  <div class="spinner" *ngIf="show" id="spinner">
    <mat-spinner class="mauto" mode="indeterminate" [diameter]="100"></mat-spinner>
  </div>
</div>

<div class='desk-modal'>
  <div class="row">
    <h3 mat-dialog-title>Compartilhar</h3>
    <button class="btn-close" type="button" mat-button [mat-dialog-close]="true" tabindex="-1"><img
        src="assets/img/x.png" srcset="../../../assets/img/x@2x.png 2x,
    ../../../assets/img/x@3x.png 3x" class="x"></button>
  </div>
  <mat-dialog-content class="dialog-permissions">
    <div class="content-modal main-row">
      <div class="row">
        <div class="col-4">
          <div [ngClass]="status[selectedIndex] === 'basicData' ? 'active' : ''">
            <p class="middle-flex p-url" (click)="clickEvent(0)">
              <span class="order">1</span>
              Dados Básicos
            </p>
            <hr class="border" [ngClass]="status[selectedIndex] !== 'basicData' ? '' : 'hide'">
          </div>
          <div [ngClass]="status[selectedIndex] === 'copyright' ? 'active' : ''">
            <p class="middle-flex p-url" (click)="clickEvent(1)">
              <span class="order">2</span>
              Direitos Autorais
            </p>
            <hr class="border" [ngClass]="status[selectedIndex] !== 'copyright' ? '' : 'hide'">
          </div>
          <div [ngClass]="status[selectedIndex] === 'privacyAccess' ? 'active' : ''">
            <p class="middle-flex p-url" (click)="clickEvent(2)">
              <span class="order">3</span>
              Permissões de Acesso
            </p>
            <hr class="border" [ngClass]="status[selectedIndex] !== 'privacyAccess' ? '' : 'hide'">
          </div>
          <div [ngClass]="status[selectedIndex] === 'reflection' ? 'active' : ''">
            <p class="middle-flex p-url" (click)="clickEvent(3)">
              <span class="order">4</span>
              Reflexão
            </p>
            <hr class="border" [ngClass]="status[selectedIndex] !== 'reflection' ? '' : 'hide'">
          </div>
        </div>

        <div class="col-md-8 forms-opt">
          <!-- User basic data - Level 1-->
          <div *ngIf="status[selectedIndex] === 'basicData'">
            <label class="label-avaliacao"><b>Atividades Acadêmicas</b><br>
              Esta publicação se enquadra em alguma atividade acadêmica?<br>
              <select [(ngModel)]="filters.disciplineSelected" class="select-filter"
                (ngModelChange)="onChangeDisciplines($event)" [ngModelOptions]="{standalone: true}">
                <option>Atividade Pessoal</option>
                <option *ngFor="let p of selects.disciplines" [ngValue]="p"
                  [selected]="p.idDisciplina == (data.postConfig.disciplina != null ? data.postConfig.disciplina.idDisciplina : 0)">
                  {{p.nome}}
                </option>
              </select>
            </label>
            <label *ngIf="this.enableAvaliacao" class="label-avaliacao"><b>Avaliação</b><br>
              Esta publicação esta relacionada a alguma avaliação da atividade acadêmica acima?
              <select [(ngModel)]="filters.testSelected" class="select-filter" (ngModelChange)="onChangeTests($event)"
                [ngModelOptions]="{standalone: true}">
                <option>Nenhuma</option>
                <option *ngFor="let p of selects.tests" [ngValue]="p">{{p.nomeAvaliacao}}</option>
              </select>
            </label>
          </div>

          <!-- User basic data - Level 2-->
          <div *ngIf="status[selectedIndex] === 'copyright'" class='copyright'>
            <label class="checkmark-div"><b>Leia abaixo a declação de direitos autorais:</b><br>
              <p class='checkboxbutton-desc'>Declaro, para todos os fins, que a integralidade dos conteúdos que postei
                são de minha
                inteira e exclusiva responsabilidade, bem como de minha autoria, responsabilizando-me civil,
                criminal e administrativamente (regime disciplinar da Unisinos) por todos os
                conteúdos postados nessa base de dados. Caso haja algum questionamento sobre os conteúdos
                por mim postados, a UNISINOS poderá, a qualquer momento, sem consulta prévia à minha pessoa,
                retirar de circulação meus arquivos, sem que haja qualquer direito à indenização. Por final,
                isento a UNISINOS de toda e qualquer responsabilidade sobre os conteúdos postados.
              </p>
              <input type="checkbox" name="copyright" value="0" [(ngModel)]="copyright" [checked]="copyright" required>
              <span class="checkmarkbox"></span>
            </label>

          </div>

          <!--Permissoes de Access - Level 3-->
          <div *ngIf="status[selectedIndex] === 'privacyAccess'">
            <p>Defina agora as opções de visualização desta publicação:</p>
            <label class="radioButton"><b>APENAS MEUS PROFESSORES</b><br>
              Permite que apenas os professores das atividades acadêmicas e do período atual visualizem meu portfólio e
              minhas publicações.
              <input type="radio" name="privacy" value="0" [(ngModel)]="privacy">
              <span class="checkmark"></span>
            </label>
            <label class="radioButton"><b>COMUNIDADE ACADÊMICA</b><br>
              Permite que todos professores e estudantes da universidade encontrem e visualizem meu portfólio e minhas
              publicações.
              <input type="radio" name="privacy" value="1" checked [(ngModel)]="privacy">
              <span class="checkmark"></span>
            </label>
            <label class="radioButton"><b>PÚBLICO</b><br> Permite que qualquer pessoa possa encontrar e visualizar meu
              portfólio e
              minhas publicações públicas.
              <input type="radio" name="privacy" value="2" [(ngModel)]="privacy">
              <span class="checkmark"></span>
            </label>
          </div>

          <!-- Level 4  - Reflexão -->
          <div *ngIf="status[selectedIndex] === 'reflection'">
            <label class=""><b>Quais foram seus principais aprendizados ao desenvolver esse projeto?</b><br>
              <p>(Este conteúdo será apensar visualizada pelos professores e mentores)</p>
            </label>
            <textarea class='reflection-text-area' name="reflection" value="reflection" [(ngModel)]="reflection"
              placeholder="Descreva..."></textarea>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="btn btn-gray back" type="button" *ngIf="status[selectedIndex] === 'basicData' ? false : true"
      (click)="previous()">Voltar</button>
    <button class="btn" [ngClass]="{'continue': status[selectedIndex] === 'basicData'}" type="button"
      *ngIf="status[selectedIndex] === 'reflection' ? false : true" (click)="next()">Continuar</button>
    <button class="btn btn-gray" type="button" *ngIf="status[selectedIndex] === 'reflection' ? true : false"
      (click)="postPublication(false)">Salvar <img src="assets/img/check.svg" *ngIf="configSaved"></button>
    <button class="btn" type="button" *ngIf="status[selectedIndex] === 'reflection' ? true : false"
      (click)="postPublication(true)">Publicar</button>
  </mat-dialog-actions>
</div>

<div class="mobile-modal">
  <div class="row row-nav-modal">
    <div class='col-9'>
      <h3 mat-dialog-title>Configurações da publicação</h3>
    </div>
    <div class="col-3 close-div">
      <button class="btn-close" type="button" mat-button [mat-dialog-close]="true" tabindex="-1"><img
          src="assets/img/x.png" srcset="../../../assets/img/x@2x.png 2x,
      ../../../assets/img/x@3x.png 3x" class="x"></button>
    </div>

  </div>

  <div class='container'>
    <mat-accordion>
      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p class="middle-flex p-url" (click)="clickEvent(0)">
              <span class="order">1</span>
              Dados Básicos
            </p>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <label class="label-avaliacao"><b>Atividades Acadêmicas</b><br>
          Esta publicação se enquadra em alguma atividade acadêmica?<br>
          <select [(ngModel)]="filters.disciplineSelected" class="select-filter"
            (ngModelChange)="onChangeDisciplines($event)" [ngModelOptions]="{standalone: true}">
            <option>Atividade Pessoal</option>
            <option *ngFor="let p of selects.disciplines" [ngValue]="p"
              [selected]="p.idDisciplina == (data.postConfig.disciplina != null ? data.postConfig.disciplina.idDisciplina : 0)">
              {{p.nome}}
            </option>
          </select>
        </label>
        <label *ngIf="this.enableAvaliacao" class="label-avaliacao"><b>Avaliação</b><br>
          Esta publicação esta relacionada a alguma avaliação da atividade acadêmica acima?
          <select [(ngModel)]="filters.testSelected" class="select-filter" (ngModelChange)="onChangeTests($event)"
            [ngModelOptions]="{standalone: true}">
            <option>Nenhuma</option>
            <option *ngFor="let p of selects.tests" [ngValue]="p">{{p.nomeAvaliacao}}</option>
          </select>
        </label>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p class="middle-flex p-url" (click)="clickEvent(1)">
              <span class="order">2</span>
              Direitos Autorais
            </p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="right-div">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <p class="middle-flex rights">
                    Declaração de Direitos
                  </p>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p class='rights-desc'>Declaro, para todos os fins, que a integralidade dos conteúdos que postei
                são de minha
                inteira e exclusiva responsabilidade, bem como de minha autoria, responsabilizando-me civil,
                criminal e administrativamente (regime disciplinar da Unisinos) por todos os
                conteúdos postados nessa base de dados. Caso haja algum questionamento sobre os conteúdos
                por mim postados, a UNISINOS poderá, a qualquer momento, sem consulta prévia à minha pessoa,
                retirar de circulação meus arquivos, sem que haja qualquer direito à indenização. Por final,
                isento a UNISINOS de toda e qualquer responsabilidade sobre os conteúdos postados.
              </p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <span class="checkmarkbox"></span>
        <div class='checkbox-modal col-12'>
          <input class='col-2 input-check' type="checkbox" name="privacy" value="0" [(ngModel)]="copyright"
            [checked]="copyright" required> <span class='col-10'>Aceito as declarações</span>
        </div>
      </mat-expansion-panel>


      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p class="middle-flex p-url" (click)="clickEvent(2)">
              <span class="order">3</span>
              Permissões de Acesso
            </p>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p class='info-mobile'>Defina as opções gerais de visualização do seu Portfólio:</p>
        <label class="radioButton"><b>APENAS MEUS PROFESSORES</b><br>
          <div class='info-mobile'>Permite que apenas os professores das atividades acadêmicas e do período atual
            visualizem meu portfólio e
            minhas publicações.</div>
          <input type="radio" name="privacyMobile" value="0" [(ngModel)]="this.privacy" #privacyControl="ngModel">
          <span class="checkmark"></span>
        </label>
        <label class="radioButton"><b>COMUNIDADE ACADÊMICA</b><br>
          <div class='info-mobile'>Permite que todos professores e estudantes da universidade encontrem e visualizem meu
            portfólio e minhas
            publicações.</div>
          <input type="radio" name="privacyMobile" value="1" [(ngModel)]="this.privacy" #privacyControl="ngModel">
          <span class="checkmark"></span>
        </label>
        <label class="radioButton"><b>PÚBLICO</b><br>
          <div class='info-mobile'>Permite que qualquer pessoa possa encontrar e visualizar meu
            portfólio e
            minhas publicações públicas.</div>
          <input type="radio" name="privacyMobile" value="2" [(ngModel)]="this.privacy" #privacyControl="ngModel">
          <span class="checkmark" [ngClass]="(this.privacy === '2') ? 'checkmark-checked' : 'checkmark' "></span>
        </label>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p class="middle-flex p-url" (click)="clickEvent(3)">
              <span class="order">4</span>
              Reflexão
            </p>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class='content'>

          <textarea class='reflection-text-area-mobile' name="reflection" value="reflection" [(ngModel)]="reflection"
            placeholder="Descreva..."></textarea>
        </div>


      </mat-expansion-panel>
    </mat-accordion>


    <div class='row actions'>
      <div class='col-1 col-sm-4 col-md-4'></div>
      <div class='col-5 col-sm-4 col-md-4'>
        <button class="btn btn-gray" type="button" (click)="postPublication(false)">Salvar <img
            src="assets/img/check.svg" *ngIf="configSaved"></button>
      </div>
      <div class='col-5 col-sm-4 col-md-4'>
        <button class="btn" type="button" (click)="postPublication(true)">Publicar</button>
      </div>
    </div>


  </div>
</div>