@import '~src/styles/global/colors';
@import '~src/styles/global/global';

:host {
    /deep/ {
        .mat-tab-group {
            flex-direction: row;
        }

        .mat-tab-header {
            border-bottom: none;
            border-left: none;
            border-right: none
        }

        .mat-tab-header-pagination {
            display: none !important;
        }

        .mat-tab-labels {
            flex-direction: column;
        }

        .mat-ink-bar {
            height: 100%;
            left: 98% !important;
        }

        .mat-tab-body-wrapper {
            flex: 1 1 auto;
        }

        .mat-form-field {
            width: 230px;
        }

        select.mat-input-element {
            padding-left: 10px;
        }

        .mat-form-field-underline {
            display: none;
        }

        .mat-form-field-infix::after {
            display: none;
        }

    }
}

.mat-dialog-content {
    padding: 0px 24px 0px 0px;
}

.mat-tab-label-active {
    background: $white;
}

.mat-tab-body-content {
    background: $white;
}

.actions {
    width: 100%
}

.dialog-permissions {
    width: 780px;
    border-radius: 3px;
    background-color: $bg-modal;
    min-height: 395px;
}

.p-url {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: $font;
    height: 40px;
    border-radius: 3px;
    padding-left: 11px;
    cursor: pointer;
}

.rights {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: $font;
    height: 40px;
    border-radius: 3px;
    padding-left: 23px;
    cursor: pointer;
}

.active p {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    background-color: $white;
    color: $btn-yellow;
}

.border {
    margin-top: -15px;
    width: 100%;
    border-top: 1px solid #d4d4d4;
    border-left: none;
    border-bottom: none;
}

.checkmark-checked {
    background: black
}

.checkmark:after {
    background: black
}

input:active {
    background: black;
}

.hide {
    border-top: transparent;
}

.forms-opt {
    background: $white;
    padding: 15px;
    color: $font;
    font-size: 14px !important;
    min-height: 373px;
}

.forms-opt .checkboxbutton-desc {
    padding-top: 13px;
    font-size: 14px !important;
    padding-left: 28px;
}


.rights-desc {
    padding-top: 13px;
    font-size: 10px !important;
}


.feedback-section-text-area {
    color: $font;
    margin-left: 35px;
    width: 90%;
    height: 188px;
    border-radius: 4px;
}

.mat-select-value {
    font-size: 112px;
    border-bottom: none;
}

.select-academic {
    border: solid 1px $border-input;
    border-radius: 4px;
    height: 34px;
}

.btn-gray {
    width: 84px;
    height: 40px;
    display: block;
    margin: 0 30px 0 0 !important;
    margin-right: 30px;
    border: solid 1px $border-button;
}

.btn-gray:hover {
    border-color: $select-gray;
}

.back {
    margin-left: auto !important;
}

.continue {
    margin-left: auto !important;
}

.btn {
    width: 108px;
    height: 40px;
    font-weight: 500;
    font-size: 13px;
    border-radius: 3px;
    display: block;
}

.btn-close {
    margin-left: auto;
    background: none;
    border: none;
}

input {
    background: none;
    padding-left: 210px;
}

.placeholder {
    position: relative;
}

.placeholder::after {
    position: absolute;
    left: 45px;
    top: 15px;
    content: attr(data-placeholder);
    pointer-events: none;
    opacity: 0.6;
}

.icons {
    width: 23px;
    height: 22px;
    margin-right: 5px;
}

.message {
    text-align: center;
    margin-top: 15px;
    margin-left: 5px;
    letter-spacing: 0.4px;
    max-width: 80%;
}

.div-icons {
    margin: auto;
    width: 100%;
}

.select-filter {
    width: 323px;
    height: 34px;
    border-radius: 4px;
    border: solid 1px #c0c0c0;
    background-color: #ffffff;
}

.order {
    width: 17px;
    height: 17px;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.55;
    letter-spacing: normal;
    text-align: center;
    color: $font;
    border: 1px solid $border-order;
    border-radius: 50%;
    margin-right: 14px;
}

.reflection-text-area {
    min-width: 440px;
    min-height: 188px;
    border-radius: 4px;
    border: solid 1px #c0c0c0;
    background-color: #ffffff;
}

.label-avaliacao {
    margin-top: 0px;
    margin-bottom: 30px;
}

.new-line {
    display: none
}

.checkmarkbox {
    top: 67px;
    left: 30px;
}

@media(min-width:850px) {
    .mobile-modal {
        display: none;
    }
}

@media(max-width:850px) {
    .mat-expansion-panel-spacing {
        margin: 0px !important;
    }

    .close-div {
        margin-bottom: 2em;
    }

    .select-filter {
        width: 90%;
        height: 34px;

    }

    .row-nav-modal {
        margin-bottom: 1.0em;
    }


    .p-url {
        padding-left: 5px;
        cursor: pointer;
    }


    .mat-expansion-panel-header {
        border-left: none;
        border-top: none;
    }

    .mat-expanded .mat-expansion-panel-header {
        background: white;
    }

    .mat-expanded .mat-expansion-panel-header p {
        font-weight: 600;
        color: $btn-yellow !important
    }

    mat-expansion-panel-content {
        background: white !important
    }

    .mat-expansion-panel-body {
        background: white !important
    }

    .desk-modal {
        display: none;
    }

    .reflection-text-area-mobile {
        width: 80%;
        min-height: 188px;
        border-radius: 4px;
        border: solid 1px #c0c0c0;
        background-color: #ffffff;
    }

    .btn {
        margin-left: auto;
        display: block;
        margin-bottom: 0.5em;
    }

    .label-avaliacao {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .right-div {
        margin-bottom: 15px;
    }

    .right-div,
    .rights {
        margin-top: 15px;
    }
}

@media(max-width:430px) {
    .mobile-hidden {
        display: none
    }

}

@media(max-width:600px) {
    .info-mobile {
        display: none
    }

    .checkmark-div {
        font-size: 10px;
    }

    .label-avaliacao {
        font-size: 12px;
    }

}

@media(max-width:380px) {
    .new-line {
        display: block
    }
}