@import '~src/styles/global/colors';
@import '~src/styles/global/helper';


.btn {
    border: solid 1px #dddddd;
    background: transparent;
    color: $font;
    font-size: 13px;
    margin-left: 13px;
    width: 180px;
}

.span-share {
    margin-left: auto;
    margin-right: auto;
}

.col-nome {
    padding-left: 0;
}

.btn:hover {
    background: white;
}

.share-icon {
    width: 18px;
    height: 20px;
    object-fit: contain;
    margin-left: 13px;
}

.social-buttons {
    margin-top: 0em;
    padding-left: 0px !important;
}

.social-btn {
    padding-right: 1em;
    margin-left: 0px;
    margin-top: 0.5em
}

.city {
    margin-right: auto;
    margin-left: 10px;
    margin-top: 20px;
}

.span-info {
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    height: 100%;
    letter-spacing: 0.4px;
    color: $font;
    font-size: 12px;
    font-weight: 600;
}

.span-info a {

    color: $font
}

.span-info a:hover {
    text-decoration: none;

}

.span-info a:visited {
    text-decoration: none;
    color: $font;
}


.info {
    background: $bg-gray-light2;
    padding: 16px 3em;
    padding-bottom: 70px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.mat-accordion {
    width: 30%;
    padding-left: 0px !important;
}

#accordion-student {
    padding-left: 15px !important;
}



.mob-order-alignment {
    margin-top: auto;
    margin-bottom: auto;
}

.span-ordern {
    margin-top: auto;
    margin-bottom: auto;
}

.course-row {
    margin-bottom: 1em;
}

.accordion-row {
    margin: 0;
    margin-top: 2em;

}

.info .container {
    margin-top: 40px;
}

.user-img {
    object-fit: cover;
    border-radius: 50%;
    height: 166px;
    width: 166px;
}

.fg-footer {
    margin-top: 30px;
}


.nome-row {
    margin-bottom: 0;
}


.nome {
    margin-left: 0;
    font-size: 45px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.8px;
    color: $font-black;
    margin-bottom: -0.3em;
}

.curso {
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: $font;
    margin-top: 10px;

}

.professor {
    margin-top: -20px;
    padding-left: 0.2em;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: $font;
}

.pin-map {
    margin-bottom: 10px;

}

.map-pin {
    width: 18px;
    height: 18px;
}

.at-sign {
    width: 26px;
    height: 26px;
}


img {
    margin-right: 10px;
}

.user {
    display: inline-block;
    position: relative;
}

.user:hover {
    .edit-photo {
        display: block;
        cursor: pointer;
    }
}


.span-info {
    align-items: center;
    height: 100%;
    letter-spacing: 0.4px;
    color: $font;
    font-size: 12px;
    font-weight: 600;
}

.input-img {
    position: absolute;
    bottom: calc(50% - 15px);
    right: calc(50% - 40px);
    margin: auto;
    width: 90px;
    height: 32px;
    vertical-align: middle;
    border-radius: 3px;
    border: solid 1px $border-button;
    background-color: $white;
    opacity: 0;
}

.edit-photo {
    display: none;
    position: absolute;
    bottom: calc(50% - 66px);
    right: calc(50% - 35px);
    margin: auto;
    width: 80px;
    height: 32px;
    border-radius: 3px;
    border: solid 1px $border-button;
    background-color: $white;
}

.edit-photo p {
    font-size: 11px;
    letter-spacing: 0.4px;
    color: $font;
    text-align: right;
    width: 100%;
    margin-top: 20px;
}

.edit-photo img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.no-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5em 0;
    overflow: hidden;
}

.high-five {
    padding-bottom: 30px;
}

.btn-new {
    font-size: 13px;
}

.filter {
    width: 12px;
    height: 11px;
    object-fit: contain;
    margin-top: 6px;
    margin-left: 6px;
}


.mat-expansion-panel .mat-expanded {
    box-shadow: none !important;
    background: $white;
    height: 500px;
}

.mat-expansion-panel-header {
    max-height: 36px !important;
    width: 77px !important;
    padding: 0 0 0 20px;
}

span.mat-expansion-indicator {
    display: none !important;
}

/deep/ .mat-expansion-indicator::after {
    color: transparent
}

.p-filter {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: $font;
    margin-bottom: -1px;
}

.label-filter {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: $font;
    margin-right: 0
}

.select-filter {
    width: 100%;
    height: 34px;
    border-radius: 4px;
    border: solid 1px $border-input;
    background-color: $white;
    color: $font;
}

.div-select {
    min-height: 90px;
    padding-top: 50px;
    width: 80%;
    margin-right: 3em;
    background: $white;
    margin-left: -25px;
    padding-left: 25px;
}

.div-order {
    display: block;
    margin-left: auto;
    height: 50px;
}

.order-mob {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 13px;
    margin-left: auto
}

.order-mob .mobile-order {
    float: right;
    font-size: 12px;
}

.div-order-2 {
    width: 100%;
    font-family: Poppins !important;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: $font;
    margin-right: 0
}

.div-order span {
    width: 75px;
    height: 18px;
    font-family: Poppins;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: $font;

}

select#select-academic {
    border: solid 1px $border-input;
    border-radius: 4px;
    width: 125px;
    font-size: 12px;
    height: 34px;
    color: $font;
    float: right;
    background-color: transparent;
}

.mat-tab-group {
    margin-top: 30px;
}

.order {
    font-size: 11px;
    letter-spacing: 0.4px;
    color: $font;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label:hover {
    background-color: $bg-modal;
}


::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    font-weight: 500;
    opacity: 1;
}

.mat-dialog-container {
    // padding:0 !important;
}


@media (max-width: 750px) {
    .btn2-filter {
        position: relative;
        width: 70px;
        margin-left: auto;
        display: block;
        float: right;
        margin-right: 2em;
    }

    .select-filter {
        width: 90%;
    }

    .mat-accordion {
        width: 30%;
    }



    select#select-academic {
        width: 120px;
        height: 37px;
    }

    .mat-expansion-panel {
        width: 450%;
    }


}


@media(min-width:1200px) {

    select#select-academic {
        width: 170px;
    }
}

@media(max-width: 370px) {

    select#select-academic {
        width: 110px;
        font-size: 10px;
        height: 37px;
    }

    .mat-expansion-panel {
        width: 450%;
    }

    .nome {
        padding-top: 10px;
        margin-bottom: 0px;
    }

    .span-info {
        font-size: 15px;
        align-items: center;
    }

    .p-filter {
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 0.4px;
        color: $font;
        margin-bottom: -1px;
    }

}


@media(min-width: 550px) {
    .mat-expansion-panel {
        width: 150%;
    }

    .user-info {
        margin-left: 25px;
    }

    .div-select {
        width: 100%;
        z-index: 200 !important
    }

}


@media(min-width:1000px) {
    .div-select {
        width: 100%;
        z-index: 200 !important;
        padding-right: 50px;
    }

}

/*Adjus text line size for mobile version */

@media(max-width:550px) {
    .btn-content {
        width: 250px;
    }

    .nome {
        line-height: 100%;
        font-size: 35px;
    }

    .span-info {
        font-size: 12px;
    }
}

.mobile-order {
    margin-left: auto;
}

@media(max-width: 1000px) {
    .mobile-order {
        margin-left: auto;
        display: none
    }
}

@media(max-width: 520px) {

    .user-img {
        object-fit: cover;
        height: 110px;
        width: 110px;
    }

    .nome {
        margin-top: 1em;
        font-size: 30px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 1.1px;
    }
}

@media(max-width:980px) {
    .social-btn {
        margin-top: 0.5em;
        margin-left: 0;
        padding-left: 0;
    }
}

@media(max-width:550px) {
    .social-buttons {
        margin-top: 0;
    }

    .span-info {
        font-size: 10px;
    }

    .city {
        margin-left: 0em;
    }

    .at-sign {
        width: 18px;
        height: 18px;
    }

}

@media(min-width:960px)and(max-width:1200px) {
    .twitter {
        padding-left: 0px;
    }
}