
<app-header-portfolio [isNewPost]='false'></app-header-portfolio>
<div [class.hidden]="!show">
  <div class="spinner" *ngIf="show" id="spinner">
    <mat-spinner class="mauto" mode="indeterminate" [diameter]="100"></mat-spinner>
  </div>
</div>
<div class='portfolio-students'>
  <div class='container'>
      <mat-tab-group>
          <mat-tab label="Publicações">
              <div class='row accordion-row'>
                  <mat-accordion *ngIf="hasFilters" class='col-7 col-xs-1 col-sm-8 col-md-9 col-lg-8'>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                      <mat-expansion-panel-header class="mat-filtro">
                        <mat-panel-title>
                          <div class="middle-flex">
                            <p class="p-filter">Filtro</p>
                            <img src="assets/img/filter.png" srcset="../../../assets/img/filter@2x.png 2x,
                            ../../../assets/img/filter@3x.png 3x" class="filter">
                          </div>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="div-select row">
                        <label class="label-filter col-6 col-xs-12 col-sm-12 col-md-1 col-lg-1">Período<br>
                          <select [(ngModel)]="filters.periodSelected" class="select-filter"
                            (ngModelChange)="onChangePeriods($event)">
                            <option>Todos</option>
                            <option *ngFor="let p of selects.periods" [ngValue]="p">{{p.nome}}</option>
                          </select>
                        </label>
                        <label class="label-filter col-6 col-sm-12 col-md-2 col-lg-2">Curso<br>
                          <select (ngModelChange)="onChangeCurso($event)" [(ngModel)]="filters.courseSelected" class="select-filter">
                            <option>Todos</option>
                            <option *ngFor="let p of selects.courses" [ngValue]="p">{{p.nome}}</option>
                          </select>
                        </label>
                        <label class="label-filter col-6 col-xs-10 col-sm-12 col-md-2 col-lg-2">Ativ. Acadêmica<br>
                          <select [(ngModel)]="filters.disciplineSelected" class="select-filter"
                            (ngModelChange)="onChangeDisciplines($event)">
                            <option>Todas</option>
                            <option *ngFor="let p of selects.disciplines" [ngValue]="p">{{p.nome}}</option>
                          </select>
                        </label>
                       
                        <label class="label-filter col-6 col-sm-12 col-md-2 col-lg-2">Aluno<br>
                          <input [(ngModel)]="filters.nameUser" (click)='clearText()' class='select-filter' list="userNames"
                            value="Todos">
                          <datalist id="userNames">
                            <option>Digite o nome ...</option>
                            <option *ngFor="let user of this.users" [ngValue]="user">{{user.nome}}</option>
                          </datalist>
                        </label>
                        <label class="label-filter col-6 col-xs-12 col-sm-12 col-md-1 col-lg-1"><br>
                          <button class="btn2-filter pull-right" (click)="submitFilters()">Aplicar</button>
                        </label>
            
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                  <div *ngIf="!panelOpenState" class="div-order row col-2 col-xs-1 col-sm-3 col-md-2 col-lg-3">
            
                    <span class='mobile-order' *ngIf='hasFilters'>Ordenar Por: </span>
                    <select [(ngModel)]="this.optionSelected" *ngIf="hasFilters" matNativeControl id="select-academic"
                      (ngModelChange)="onChangeOrder($event)">
                      <option [ngValue]="0" ng-selected="selected">Recentes</option>
                      <option [ngValue]="1">Antigos</option>
                      <option [ngValue]="2">Ordem Alfabética (A>Z)</option>
                      <option [ngValue]="3">Ordem Alfabética (Z>A)</option>
                    </select>
                  </div>
              </div>
            
                <div *ngIf="panelOpenState" class="div-order-2 row">
                    <div class='col-7 col-md-8'></div>
                    <div class='col-2 col-md-2 order-mob'>
                        <span class='mobile-order' *ngIf='hasFilters'>Ordenar Por: </span>
                    </div>
                    <select class='col-3 col-md-2' [(ngModel)]="this.optionSelected" *ngIf="hasFilters" matNativeControl id="select-academic"
                      (ngModelChange)="onChangeOrder($event)">
                      <option [ngValue]="0" ng-selected="selected">Recentes</option>
                      <option [ngValue]="1">Antigos</option>
                      <option [ngValue]="2">Ordem Alfabética (A>Z)</option>
                      <option [ngValue]="3">Ordem Alfabética (Z>A)</option>
                    </select>
                  </div>
            
            
                <div class="no-content" *ngIf="!this.show && !hasPublications">
                  <div class="row">
                    <div class="col-md-12">
                      <img src="assets/img/noun-empty.png" srcset="../../../assets/img/noun-empty@2x.png 2x,
                              ../../../assets/img/noun-empty@3x.png 3x" class="high-five">
                    </div>
                    <div class="col-md-12">
                      <p *ngIf='!this.mensageFilterEmpty' class="fs16 bold font-color">Ainda não existem publicações.</p>
                      <p *ngIf='this.mensageFilterEmpty' class="fs16 bold font-color">Não existem resultados para o filtro
                        aplicado.</p>
                    </div>
            
                  </div>
                </div>
            
                <div *ngIf="hasPublications">
                  <app-publications [publicacoes]="publications"></app-publications>
                </div>
            
            
                <div class="row">
                  <button *ngIf='this.visibleMorePublication' type="button" class="btn-gray" (click)="UpdateMorePublication()">
                    + Mais publicações
                  </button>
                </div>
          </mat-tab>

          <mat-tab label="Portfólios">
            <div class='row accordion-row'>
                <mat-accordion *ngIf="hasFiltersPortfolio" class='col-7 col-xs-1 col-sm-8 col-md-9 col-lg-8'>
                  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header class="mat-filtro">
                      <mat-panel-title>
                        <div class="middle-flex">
                          <p class="p-filter">Filtro</p>
                          <img src="assets/img/filter.png" srcset="../../../assets/img/filter@2x.png 2x,
                          ../../../assets/img/filter@3x.png 3x" class="filter">
                        </div>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="div-select row">
                      <label class="label-filter col-6 col-xs-12 col-sm-12 col-md-1 col-lg-1">Período<br>
                        <select [(ngModel)]="filters.periodSelected" class="select-filter"
                          (ngModelChange)="onChangePeriods($event)">
                          <option>Todos</option>
                          <option *ngFor="let p of selects.periods" [ngValue]="p">{{p.nome}}</option>
                        </select>
                      </label>
                      <label class="label-filter col-6 col-sm-12 col-md-2 col-lg-2">Curso<br>
                        <select (ngModelChange)="onChangeCurso($event)" [(ngModel)]="filters.courseSelected" class="select-filter">
                          <option>Todos</option>
                          <option *ngFor="let p of selects.courses" [ngValue]="p">{{p.nome}}</option>
                        </select>
                      </label>
                      <label class="label-filter col-6 col-xs-10 col-sm-12 col-md-2 col-lg-2">Ativ. Acadêmica<br>
                        <select [(ngModel)]="filters.disciplineSelected" class="select-filter"
                          (ngModelChange)="onChangeDisciplines($event)">
                          <option>Todas</option>
                          <option *ngFor="let p of selects.disciplines" [ngValue]="p">{{p.nome}}</option>
                        </select>
                      </label>
                     
                      <label *ngIf='false' class="label-filter col-6 col-sm-12 col-md-2 col-lg-2">Aluno<br>
                        <input [(ngModel)]="filters.nameUser" (click)='clearText()' class='select-filter' list="userNames"
                          value="Todos">
                        <datalist id="userNames">
                          <option>Digite o nome ...</option>
                          <option *ngFor="let user of this.users" [ngValue]="user">{{user.nome}}</option>
                        </datalist>
                      </label>
                      <label class="label-filter col-6 col-xs-12 col-sm-12 col-md-1 col-lg-1"><br>
                        <button class="btn2-filter pull-right" (click)="submitFiltersPortfolios()">Aplicar</button>
                      </label>
          
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
                <div *ngIf="!panelOpenState && hasFiltersPortfolio" class="div-order row col-2 col-xs-1 col-sm-3 col-md-2 col-lg-3">
          
                  <span class='mobile-order' *ngIf='hasFiltersPortfolio'>Ordenar Por: </span>
                  <select [(ngModel)]="this.optionPortfolio" *ngIf="hasFiltersPortfolio" matNativeControl id="select-academic"
                    (ngModelChange)="onChangeOrderPortfolio($event)">

                    <option [ngValue]="2" ng-selected="selected">Ordem Alfabética (A>Z)</option>
                    <option [ngValue]="3">Ordem Alfabética (Z>A)</option>
                  </select>
                </div>
            </div>
          
              <div *ngIf="panelOpenState && hasFiltersPortfolio" class="div-order-2 row">
                  <div class='col-7 col-md-8'></div>
                  <div class='col-2 col-md-2 order-mob'>
                      <span class='mobile-order' *ngIf='hasFiltersPortfolio'>Ordenar Por: </span>
                  </div>
                  <select class='col-3 col-md-2' [(ngModel)]="this.optionPortfolio" *ngIf="hasFilters" matNativeControl id="select-academic"
                    (ngModelChange)="onChangeOrderPortfolio($event)">
                    <option [ngValue]="2" ng-selected="selected">Ordem Alfabética (A>Z)</option>
                    <option [ngValue]="3">Ordem Alfabética (Z>A)</option>
                  </select>
                </div>
          
          
              <div class="no-content" *ngIf="!this.show && !hasPortfolios">
                <div class="row">
                  <div class="col-md-12">
                    <img src="assets/img/noun-empty.png" srcset="../../../assets/img/noun-empty@2x.png 2x,
                            ../../../assets/img/noun-empty@3x.png 3x" class="high-five">
                  </div>
                  <div class="col-md-12">
                    <p *ngIf='!this.mensageFilterEmptyPortfolio' class="fs16 bold font-color">Ainda não existem portfólios.</p>
                    <p *ngIf='this.mensageFilterEmptyPortfolio' class="fs16 bold font-color">Não existem resultados para o filtro
                      aplicado.</p>
                  </div>
          
                </div>
              </div>
          
              <div *ngIf="hasPortfolios">
                <app-portfolios [portfolios]="this.portfolios"></app-portfolios>
              </div>
          
              <div class="row">
                <button *ngIf='this.visibleMorePortfolios' type="button" class="btn-gray" 
                (click)="UpdateMorePortfolios()">
                  + Mais Resultados
                </button>
              </div>
        </mat-tab>
      </mat-tab-group>
    </div>
</div>

<div class="fg-footer">
  <app-footer></app-footer>
</div>





